<div class="login-container flip-container">
    <div class="flipper" data-ng-class="{'flipped' : (loginCtrl.action !== 'login')}">
        <login-form
            class="login-panel flip-front flip-panel"
            user="loginCtrl.user"
            is-busy="loginCtrl.isBusy"
            user-id-pattern="loginCtrl.userIdPattern"
            login="loginCtrl.login(user)"
            set-action="loginCtrl.setAction(action)">
        </login-form>

        <forgot-password
            data-ng-hide="loginCtrl.action !== 'forgotPassword'"
            class="login-panel flip-back flip-panel"
            user="loginCtrl.user"
            user-id-pattern="loginCtrl.userIdPattern"
            reset-password="loginCtrl.resetPassword(user)"
            set-action="loginCtrl.setAction(action)">
        </forgot-password>

        <div
            data-ng-hide="loginCtrl.action !== 'authorization'"
            class="login-panel flip-back flip-panel">

            <p data-ng-if="!loginCtrl.notAuthorized">Logging in</p>
            <div data-ng-if="loginCtrl.notAuthorized">
                <p class="status-message status-error">You are not authorized to use this system.</p>
                <button type="button" class="btn btn-link" data-ng-click="loginCtrl.reset()"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</button>
            </div>
        </div>
    </div>
</div>
