@import '../../../scss/variables';

$login-width:       320px;
$login-height:      320px;
$login-background:  $body-bg;

.login-container {
    margin: $gutter-full auto 0;
    width: $login-width;

    .flipper,
    .login-panel,
    .reset-password-panel {
        height: $login-height;
        width: $login-width;
    }

    .reset-password-panel {
        height: auto;
    }

    .form-actions {
        padding: $offset-default 0 0;
    }
}

.flipper,
.register-panel,
.reset-password-panel {
    box-shadow: $shadow-default;
}

.login-panel,
.register-panel,
.reset-password-panel {
    padding: $gutter-half $padding-large $padding-large;
}

.register-panel {
    margin: $offset-large 0;
}
