<form>
    <fieldset>
        <legend>Sample Set</legend>
    </fieldset>
    <fieldset>
        <legend>House Plan</legend>
    </fieldset>
    <fieldset>
        <legend>Builder</legend>
    </fieldset>
    <fieldset>
        <legend>Rating Type</legend>
        <div class="field-list">
            <div class="field">
                <label for="RatingType" class="sr-only">Rating Type</label>
                <input id="RatingType" type="text" data-ng-model="jobCtrl.job.RatingType" />
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Location</legend>
        <div class="field-list">
            <div class="field">
                <label for="RatingType" class="sr-only">Location</label>
                <input id="RatingType" type="text" data-ng-model="jobCtrl.job.AddressInformation" />
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>House Front Photo</legend>
    </fieldset>
    <fieldset>
        <legend>HVAC Design Report</legend>
    </fieldset>
    <fieldset>
        <legend>Rater Design Review Checklist</legend>
    </fieldset>
</form>
