@import '../../../../scss/variables';

.table-users {
    .ellipsis {
        max-width: 50px;
    }

    .authorization-checkbox {
        width: 100px;
    }
}

.save-users {
    .btn {
        margin-right: $offset-large;
    }

    .status-message {
        margin-bottom: 0;
    }
}
