<table class="table-full-width">
    <thead>
        <tr>
            <th>Rater ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Status</th>
            <th>Version 3<br />Trained?</th>
            <th><span class="sr-only">Actions</span></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>12345678</td>
            <td>Jeff Jefferson</td>
            <td>jeff.jefferson@ratingcompany.com</td>
            <td>Rater</td>
            <td>Active</td>
            <td>Yes</td>
            <td>
                <button class="btn btn-link btn-no-label" type="button" aria-label="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                <button class="btn btn-link btn-no-label" type="button" aria-label="Remove"><i class="fa fa-remove" aria-hidden="true"></i></button>
            </td>
        </tr>
    </tbody>
</table>
