<table class="table-full-width table-users">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th class="column-rater-id" data-ng-if="usersCtrl.organizaitonTypes.RaterOrg">Rater ID</th>
            <th class="column-authorization-checkbox" data-ng-if="usersCtrl.organizaitonTypes.RaterOrg">Rater</th>
            <th class="column-eligibility" data-ng-if="usersCtrl.organizaitonTypes.RaterOrg">Credentials</th>
            <th class="column-authorization-checkbox" data-ng-if="usersCtrl.organizaitonTypes.RaterOrg">Rater<br />Admin</th>
            <th class="column-authorization-checkbox" data-ng-if="usersCtrl.organizaitonTypes.ProviderOrg">Provider</th>
            <th class="column-authorization-checkbox"></th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="user in usersCtrl.users">
            <td class="ellipsis">{{::usersCtrl.formatName(user)}}</td>

            <td class="ellipsis">{{::user.Email}}</td>

            <td class="column-rater-id" data-ng-if="usersCtrl.organizaitonTypes.RaterOrg">{{::user.RESNET_ID}}</td>

            <td class="column-authorization-checkbox" data-ng-if="usersCtrl.organizaitonTypes.RaterOrg">
                <i class="fa fa-check-circle-o has-access" aria-label="User has rater status" data-ng-if="user.authorizations.Rater"></i>
            </td>

            <td class="ellipsis column-eligibility" data-ng-if="usersCtrl.organizaitonTypes.RaterOrg">{{::user.Eligibility}}</td>

            <td class="column-authorization-checkbox" data-ng-if="usersCtrl.organizaitonTypes.RaterOrg">
                <i class="fa fa-check-circle-o has-access" aria-label="User has admin status" data-ng-if="user.authorizations.Admin"></i>
            </td>

            <td class="column-authorization-checkbox" data-ng-if="usersCtrl.organizaitonTypes.ProviderOrg">
                <i class="fa fa-check-circle-o has-access" aria-label="User has provider status" data-ng-if="user.authorizations.Provider"></i>
            </td>

            <td class="column-authorization-checkbox" data-ng-if="usersCtrl.organizaitonTypes.RaterOrg">
                <button class="btn btn-default btn-sm"
                    ng-click="usersCtrl.openEditUserModal(user.CognitoId)">{{(user.CognitoId === usersCtrl.currentUserCognitoId) ? 'View' : 'Edit'}}</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="flex-row save-users">
    <status-message class="flex-item-grow" status="usersCtrl.message"></status-message>
</div>

<form class="modal modal-large modal-scroll-body hidden" modal="modal" id="modal-edit-user" ng-if="usersCtrl.editUser">
    <div class="modal-header flex-row">
        <div class="flex-item-static">
            <button ng-disabled="usersCtrl.isSaving" class="btn btn-link btn-modal-close" type="button">Close</button>
        </div>

        <span class="modal-title flex-item-grow">Edit User</span>

        <div class="flex-item-static" data-ng-if="usersCtrl.editUser.CognitoId !== usersCtrl.currentUserCognitoId">
            <button
                ng-disabled="usersCtrl.isSaving"
                class="btn pull-right"
                data-ng-click="usersCtrl.saveUser(usersCtrl.editUser)"
                type="submit">

                <i ng-show="usersCtrl.isSaving" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
                Save
            </button>
        </div>
    </div>

    <div class="modal-body-wrapper">
        <div class="modal-body">
            <div class="row">
                <div class="form-group col-xs-6">
                    <span class="control-label">
                        Name
                    </span>

                    <p class="form-control-static">
                        {{usersCtrl.formatName(usersCtrl.editUser)}}
                    </p>
                </div>

                <div class="form-group col-xs-6">
                    <span class="control-label">
                        Email
                    </span>

                    <p class="form-control-static">
                        {{usersCtrl.editUser.Email}}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-6" data-ng-if="usersCtrl.organizaitonTypes.RaterOrg">
                    <span class="control-label">
                        Credentials
                    </span>

                    <p class="form-control-static">
                        {{usersCtrl.editUser.Eligibility}}
                    </p>
                </div>

                <div class="form-group col-xs-6" data-ng-if="usersCtrl.organizaitonTypes.RaterOrg">
                    <span class="control-label">
                        Rater ID
                    </span>

                    <p class="form-control-static">
                        {{usersCtrl.editUser.RESNET_ID || 'none'}}
                    </p>
                </div>
            </div>

            <div class="form-group" data-ng-if="usersCtrl.organizaitonTypes.RaterOrg && usersCtrl.editUser.authorizations.OrgTypeRater">
                <div class="tooltip-wrapper tooltip-wrapper-right" data-ng-class="{'tooltip-enabled' : usersCtrl.editUser.CognitoId === usersCtrl.currentUserCognitoId}">
                    <label><input data-ng-disabled="usersCtrl.editUser.CognitoId === usersCtrl.currentUserCognitoId" data-ng-model="usersCtrl.editUser.authorizations.Rater" type="checkbox" /> Rater</label>
                    <p class="tooltip">You cannot change your own rater status. Please have another admin make this change.</p>
                </div>
            </div>

            <div class="form-group" data-ng-if="usersCtrl.organizaitonTypes.RaterOrg">
                <div class="tooltip-wrapper tooltip-wrapper-right" data-ng-class="{'tooltip-enabled' : usersCtrl.editUser.CognitoId === usersCtrl.currentUserCognitoId}">
                    <label><input data-ng-disabled="usersCtrl.editUser.CognitoId === usersCtrl.currentUserCognitoId" data-ng-model="usersCtrl.editUser.authorizations.Admin" type="checkbox" /> Rater Admin</label>
                    <p class="tooltip">You cannot change your own rater admin status. Please have another admin make this change.</p>
                </div>
            </div>

            <div class="form-group" data-ng-if="usersCtrl.organizaitonTypes.ProviderOrg && usersCtrl.editUser.authorizations.OrgTypeRater">
                <div class="tooltip-wrapper tooltip-wrapper-right" data-ng-class="{'tooltip-enabled' : usersCtrl.editUser.CognitoId === usersCtrl.currentUserCognitoId}">
                    <label><input data-ng-disabled="usersCtrl.editUser.CognitoId === usersCtrl.currentUserCognitoId" data-ng-model="usersCtrl.editUser.authorizations.Provider" type="checkbox" /> Provider</label>
                    <p class="tooltip">You cannot change your own provider status. Please have another provider make this change.</p>
                </div>
            </div>
        </div>
    </div>
</form>
