<section class="page-container">
    <header class="page-header">
        <h2>Users</h2>
    </header>

    <div class="row">
        <div class="col-xs-2" data-ng-if="usersPageCtrl.organizationTypes.RaterOrg">
            <nav class="nav nav-stacked">
                <a data-ui-sref="users" ui-sref-active="active" class="nav-item">Users</a>
                <a data-ui-sref="providers" ui-sref-active="active" class="nav-item">Providers</a>
            </nav>
        </div>

        <div class="users" data-ng-class="{'col-xs-10' : usersPageCtrl.organizationTypes.RaterOrg, 'col-xs-12' : !usersPageCtrl.organizationTypes.RaterOrg}">
            <users users="usersPageCtrl.users" on-save-users="usersPageCtrl.saveUsers(users)"></users>
        </div>
    </div>
</section>

<div class="dialog hidden" dialog="dialog" id="dialog-add-provider-company">
    <div class="dialog-header">
        <h3 class="dialog-title">Add Provider Company</h3>
    </div>
    <div class="dialog-body">
        <div class="form-group">
            <label for="selectedProviderToAdd" class="control-label">Select a provider to add</label>
            <select
                class="form-control"
                data-ng-model="usersPageCtrl.selectedProviderToAdd"
                id="selectedProviderToAdd"
                data-ng-options="provider.Name for provider in usersPageCtrl.providerCompanies track by provider.ProviderRESNETId">
            </select>
        </div>

        <p>You will not be able to submit jobs until providers have approved your association.</p>
    </div>
    <div class="dialog-footer text-right">
        <button class="btn btn-link" type="button" data-ng-click="dismiss(false)">Cancel</button>
        <button class="btn" data-ng-click="dismiss(true)">Add</button>
    </div>
</div>
