<div class="job-toggle flex-item-static flex-row flex-align-center">
    <toggle
        handle-change="jobRaterCtrl.handleAvailableOfflineChange(isOn)"
        toggle-class="jobRaterCtrl.toggleStatusClass"
        toggle-confirmation-dialog="{{::jobRaterCtrl.OFFLINE_CONFIRMATION_DIALOG}}"
        toggle-disabled-dialog="{{::jobRaterCtrl.OFFLINE_DISABLED_DIALOG}}"
        toggle-id="{{::jobRaterCtrl.job._id}}"
        toggle-value="jobRaterCtrl.job.offlineAvailable">Make Job Available offline: <span data-ng-bind-html="jobRaterCtrl.JobTitle"></span></span>
    </toggle>
</div>

<!-- data-ui-sref="job-checklist.category({id: jobRaterCtrl.job._id, houseId: jobRaterCtrl.job.Primary.HouseId, categoryId: 'walls'})" -->

<div aria-labelledby="job-{{jobRaterCtrl.job._id}}"
    class="job job-rater flex-row flex-align-center flex-item-grow"
    data-ng-class="{'job-returned': jobRaterCtrl.hasStatusLabel()}"
    ng-click="jobRaterCtrl.openJob()"
    tabindex="0">

    <div class="job-info flex-item-grow">
        <div class="job-meta flex-row">
            <span class="label-rating-type" data-ng-class="jobRaterCtrl.RatingTypeClass">{{::jobRaterCtrl.RatingType}}</span>
            <span class="label label-sample-set" data-ng-if="::jobRaterCtrl.isSample">Sample Set: {{::jobRaterCtrl.job.SampleSize}} <i class="fa fa-map-marker" aria-hidden="true"></i></span>
            <span class="last-update small"><strong>{{::jobRaterCtrl.lastUpdateType}}:</strong> {{::jobRaterCtrl.lastUpdateTime}}</span>
        </div>

        <h3 class="list-item-title job-title" id="job-{{jobRaterCtrl.job._id}}" data-ng-bind-html="jobRaterCtrl.JobTitle"></h3>

        <div class="flex-row">
            <span class="job-builder ellipsis">{{::jobRaterCtrl.job.Primary.Builder}}</span>
            <span class="job-status" data-ng-if="jobRaterCtrl.hideJobStatus()">{{::jobRaterCtrl.job.Status}}</span>
        </div>

    </div>

    <div class="job-progress">
        <div class="radial-progress"><radial-progress title="Pre-drywall" progress="jobRaterCtrl.job.Progress.PreDrywall" /></radial-progress></div>
        <div class="radial-progress"><radial-progress title="Final" progress="jobRaterCtrl.job.Progress.Final" /></radial-progress></div>
    </div>

    <i class="list-item-activate fa fa-chevron-right fa-lg" aria-hidden="true"></i>
</div>
