@import '../../../../../scss/variables';

.job-offline-status {
    background-color: $brand-tertiary;
    border-radius: $toggle-size / 2;
    display: block;
    height: $toggle-size;
    padding: $padding-default;
    position: relative;
    width: $toggle-size;

    &::after {
        background-color: $body-bg;
        border-radius: $toggle-size / 2;
        content: '';
        height: $toggle-size;
        left: 0;
        position: absolute;
        top: 0;
        transform: scale(0.95);
        transition: transform $transition-default;
        width: $toggle-size;
    }

    .checked {
        font-size: $toggle-size - ($padding-default * 2);
        line-height: $line-height-none;
        position: relative;
        z-index: 2;
    }
}
