@import '../../../../../scss/variables';

$job-photo-width:   115px;
$job-photo-height:  115px;

$job-photo-width-small:   85px;
$job-photo-height-small:  85px;

.job {
    cursor: pointer;
    display: block;
    padding: $padding-large $gutter-half $padding-large $padding-large;
    position: relative;
    transition: background-color $transition-default ease-out;

    &.job-returned {
        padding-top: $padding-large + $offset-default;
    }

    .fa-chevron-right {
        color: $link-color;
    }

    &:hover,
    &:focus {
        background-color: lighten($brand-auxillary, 3%);

        .list-item-title {
            text-decoration: underline;
        }

        .list-item-activate {
            transform: translateX($offset-default);
        }
    }
}

.form-control-job-offline:checked + .job-offline-status .checked {
    visibility: visible;
}

.job-select {
    padding: $padding-large $padding-large $padding-large $gutter-half;
}

.job-offline-status {
    background-color: $brand-tertiary;
    border-radius: $toggle-size / 2;
    display: block;
    height: $toggle-size;
    padding: $padding-default;
    position: relative;
    width: $toggle-size;

    &::after {
        background-color: $body-bg;
        border-radius: $toggle-size / 2;
        content: '';
        height: $toggle-size;
        left: 0;
        position: absolute;
        top: 0;
        transform: scale(0.95);
        transition: transform $transition-default;
        width: $toggle-size;
    }

    .checked {
        font-size: $toggle-size - ($padding-default * 2);
        line-height: $line-height-none;
        position: relative;
        z-index: 2;
    }
}

.job-info {
    align-self: flex-start;
}

.job-id {
    color: $text-color-muted;
    font-size: $font-size-small;
}

.job-title {
    margin: $offset-small 0;
}

.job-history {
    color: $text-color-muted;
    line-height: $line-height-small;
}

.job-status {
    left: 0;
    position: absolute;
    top: 0;
}

.last-update {
    display: block;
}

.data-sync-status {
    font-weight: bold;
}

.job-progress {
    flex-shrink: 0;
    margin-left: auto;
    width: 200px;

    .radial-progress {
        float: left;
    }
}

.job-actions {
    border-top: $border-light;
    margin-right: $padding-large;
    padding: $padding-default $padding-large $padding-large;
}

@media only screen and (max-width: $screen-md-max) {
    .job-photos {
        height: $job-photo-height-small;
        width: $job-photo-width-small;
    }

    .job-info {
        max-width: 300px;
    }
}

