<div class="form-group" data-ng-class="{'has-error' : fieldDecimalCtrl.invalid, 'form-group-horizontal' : fieldDecimalCtrl.unit}">
    <label for="{{::fieldDecimalCtrl.field.Key}}" class="control-label">
        <i class="fa fa-list-alt" aria-hidden="true" data-ng-if="fieldDecimalCtrl.field.IsLibraryAttribute"></i>
        {{::fieldDecimalCtrl.field.Name}}
    </label>

    <input
        id="{{::fieldDecimalCtrl.field.Key}}"
        name="{{fieldDecimalCtrl.field.Key}}"
        class="form-control"
        input-focus
        focus-on-init="{{fieldDecimalCtrl.focus}}"
        type="number"
        data-ng-blur="fieldDecimalCtrl.validate()"
        data-ng-disabled="fieldDecimalCtrl.disabled"
        data-ng-model="fieldDecimalCtrl.value" />

    <abbr
        class="input-unit"
        data-ng-if="fieldDecimalCtrl.unit"
        title="{{::fieldDecimalCtrl.unit.Title}}">

        {{::fieldDecimalCtrl.unit.Abbr}}
    </abbr>

    <p class="form-control-error" role="alert" data-ng-class="{'has-error' : fieldDecimalCtrl.invalid}">
        {{fieldDecimalCtrl.errorMessage}}
    </p>
</div>
