<div id="admin-head">
    <button class="sr-only sr-only-focusable">Skip to Main Content</button>

    <header class="page-container navbar flex-row">
        <a class="flex-row" data-ui-sref="jobs()" class="site-home-link">
            <h1 class="site-title">
                <span class="sr-only">ENERGY STAR<sup>&reg;</sup> RaterPRO</span>
                <img class="logo" src="/img/logo-raterpro.svg" />
            </h1>
        </a>

        <div class="flex-item-pull-right">
            <user-menu></user-menu>
            <user-companies-menu></user-companies-menu>
        </div>
    </header>
</div>

<nav class="nav-site-wrapper">
    <nav class="nav nav-site nav-flex flex-justify-end page-container">
        <a ui-sref="jobs" ui-sref-active="active" class="nav-item" data-ng-if="navbarAdminCtrl.navVisibility.jobs">Rater Jobs</a>
        <!-- <a ui-sref="progress" ui-sref-active="active" class="nav-item">Progress</a> -->
        <a ui-sref="house-library" ui-sref-active="active" class="nav-item" data-ng-if="navbarAdminCtrl.navVisibility.templateLibrary">House Library</a>
        <a ui-sref="jobs-provider" ui-sref-active="active" class="nav-item" data-ng-if="navbarAdminCtrl.navVisibility.jobsProvider">Provider Jobs</a>
        <a ui-sref="users" ui-sref-active="active" class="nav-item" data-ng-if="navbarAdminCtrl.navVisibility.users">Users</a>
    </nav>
</nav>
