{
  extends: "eslint:recommended",
  rules: {
    indent: 2,
    no-multi-spaces: [2, {exceptions: {"VariableDeclarator": true, "AssignmentExpression": true}}],
    key-spacing: [2, { "align": "colon", "beforeColon": true, "afterColon": true, mode: "minimum" }],
    keyword-spacing: 2,
    brace-style: 2,
    curly: 2,
    eqeqeq: 2,
    no-underscore-dangle: 0,
    no-unused-vars: [2, { "args": "none" }],
    no-use-before-define: [2, { "functions": false, "classes": true }],
    block-scoped-var: 2,
    vars-on-top: 2,
    one-var: [2, "never"],
    one-var-declaration-per-line: [2, "always"],
    consistent-this: [2, "self"],
    no-empty-character-class: 2,
    no-empty-function: 2,
    new-cap: 2,
    new-parens: 2,
    wrap-iife: [2, "outside"],
    no-lonely-if: 2,
    no-nested-ternary: 2,
    no-unneeded-ternary: 2,
    no-eval: 2,
    no-with: 2,
    no-new-wrappers: 2,
    no-new-object: 2,
    no-array-constructor: 2,
    no-floating-decimal: 2,
    no-loop-func: 2,
    func-names: 2,
    no-return-assign: 2,
    no-self-compare: 2,
    space-before-blocks: 2,
    space-before-function-paren: 2,
    space-infix-ops: 2,
    comma-spacing: [2, {"before": false, "after": true}],
    comma-style: [2, "last"],
    semi: [2, "always"],
    radix: [2, "always"],
    quotes: [2, "single"],
    object-curly-spacing: [2, "never"],
    array-bracket-spacing: [2, "never"],
    computed-property-spacing: [2, "never"],
    space-in-parens: [2, "never"],
    global-require: 2,
    eol-last: 2,
    no-trailing-spaces: 2,
    linebreak-style: [2, "unix"],
    operator-linebreak: [2, "before"],
    arrow-body-style: [2, "always"]
  },
  env: {
    node: true,
    mocha: true,
    es6: true
  },
  globals: {
    angular: true,
    $: true,
    jQuery: true,
    moment: true,
    window: true,
    document: true,
    browser: true,
    inject: true,
    register: true,
    _: true,
    expect: true
  },
  parserOptions: {
    'sourceType': 'module'
  }
}
