@import '../../../../scss/variables';
@import '../../../../scss/elements/button';

.job-checklist-header {
    background-color: $brand-tertiary;
    color: $text-color-inverse;

    .btn-back {
        height: 40px;
        margin-left: -$offset-default;
        padding-top: $padding-large;
        text-align: center;
        width: 40px;
    }

    .btn {
        @extend %btn-inverse;
    }

    .label {
        color: $text-color;
    }

    .actions {
        margin-left: auto;
        position: relative;
    }

    header {
        padding: $gutter-half;
    }
}

.job-checklist-meta {
    margin-left: $offset-default;

    .drop-down {
        left: 0;
        right: auto;
    }
}

.job-checklist-title {
    display: inline;
    font-size: $font-size-h4;
    margin-bottom: 0;
}

.checklist-section {
    border-bottom: $border-default;
}

.checklist-section-title {
    margin: $gutter-full $gutter-half $offset-default;
}

.checklist-item .button-group .btn {
    line-height: $line-height-small;
    width: 90px;
}

.form-group-horizontal .form-control.hvac-equipment-matches {
    margin-left: $offset-default;
}

.applicable-sample-item {
    max-width: 295px;

    br {
        display: none;
    }
}

.checklist-filter-popover-wrapper {
    position: relative;
}

.checklist-filter-popover {
    right: 0;
    top: 100%;
}

.checklist-stage-title {
    background-color: $brand-auxillary;
    margin-bottom: 0;
    padding: $padding-default;

    img {
        vertical-align: middle;
    }
}

.item-list-equipment {
    margin: $offset-large 0;

    h5 {
        font-weight: normal;
    }

    .flex-row {
        margin: 0 (-$offset-default);
    }

    .flex-col {
        margin: 0 $offset-small;
    }

    .equipment-type {
        min-width: 135px;
    }

    .equipment-actions {
        white-space: nowrap;
    }
}

@media screen and (max-width: $screen-md) {
    .item-list-equipment {
        .title-furnace {
            display: none;
        }

        .flex-row {
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .equipment-type {
            order: 1;
        }

        .equipment-actions {
            order: 2;
        }

        .equipment-details {
            margin-top: $gutter-half;
            order: 3;
            width: 100%;
        }

        .furnace-equipment-manufacturer {
            width: 50%;
        }
    }
}
