<div class="modal modal-dialog" data-ng-class="{'hidden' : !jobChecklistCtrl.showCompleteModal}">
    <div class="modal-header">
        <span class="modal-title">Complete Job</span>
        <button class="btn btn-link pull-right" type="button" data-ng-click="jobChecklistCtrl.hideModal()" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
    </div>

    <div class="modal-body-wrapper">
        <div class="modal-body">
            <p>The job cannot be completed until the following issues are resolved:</p>
            <ul>
                <li data-ng-if="jobChecklistCtrl.mustCorrectItems > 0">There are {{jobChecklistCtrl.mustCorrectItems}} items that must be corrected.</li>
                <li data-ng-if="jobChecklistCtrl.totalRemaining !== 0">There are {{jobChecklistCtrl.totalRemaining}} items remaining.</li>
            </ul>
        </div>
    </div>

    <div class="modal-footer clearfix">
        <button class="btn pull-right" type="button" data-ng-click="jobChecklistCtrl.hideModal()">Okay</button>
    </div>
</div>
<div
    class="overlay overlay-modal"
    data-ng-class="{'hidden' : !jobChecklistCtrl.showCompleteModal}"
    data-ng-click="jobChecklistCtrl.hideModal()">
</div>

<div class="job-checklist-header">
    <header class="page-container flex-container flex-align-center">
        <a class="btn-back" data-ui-sref="jobs()" aria-label="Back to Jobs">
            <i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i>
        </a>

        <div class="job-checklist-meta">
            <span class="label label-rating-type" data-ng-class="jobChecklistCtrl.getRatingTypeClass()">
                {{jobChecklistCtrl.RatingTypeLabel}}
            </span>

            <h2 class="job-checklist-title">
                {{jobChecklistCtrl.job.JobType}} ID: {{jobChecklistCtrl.job._id}}
            </h2>
        </div>

        <div class="actions">
            <button type="button" class="btn" data-ng-click="jobChecklistCtrl.toggleDropDown()">
                Actions <i class="fa fa-caret-down" aria-hidden="true"></i>
            </button>
            <nav class="drop-down" data-ng-class="{'hidden' : !jobChecklistCtrl.showActionsDropDown}">
                <button
                    data-ng-click="jobChecklistCtrl.hideDropDown(); jobChecklistCtrl.completeJob()"
                    data-ng-disabled="!jobChecklistCtrl.jobIsActive"
                    class="drop-down-item"
                    type="button">
                    Complete
                </button>
                <button
                    disabled="disabled"
                    class="drop-down-item"
                    type="button">
                    Notify Builder
                </button>
                <button
                    disabled="disabled"
                    class="drop-down-item"
                    type="button">
                    View Job History
                </button>
            </nav>
            <div
                class="overlay drop-down-overlay"
                data-ng-class="{'hidden' : !jobChecklistCtrl.showActionsDropDown}"
                data-ng-click="jobChecklistCtrl.hideDropDown()">
            </div>
        </div>
    </header>
</div>

<checklist-house-selection houses="jobChecklistCtrl.houses"></checklist-house-selection>

<div class="page-container">
    <checklist-nav progress="jobChecklistCtrl.jobDataResponse.Progress"></checklist-nav>

    <checklist-filter checklist-items-quantity="{{jobChecklistCtrl.checklistItemsQuantity}}"></checklist-filter>

    <div ui-view></div>
</div>
