@import '../../../../scss/variables';
@import '../../../../scss/elements/button';

.job-checklist-header {
    background-color: $brand-tertiary;
    color: $text-color-inverse;
    height: $job-checklist-header-height;

    header {
      height: 100%;
    }

    .btn-back {
        height: 40px;
        margin-left: -$offset-default;
        padding-top: $padding-large;
        text-align: center;
        width: 40px;
    }

    .label {
        color: $body-bg;
        padding-left: 0;
    }

    .actions {
        margin-top: $offset-default;
        position: relative;

        .btn {
            color: $text-color;
            flex: 1 1 0;
            margin-left: $offset-small;
            min-width: 125px;

            &.disabled,
            &[disabled='disabled'] {
                color: $text-color-disabled;
            }
        }

        .btn-job-dropdown-toggle {
            border-radius: $icon-font-size / 2;
            height: $icon-font-size;
            min-width: 0;
            padding: 0;
            width: $icon-font-size;
        }

        .drop-down {
            left: 0;
            margin-top: $offset-small;
            right: auto;
            top: 100%;
        }
    }

    header {
        // padding: $gutter-quarter $gutter-half;
    }
}

.job-checklist-meta {
    margin-left: $offset-default;
    // padding: $gutter-quarter;
    border-left: 2px solid $text-color-muted;
    border-right: 2px solid $text-color-muted;
    position: relative;
    height: 100%;
    width: 200px; //need to set to some arbritrary number

    .job-checklist-meta-dropdown {
      height: 100%;
    }

    .drop-down {
        // left: 0;
        right: auto;
    }
    .btn-job-dropdown-toggle {
      height: 100%;
      color: #fff;
      width: 100%;
      padding: $gutter-quarter;
      overflow: hidden;

      &:hover, &:focus, &:active, &:visited {
        background-color: transparent !important;
        border: none;
        box-shadow: none;
      }
      &.active {
        background-color: transparent;
        border: none;
        box-shadow: none;
        .job-checklist-sampleset-count {
          transform: scale(0);
          transition-delay: 0s;
        }
        .job-checklist-sampleset-close {
          transform: scale(1);
        }
        .job-checklist-sampleset {
          transform: translateY(-25px);
        }
      }
    }
    button {
      background: transparent;
      border: none;
      text-align: left;
    }
}

.job-actions {
  display: flex;
  flex-direction: column;
  padding: $gutter-quarter;
}

.job-extended-menu {
  // position: absolute;
  // right: 0;
  border-left: 2px solid $text-color-muted;
  height: 100%;

  .job-extended-menu-toggle {
    transform: translateY(15px);
    transition: 0.3s;
    &.active {
      background-color: transparent !important;
      border: none;
      box-shadow: none;
      transform: translateY(-10px);
      .job-extended-menu-close {
        transform: scale(1);
        transition-delay: 0.2s;
      }
      .job-extended-menu-icon {
        transform: scale(0);
      }
    }
    &:hover, &:active, &:focus, &:visited, &:focus-within {
      background-color: transparent !important;
      border: none;
      box-shadow: none;
    }
    background: transparent;
    border: none;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .job-extended-menu-icon {
    width: 30px;
    transform: scale(1);
  }
  .job-extended-menu-label {
    font-size: 10px;
    text-transform: uppercase;
  }
  .job-extended-menu-close {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #555c64;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    font-size: 12px;
    transform: scale(0);
    transition: 0.3s;
    transition-delay: 0s;
  }
  .job-extended-menu-dropdown {
    padding: 10px;
    background-color: #f5f5f5;

    .drop-down-item {
      background-color: #f5f5f5;
      color: #262b2f;
      border-bottom: 1px solid #cbc9cc;
      padding: 10px;
      cursor: pointer;

      &.disabled {
        color: lighten(#262b2f, 50%);
      }
    }
    [class~='drop-down-item']:last-of-type {
      border: none;
    }
  }
}


.job-selection-dropdown.drop-down {
  // margin-top: 10px;
  // margin-left: -10px;
  // width: calc(100% - 215px);
  background-color: #f5f5f5;
  padding: 10px;
  width: 100%;
  margin: 0;

  .job-selection-dropdown-item {
    background-color: #f5f5f5;
    padding: 10px;
    border-bottom: 1px solid #cbc9cc;
    color: #262b2f;

    &.last-item {
      border: none;
    }

    span {
      display: block;
    }
  }
}

.job-checklist-title {
    // display: inline;
    font-size: $font-size-h4;
    margin-bottom: 0;
    display: inline-block;
    width: calc(100% - 70px);

    span {
        display: block;
        line-height: 20px;
    }
}

.job-checklist-sampleset {
  display: flex;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -31px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: none;
  transition: 0.3s;

  .job-checklist-sampleset-close {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #555c64;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    font-size: 12px;
    transform: scale(0);
    transition: 0.3s;
    transition-delay: 0.2s;
  }

  .job-checklist-sampleset-count {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #555c64;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    font-size: 12px;
    transform: scale(1);
    transition: 0.3s;
    transition-delay: 0.2s;
  }

  .job-checklist-sampleset-icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 43px;
    }
  }
  .job-checklist-sampleset-label {
    text-transform: uppercase;
    font-size: 10px;
  }
}

.checklist-section {
    border-bottom: $border-default;
}

.checklist-section-title {
    background-color: $brand-alternate;
    color: $body-bg;
    margin: $gutter-full 0 0;
    padding: $gutter-half $gutter-full;
}

.checklist-item .button-group .btn {
    line-height: $line-height-small;
    width: 90px;
}

.form-group-horizontal .form-control.hvac-equipment-matches {
    margin-left: $offset-default;
}

.applicable-sample-item {
    max-width: 295px;

    br {
        display: none;
    }
}

.checklist-filter-popover-wrapper {
    position: relative;
}

.checklist-filter-popover {
    right: 0;
    top: 100%;
}

.checklist-stage-title {
    background-color: $brand-auxillary;
    margin-bottom: 0;
    padding: $padding-default;

    img {
        vertical-align: middle;
    }
}

.item-list-equipment {
    margin: $offset-large 0;

    h5 {
        font-weight: normal;
    }

    .flex-row {
        margin: 0 (-$offset-default);
    }

    .flex-col {
        margin: 0 $offset-small;
    }

    .equipment-type {
        min-width: 135px;
    }

    .equipment-actions {
        white-space: nowrap;
    }
}

@media screen and (max-width: $screen-md) {
    .item-list-equipment {
        .title-furnace {
            display: none;
        }

        .flex-row {
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .equipment-type {
            order: 1;
        }

        .equipment-actions {
            order: 2;
        }

        .equipment-details {
            margin-top: $gutter-half;
            order: 3;
            width: 100%;
        }

        .furnace-equipment-manufacturer {
            width: 50%;
        }
    }
}
