@import '../../../../scss/variables';
@import '../../../../scss/elements/button';

.job-checklist-header {
    background-color: $brand-tertiary;
    color: $text-color-inverse;

    .btn-back {
        height: 40px;
        margin-left: -$offset-default;
        padding-top: $padding-large;
        text-align: center;
        width: 40px;
    }

    .btn {
        @extend %btn-inverse;
    }

    .label {
        color: $text-color;
    }

    .actions {
        margin-left: auto;
        position: relative;
    }

    header {
        padding: $gutter-half;
    }
}

.job-checklist-meta {
    margin-left: $offset-default;
}

.job-checklist-title {
    font-size: $font-size-h4;
    margin-bottom: 0;
}

.checklist-section {
    border-bottom: $border-default;
}

.checklist-section-title {
    margin: $gutter-full $gutter-half $offset-default;
}

.checklist-item .button-group .btn {
    line-height: $line-height-small;
    width: 90px;
}
