<section class="page-container">
    <header class="page-header item-list-header clearfix">
        <h2 class="pull-left item-list-title">Jobs</h2>
        <a data-ui-sref="job-new()" class="btn pull-right"><i class="fa fa-plus" aria-hidden="true"></i> Create a Job</a>
    </header>

    <div class="jobs">
        <list-filter
            class="list-filter"
            quantity="{{jobsPageCtrl.jobs.length}}"
            criteria="{{jobsPageCtrl.filterCriteria}}">
        </list-filter>

        <form name="jobs">
            <job-sync-status data-ng-if="jobsPageCtrl.CONTEXT_IS_APP"></job-sync-status>

            <jobs jobs="jobsPageCtrl.jobs"></jobs>

            <div class="dialog hidden" dialog="dialog" id="dialog-make-job-offline">
                <div class="dialog-header">
                    <h3 class="dialog-title">Remove Job From Device?</h3>
                </div>
                <div class="dialog-body">
                    <p>Photos, HVAC Design Reports and Rater Design Review Checklists will no longer be available for this job when the device is offline.</p>
                </div>
                <div class="dialog-footer text-right">
                    <button class="btn btn-link" type="button" data-ng-click="dismiss(false)">Cancel</button>
                    <button class="btn" data-ng-click="dismiss(true)">Remove Job From Device</button>
                </div>
            </div>
        </form>
    </div>
</section>
