<section class="page-container">
    <header class="page-header item-list-header clearfix">
        <h2 class="pull-left">Rater Jobs</h2>
        <a data-ui-sref="job-new()" class="btn pull-right"><i class="fa fa-plus" aria-hidden="true"></i> Create a Job</a>
    </header>

    <div class="row">
        <div class="col-xs-3">
            <nav class="nav nav-stacked ">
                <a
                    data-ui-sref="jobs-search(jobsPageCtrl.appendFilterParams())"
                    ui-sref-opts="{inherit: false}"
                    class="nav-item nav-item-has-sub-nav"
                    data-ng-class="{'active' : !jobsPageCtrl.currentState}">
                    All
                </a>
                <a
                    data-ui-sref="jobs-search(jobsPageCtrl.appendFilterParams({status : 'Active'}))"
                    ui-sref-opts="{inherit: false}"
                    class="nav-item nav-item-has-sub-nav"
                    data-ng-class="{'active' : jobsPageCtrl.currentState === 'Active'}">
                    Active
                </a>
                <nav class="nav sub-nav">
                    <a
                        data-ui-sref="jobs-search(jobsPageCtrl.appendFilterParams({status : 'Active', progressLevel : 'PreDrywall'}))"
                        ui-sref-opts="{inherit: false}"
                        class="nav-item"
                        data-ng-class="{'active' : jobsPageCtrl.currentState === 'Active.PreDrywall'}">
                        Pre-drywall
                    </a>
                    <a
                        data-ui-sref="jobs-search(jobsPageCtrl.appendFilterParams({status : 'Active', progressLevel : 'Final'}))"
                        ui-sref-opts="{inherit: false}"
                        class="nav-item"
                        data-ng-class="{'active' : jobsPageCtrl.currentState === 'Active.Final'}">
                        Final
                    </a>
                </nav>
                <a
                    data-ui-sref="jobs-search(jobsPageCtrl.appendFilterParams({status : 'Completed'}))"
                    ui-sref-opts="{inherit: false}"
                    class="nav-item nav-item-has-sub-nav"
                    data-ng-class="{'active' : jobsPageCtrl.currentState === 'Completed'}">
                    Completed
                </a>
                <nav class="nav sub-nav">
                    <a
                        data-ui-sref="jobs-search(jobsPageCtrl.appendFilterParams({status : 'Completed', internalReview : 'true'}))"
                        ui-sref-opts="{inherit: false}"
                        class="nav-item"
                        data-ng-class="{'active' : jobsPageCtrl.currentState === 'Completed.internalReview'}">
                        Internal Review
                    </a>
                </nav>
                <a
                    data-ui-sref="jobs-search(jobsPageCtrl.appendFilterParams({status : 'Submitted to Provider'}))"
                    ui-sref-opts="{inherit: false}"
                    class="nav-item"
                    data-ng-class="{'active' : jobsPageCtrl.currentState === 'Submitted to Provider'}">
                    Submitted to Provider
                </a>
                <a
                    data-ui-sref="jobs-search(jobsPageCtrl.appendFilterParams({status : 'Registered'}))"
                    ui-sref-opts="{inherit: false}"
                    class="nav-item"
                    data-ng-class="{'active' : jobsPageCtrl.currentState === 'Registered'}">
                    Registered
                </a>
            </nav>

            <nav class="nav nav-stacked">
                <a
                    data-ui-sref="jobs-search(jobsPageCtrl.appendFilterParams({status : 'Archived'}))"
                    ui-sref-opts="{inherit: false}"
                    class="nav-item nav-item-link"
                    data-ng-class="{'active' : jobsPageCtrl.currentState === 'Archived'}">
                    Archived
                </a>
                <a
                    data-ui-sref="jobs-search(jobsPageCtrl.appendFilterParams({status : 'Deleted'}))"
                    ui-sref-opts="{inherit: false}"
                    class="nav-item nav-item-link"
                    data-ng-class="{'active' : jobsPageCtrl.currentState === 'Deleted'}">
                    Recently Deleted
                </a>
            </nav>
        </div>

        <div class="col-xs-9 jobs">
            <jobs-search
                quantity="jobsPageCtrl.jobs.length">
            </jobs-search>

            <div class="bulk-operation-bar">
                <label class="bulk-toggle-all"><input class="bulk-toggle-all-control" type="checkbox" ng-model="jobsPageCtrl.checkAll" data-ng-change="jobsPageCtrl.toggleAllJobs()"> Select All</label>

                <span data-ng-if="::jobsPageCtrl.enableEdit() && jobsPageCtrl.enableWorkflow()">
                    <button
                        class="btn"
                        type="button"
                        data-ng-click="jobsPageCtrl.flagForReview()"
                        data-ng-disabled="!jobsPageCtrl.bulkOperationsEnabled">

                        Flag for Review
                    </button>

                    <button
                        class="btn"
                        type="button"
                        data-ng-click="jobsPageCtrl.submitToProvider()"
                        data-ng-disabled="
                            !jobsPageCtrl.bulkOperationsEnabled ||
                            !jobsPageCtrl.submitToProvierEnabled()
                        ">

                        Submit to Provider
                    </button>
                </span>

                <button
                    class="btn"
                    type="button"
                    data-ng-click="jobsPageCtrl.bulkDownload()"
                    data-ng-if="::jobsPageCtrl.enableEdit()"
                    data-ng-disabled="!jobsPageCtrl.bulkOperationsEnabled || jobsPageCtrl.downloadingRem">

                    <i data-ng-show="jobsPageCtrl.downloadingRem" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
                    {{jobsPageCtrl.xmlDownloadButtonMessage}}
                </button>

                <button
                    class="btn"
                    type="button"
                    data-ng-click="jobsPageCtrl.archive()"
                    data-ng-if="::jobsPageCtrl.showArchive()"
                    data-ng-disabled="
                        !jobsPageCtrl.bulkOperationsEnabled ||
                        !jobsPageCtrl.archiveDeleteEnabled()"
                    >

                    Archive Job
                </button>

                <button
                    class="btn"
                    type="button"
                    data-ng-click="jobsPageCtrl.delete()"
                    data-ng-if="::jobsPageCtrl.showDelete()"
                    data-ng-disabled="
                        !jobsPageCtrl.bulkOperationsEnabled ||
                        !jobsPageCtrl.archiveDeleteEnabled()"
                    >

                    Delete Job
                </button>

                <button
                    class="btn"
                    type="button"
                    data-ng-click="jobsPageCtrl.putback()"
                    data-ng-if="::jobsPageCtrl.showPutBack()"
                    data-ng-disabled="!jobsPageCtrl.bulkOperationsEnabled">

                    Make Active
                </button>
            </div>

            <jobs
                enabled="jobsPageCtrl.enableEdit()"
                jobs="jobsPageCtrl.viewJobs"
                register-handlers="jobsPageCtrl.registerHandlers(toggleAllJobs, getSelectedJobs)"
                on-set-bulk-operation-status="jobsPageCtrl.setBulkOperationStatus(status)">
            </jobs>

            <pagination
                quantity="jobsPageCtrl.jobs.length"
                on-set-page="jobsPageCtrl.setPage(page)"></pagination>
        </div>
    </div>
</section>

<div class="dialog hidden" dialog="dialog" id="dialog-submit-to-provider">
    <div class="dialog-header">
        <h3 class="dialog-title">Submit <ng-pluralize count="jobsPageCtrl.marked" when="{'one' : '{} Job', 'other' : '{} Jobs'}"></ng-pluralize></h3>
    </div>
    <div class="dialog-body">
        <div class="form-group" data-ng-if="jobsPageCtrl.relatedProviderCompanys.length > 1">
            <label for="selectedProviderToAdd" class="control-label">Select Provider</label>
            <select
                class="form-control"
                data-ng-model="jobsPageCtrl.selectedProviderToAdd"
                id="selectedProviderToAdd"
                data-ng-options="provider.Name for provider in jobsPageCtrl.relatedProviderCompanys track by provider.O_ID">
            </select>
        </div>

        <div class="form-group" data-ng-if="jobsPageCtrl.relatedProviderCompanys.length === 1">
            <p class="control-label">The selected <ng-pluralize count="jobsPageCtrl.marked" when="{'one' : 'job', 'other' : 'jobs'}"></ng-pluralize> will be submitted to: {{jobsPageCtrl.relatedProviderCompanys[0].Name}}</p>
        </div>

        <div data-ng-if="!jobsPageCtrl.hasRelatedProviderCompanies">
            <p>There are no provider companies associated with {{jobsPageCtrl.company.Name}}.</p>
        </div>
    </div>
    <div class="dialog-footer text-right">
        <button class="btn btn-link" type="button" data-ng-click="dismiss(false)">Cancel</button>
        <button class="btn" data-ng-click="dismiss(true)" data-ng-disabled="!jobsPageCtrl.hasRelatedProviderCompanies">Submit</button>
    </div>
</div>

<div class="dialog hidden" dialog="dialog" id="dialog-delete-job">
    <div class="dialog-header">
        <h3 class="dialog-title">Delete <ng-pluralize count="jobsPageCtrl.marked" when="{'one' : 'Job', 'other' : 'Jobs'}"></ng-pluralize>?</h3>
    </div>
    <div class="dialog-body">
        <p>Are you sure you want to delete the selected <ng-pluralize count="jobsPageCtrl.marked" when="{'one' : 'job', 'other' : '{} jobs'}"></ng-pluralize>?</p>
    </div>
    <div class="dialog-footer text-right">
        <button class="btn btn-link" type="button" data-ng-click="dismiss(false)">Cancel</button>
        <button class="btn" data-ng-click="dismiss(true)">Delete</button>
    </div>
</div>

<div class="dialog hidden" dialog="dialog" id="dialog-archive-job">
    <div class="dialog-header">
        <h3 class="dialog-title">Archive <ng-pluralize count="jobsPageCtrl.marked" when="{'one' : 'Job', 'other' : 'Jobs'}"></ng-pluralize>?</h3>
    </div>
    <div class="dialog-body">
        <p>Are you sure you want to archive the selected <ng-pluralize count="jobsPageCtrl.marked" when="{'one' : 'job', 'other' : '{} jobs'}"></ng-pluralize>?</p>
    </div>
    <div class="dialog-footer text-right">
        <button class="btn btn-link" type="button" data-ng-click="dismiss(false)">Cancel</button>
        <button class="btn" data-ng-click="dismiss(true)">Archive</button>
    </div>
</div>

<div class="dialog hidden" dialog="dialog" id="dialog-download-error">
    <div class="dialog-header">
        <h3 class="dialog-title">Download XML</h3>
    </div>
    <div class="dialog-body">
        <p>The following <ng-pluralize count="jobsPageCtrl.failedDownloads.length" when="{'one' : 'XML file', 'other' : '{} XML files'}"></ng-pluralize> could not be downloaded:</p>
        <ul>
            <li ng-repeat="download in jobsPageCtrl.failedDownloads">{{download}}</li>
        </ul>
    </div>
    <div class="dialog-footer text-right">
        <button class="btn" data-ng-click="dismiss(true)">OK</button>
    </div>
</div>

<!-- modal: open job -->

<form
    class="modal modal-large hidden"
    modal="modal"
    id="modal-open-job"
    name="jobsPageCtrl.housePlanSelect"
    ng-submit="jobsPageCtrl.modalOpenJobSubmit()">

    <div class="modal-header flex-row">
        <span class="modal-title flex-item-grow">Select House Plan</span>
    </div>

    <div class="modal-body-wrapper">
        <div class="modal-body">
            <p>This job was created with multiple house plans. Please select the most relevant house plan to continue. Once selected, you cannot change the House Plan for this job.</p>

            <div class="status-message status-error" ng-hide="!jobsPageCtrl.housePlanSelect.$submitted && !jobsPageCtrl.housePlanSelectValid">
                <p class="status-text">{{jobsPageCtrl.housePlanSelectMessage}}</p>
            </div>

            <fieldset
                ng-repeat="housePlan in jobsPageCtrl.housePlansModel track by $index"
                ng-hide="$index + 1 !== jobsPageCtrl.jobIndex">

                <legend>
                    <strong ng-if="jobsPageCtrl.jobToOpenSamples.length > 1">Sample {{jobsPageCtrl.jobIndex}} of {{jobsPageCtrl.jobToOpenSamples.length}} - </strong>
                    <strong ng-bind-html="jobsPageCtrl.sampleTitle(jobsPageCtrl.jobToOpenSamples[$index].AddressInformation)"></strong>
                </legend>

                <ng-form name="houseplanForm">
                    <div class="form-group" ng-repeat="sampleHouseplan in jobsPageCtrl.jobToOpenSamples[$index].HousePlan">
                        <label>
                            <input
                                type="radio"
                                name="sampleHouseplans-{{jobsPageCtrl.jobToOpenSamples[$parent.$index].HouseId}}"
                                ng-value="sampleHouseplan._id"
                                ng-model="housePlan.houseplan" />

                            {{sampleHouseplan.Name}}
                        </label>
                    </div>
                </ng-form>
            </fieldset>
        </div>
    </div>

    <div class="modal-footer clearfix">
        <button
            class="btn btn-link btn-modal btn-modal-close"
            type="button"
            ng-disabled="jobsPageCtrl.updateHouseplanFormBusy">

            Cancel
        </button>

        <button
            class="btn btn-default pull-right"
            type="submit"
            ng-disabled="jobsPageCtrl.updateHouseplanFormBusy">

            <i data-ng-show="jobsPageCtrl.updateHouseplanFormBusy" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
            Finish Selection
        </button>

        <button
            class="btn btn-default pull-right"
            type="button"
            ng-hide="jobsPageCtrl.jobToOpenSamples.length === 1"
            ng-click="jobsPageCtrl.modalOpenJobNext()"
            ng-disabled="jobsPageCtrl.updateHouseplanFormBusy || jobsPageCtrl.jobIndex === jobsPageCtrl.jobToOpenSamples.length">

            Next Sample &gt;
        </button>

        <button
            class="btn btn-default pull-right"
            type="button"
            ng-hide="jobsPageCtrl.jobToOpenSamples.length === 1"
            ng-click="jobsPageCtrl.modalOpenJobPrevious()"
            ng-disabled="jobsPageCtrl.updateHouseplanFormBusy || jobsPageCtrl.jobIndex === 1">

            &lt; Previous Sample
        </button>
    </div>
</form>
