<form name="forgotPassword" data-ng-submit="forgotPasswordCtrl.onSubmit()" novalidate>
    <h2>Reset Password</h2>
    <status-message status="forgotPasswordCtrl.message"></status-message>
    <div class="form-group">
        <label for="forgotPasswordUserId" class="control-label">User ID</label>
        <input
            name="userId"
            data-ng-model="forgotPasswordCtrl.user.userId"
            ng-pattern="forgotPasswordCtrl.userIdPattern"
            required="required"
            type="text"
            class="form-control"
            id="forgotPasswordUserId" />
    </div>

    <div class="form-actions">
        <input type="submit" class="btn" value="Reset Password" />
        <button class="btn btn-link pull-right" type="button" data-ng-click="forgotPasswordCtrl.onCancel()">Cancel</button>
    </div>
</form>
