<div class="checklist-item">
    <div class="flex-row flex-justify-between">
        <header class="checklist-item-header">
            <button
                aria-label="More Information"
                class="checklist-item-info-toggle btn btn-link btn-no-label"
                ng-class="{'has-footnote' : checklistItemHVACCommissioningCtrl.hasFootnote}"
                ng-click="checklistItemHVACCommissioningCtrl.showFootnote()"
                type="button">

                <i class="fa fa-info-circle" aria-hidden="true"></i>
            </button>

            <h4 class="checklist-item-title">{{::checklistItemHVACCommissioningCtrl.display.Shorthand}}</h4>
        </header>

        <div class="flex-row flex-align-center flex-item-fixed-width">
            <checklist-item-comments
                data-ng-if="!checklistItemHVACCommissioningCtrl.isReview"
                comments="checklistItemHVACCommissioningCtrl.comments"
                item-id="{{checklistItemHVACCommissioningCtrl.itemId}}"
                on-comment="checklistItemHVACCommissioningCtrl.postComment(comment)">
            </checklist-item-comments>

            <checklist-item-response
                response="checklistItemHVACCommissioningCtrl.response"
                response-house-id="checklistItemHVACCommissioningCtrl.responseHouseId"
                data-ng-hide="checklistItemHVACCommissioningCtrl.showResponseButtons"
                edit-response="checklistItemHVACCommissioningCtrl.onEditResponse()">
            </checklist-item-response>

            <div class="verification"
                 data-ng-hide="!checklistItemHVACCommissioningCtrl.showResponseButtons">
                <button-group
                    class="button-group"
                    buttons="checklistItemHVACCommissioningCtrl.responseButtons"
                    initial-value="checklistItemHVACCommissioningCtrl.response"
                    on-set-value="checklistItemHVACCommissioningCtrl.onSetResponse(response)">
                </button-group>
            </div>
        </div>
    </div>

    <div class="flex-row">
        <photo-capture
            class="flex-item-static"
            photo="checklistItemHVACCommissioningCtrl.itemData.Photo"
            on-photo-capture="checklistItemHVACCommissioningCtrl.handlePhotoCapture(photo)">
        </photo-capture>

        <p>Photograph HVAC Commissioning Checklist for records</p>
    </div>
</div>
