<section class="page-container">

    <header class="page-header item-list-header clearfix">
        <h2 class="pull-left item-list-title">Diagnostics & Feedback</h2>
    </header>

    <div>
        DB in Sync:
        <li ng-repeat="name in diagnosticsPageCtrl.syncingDB">{{name}}</li>
    </div>
    <br>

    <div>
        Local Assets:
        <table>
            <tr>
                <td ng-repeat="name in diagnosticsPageCtrl.TABLE_COLUMNS">{{name}}</td>
            </tr>
            <tr ng-repeat="asset in diagnosticsPageCtrl.assetList">
                <td>{{asset.company}}</td>
                <td>{{asset.job}}</td>
                <td>{{asset.house}}</td>
                <td>{{asset.filename}}</td>
            </tr>
        </table>
        <br>

        Asset downloading:
        <table>
            <tr>
                <td ng-repeat="name in diagnosticsPageCtrl.TABLE_COLUMNS">{{name}}</td>
            </tr>
            <tr ng-repeat="asset in diagnosticsPageCtrl.downloadingList">
                <td>{{asset.company}}</td>
                <td>{{asset.job}}</td>
                <td>{{asset.house}}</td>
                <td>{{asset.filename}}</td>
            </tr>
        </table>
        <br>

        Asset download error:
        <table>
            <tr>
                <td ng-repeat="name in diagnosticsPageCtrl.TABLE_COLUMNS">{{name}}</td>
            </tr>
            <tr ng-repeat="asset in diagnosticsPageCtrl.downloadErrorList">
                <td>{{asset.company}}</td>
                <td>{{asset.job}}</td>
                <td>{{asset.house}}</td>
                <td>{{asset.filename}}</td>
            </tr>
        </table>
        <br>

        Asset uploading:
        <table>
            <tr>
                <td ng-repeat="name in diagnosticsPageCtrl.TABLE_COLUMNS">{{name}}</td>
            </tr>
            <tr ng-repeat="asset in diagnosticsPageCtrl.uploadingList">
                <td>{{asset.company}}</td>
                <td>{{asset.job}}</td>
                <td>{{asset.house}}</td>
                <td>{{asset.filename}}</td>
            </tr>
        </table>
        <br>

        Asset upload error:
        <table>
            <tr>
                <td ng-repeat="name in diagnosticsPageCtrl.TABLE_COLUMNS">{{name}}</td>
            </tr>
            <tr ng-repeat="asset in diagnosticsPageCtrl.uploadErrorList">
                <td>{{asset.company}}</td>
                <td>{{asset.job}}</td>
                <td>{{asset.house}}</td>
                <td>{{asset.filename}}</td>
            </tr>
        </table>
        <br>

    </div>

</section>
