<div class="item-comments" popover="popover">
    <button
        type="button"
        class="btn btn-link btn-comments"
        aria-label="{{this.comments.length}} Comments. Leave a Comment."
        data-ng-class="{'has-comments' : checklistItemCommentsCtrl.comments.length > 0}"
        popover-toggle="popover-toggle">

        <span data-ng-if="checklistItemCommentsCtrl.comments.length > 0">{{checklistItemCommentsCtrl.comments.length}}</span> <i class="fa fa-commenting-o fa-lg" aria-hidden="true"></i>
    </button>

    <div class="popover hidden" popover-body="popover-body">
        <div class="popover-panel-wrapper">
        <section class="popover-panel" data-ng-class="{'hidden' : checklistItemCommentsCtrl.state !== 'list'}">
            <header class="popover-panel-header flex-row flex-align-center">
                <div class="flex-item-static">
                    <button class="btn btn-link popover-close">
                        <i class="fa fa-close" aria-hidden="true"></i> Close
                    </button>
                </div>

                <h5 class="flex-item-grow popover-panel-title">Comments</h5>

                <div class="flex-item-static">
                    <button class="btn btn-link" data-ng-click="checklistItemCommentsCtrl.setState('post')">
                        <i class="fa fa-plus" aria-hidden="true"></i> New
                    </button>
                </div>
            </header>

            <div class="popover-panel-body">
                <div class="item-list item-list-comments" data-ng-if="checklistItemCommentsCtrl.comments.length > 0">
                    <div class="item-list-item item-comment" data-ng-repeat="comment in checklistItemCommentsCtrl.comments track by $index">
                        <figure class="comment-image" data-ng-if="comment.PhotoUrl">
                            <img data-ng-src="{{checklistItemCommentsCtrl.BASE_IMAGE_URL + comment.PhotoUrl}}" />
                        </figure>

                        <p class="comment-body">
                            <span class="comment-timestamp">{{::checklistItemCommentsCtrl.formatTimestamp(comment.Timestamp)}}</span>
                            {{::comment.Comment}}
                        </p>
                    </div>
                </div>

                <p data-ng-if="checklistItemCommentsCtrl.comments.length === 0">There are no comments.</p>
            </div>
        </section>

        <form
            name="checklistItemCommentsCtrl.postCommentForm"
            class="popover-panel hidden"
            data-ng-submit="checklistItemCommentsCtrl.postComment()"
            data-ng-class="{'hidden' : checklistItemCommentsCtrl.state !== 'post'}">

            <header class="popover-panel-header flex-row flex-align-center">
                <div class="flex-item-static">
                    <button type="button" class="btn btn-link" data-ng-click="checklistItemCommentsCtrl.setState('list')">
                        <i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i> Cancel
                    </button>
                </div>

                <h5 class="flex-item-grow popover-panel-title">Add Comment</h5>

                <div class="flex-item-static">
                    <button type="submit" class="btn btn-link">
                        Done
                    </button>
                </div>
            </header>

            <div class="popover-panel-body">
                <figure class="item-comment-add-photo clearfix">
                    <img class="pull-left" data-ng-src="{{checklistItemCommentsCtrl.newCommentPhotoUrl}}" />

                    <figcaption>
                        <button type="button" class="btn btn-block btn-link" data-ng-click="checklistItemCommentsCtrl.addPhoto()">
                            <i class="fa fa-camera" aria-hidden="true"></i> {{checklistItemCommentsCtrl.photoActionLabel}}
                        </button>
                    </figcaption>
                </figure>

                <div class="form-group">
                    <label for="commentText" class="sr-only">Enter Your Comment</label>

                    <textarea
                        class="form-control"
                        id="commentText"
                        data-ng-model="checklistItemCommentsCtrl.newCommentText">
                    </textarea>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>
