@import '../../../../../../scss/variables';

.item-comments {
    display: inline;

    .popover {
        height: 300px;
        margin: $offset-large 0 150px;
        right: $gutter-half;
        width: 350px;
    }

    textarea {
        height: 125px;
    }

    .photo-capture {
        height: $photo-capture-small;
        margin-bottom: $offset-default;
        width: $photo-capture-small;
    }
}

.item-comment {
    border-top: $border-default;
    padding: $padding-default $padding-large;

    .comment-image {
        margin: 0 0 $offset-default;

        img {
            max-width: 100%;
        }
    }

    .comment-timestamp {
        color: $text-color-muted;
        font-size: $font-size-small;
    }

    .comment-body {
        margin: 0;
    }

    .comment-user {
        font-size: $font-size-small;
    }
}
