<section>
    <h2 class="sr-only">{{jobChecklistCategoryCtrl.categoryName}}</h2>

    <section data-ng-if="jobChecklistCategoryCtrl.hasPredrywallItems" class="checklist-section">
        <h3 class="checklist-section-title">{{jobChecklistCategoryCtrl.categoryName}} - Pre-Drywall</h3>

        <checklist-item
            data-ng-repeat="checklistItem in jobChecklistCategoryCtrl.preDrywallChecklistItems track by $index"
            item-id="{{::checklistItem.checklistItemRef}}"
            item-category="{{::jobChecklistCategoryCtrl.categoryKey}}"
            item-category-progress="{{::jobChecklistCategoryCtrl.CATEGORY_PROGRESS['pre-drywall'].Key}}">
        </checklist-item>

    </section>

    <section data-ng-if="jobChecklistCategoryCtrl.hasFinalItems" class="checklist-section">
        <h3 class="checklist-section-title">{{jobChecklistCategoryCtrl.categoryName}} - Final</h3>

        <checklist-item
            data-ng-repeat="checklistItem in jobChecklistCategoryCtrl.finalChecklistItems track by $index"
            item-id="{{::checklistItem.checklistItemRef}}"
            item-category="{{::jobChecklistCategoryCtrl.categoryKey}}"
            item-category-progress="{{::jobChecklistCategoryCtrl.CATEGORY_PROGRESS['final'].Key}}">
        </checklist-item>
    </section>
</section>
