<section id="exterior-walls">
    <h2 class="sr-only">{{jobChecklistCategoryCtrl.categoryName}}</h2>

    <section data-ng-if="jobChecklistCategoryCtrl.hasPredrywallItems" class="checklist-section" aria-labelledby="exeterior-walls-pre-drywall">
        <h3 class="checklist-section-title">{{jobChecklistCategoryCtrl.categoryName}} - Pre-Drywall</h3>

        <checklist-item
            data-ng-repeat="checklistItem in jobChecklistCategoryCtrl.preDrywallChecklistItems track by $index"
            item-id="{{::checklistItem.checklistItemRef}}"
            item-category="{{::jobChecklistCategoryCtrl.categoryKey}}"
            item-category-progress="{{::jobChecklistCategoryCtrl.CATEGORY_PROGRESS['pre-drywall'].Key}}"
            response="jobChecklistCategoryCtrl.jobDataResponse.ChecklistItems[jobChecklistCategoryCtrl.categoryKey].PreDrywall[checklistItem.checklistItemRef].Response"
            item-data="jobChecklistCategoryCtrl.jobDataResponse.ChecklistItems[jobChecklistCategoryCtrl.categoryKey].PreDrywall[checklistItem.checklistItemRef].ItemData"
            comments="jobChecklistCategoryCtrl.jobDataResponse.ChecklistItems[jobChecklistCategoryCtrl.categoryKey].PreDrywall[checklistItem.checklistItemRef].Comments"
            home-performance="jobChecklistCategoryCtrl.jobDataHomePerformance.ChecklistItems[checklistItem.checklistItemRef]">
        </checklist-item>

    </section>

    <section data-ng-if="jobChecklistCategoryCtrl.hasFinalItems" class="checklist-section" aria-labelledby="exeterior-walls-final">
        <h3 class="checklist-section-title">{{jobChecklistCategoryCtrl.categoryName}} - Final</h3>

        <checklist-item
            data-ng-repeat="checklistItem in jobChecklistCategoryCtrl.finalChecklistItems track by $index"
            item-id="{{::checklistItem.checklistItemRef}}"
            item-category="{{::jobChecklistCategoryCtrl.categoryKey}}"
            item-category-progress="{{::jobChecklistCategoryCtrl.CATEGORY_PROGRESS['final'].Key}}"
            response="jobChecklistCategoryCtrl.jobDataResponse.ChecklistItems[jobChecklistCategoryCtrl.categoryKey].Final[checklistItem.checklistItemRef].Response"
            item-data="jobChecklistCategoryCtrl.jobDataResponse.ChecklistItems[jobChecklistCategoryCtrl.categoryKey].Final[checklistItem.checklistItemRef].ItemData"
            comments="jobChecklistCategoryCtrl.jobDataResponse.ChecklistItems[jobChecklistCategoryCtrl.categoryKey].Final[checklistItem.checklistItemRef].Comments"
            home-performance="jobChecklistCategoryCtrl.jobDataHomePerformance.ChecklistItems[checklistItem.checklistItemRef]">
        </checklist-item>

    </section>
</section>
