<div class="checklist-item">
    <div class="flex-row flex-justify-between flex-align-center checklist-item-header-wrapper">
        <header class="checklist-item-header">
            <button
                aria-label="More Information"
                class="checklist-item-info-toggle btn btn-link btn-no-label"
                ng-class="{'has-footnote' : checklistItemCtrl.hasFootnote}"
                ng-click="checklistItemCtrl.showFootnote()"
                type="button">

                <i class="fa fa-info-circle" aria-hidden="true"></i>
            </button>

            <h4 class="checklist-item-title">{{::checklistItemCtrl.display.Shorthand}}</h4>
        </header>

        <div class="flex-row flex-align-center flex-item-fixed-width">
            <checklist-item-comments
                data-ng-if="::!checklistItemCtrl.isReview"
                comments="checklistItemCtrl.comments"
                item-id="{{checklistItemCtrl.itemId}}"
                on-comment="checklistItemCtrl.postComment(comment)">
            </checklist-item-comments>

            <checklist-item-response
                response="checklistItemCtrl.response"
                response-house-id="checklistItemCtrl.responseHouseId"
                data-ng-hide="checklistItemCtrl.showResponseButtons"
                edit-response="checklistItemCtrl.onEditResponse()">
            </checklist-item-response>

            <div class="verification"
                 data-ng-hide="!checklistItemCtrl.showResponseButtons">
                <button-group
                    class="button-group"
                    buttons="checklistItemCtrl.responseButtons"
                    initial-value="checklistItemCtrl.response"
                    on-set-value="checklistItemCtrl.onSetResponse(response)">
                </button-group>
            </div>
        </div>
    </div>

    <div>
        <div dropdown="dropdown" data-ng-if="::checklistItemCtrl.hasHVACDesignReport">
            <button
                type="button"
                class="btn"
                dropdown-toggle="dropdown-toggle">

                View HVAC Design Report <i class="fa fa-caret-down" aria-hidden="true"></i>
            </button>

            <nav
                class="drop-down drop-down-left hidden"
                dropdown-menu="dropdown-menu"
                role="menu"
                popover="popover">
                    <button
                        data-ng-if="::!checklistItemAirInletLocationsCtrl.isOnApp"
                        ng-click="checklistItemAirInletLocationsCtrl.downloadAll(checklistItemAirInletLocationsCtrl.house.HvacDesignReport)"
                        class="drop-down-item"
                        type="button"
                        role="menuitem">
                        Download All (zip)
                    </button>
                    <button
                        data-ng-repeat="file in checklistItemAirInletLocationsCtrl.house.HvacDesignReport"
                        ng-click="$parent.checklistItemAirInletLocationsCtrl.downloadSingleHvac($event)"
                        data-hvacurl="{{$parent.checklistItemAirInletLocationsCtrl.getHvacUrl(file)}}"
                        class="drop-down-item"
                        role="menuitem"
                        download="{{checklistItemAirInletLocationsCtrl.house.HvacDesignReport[$index].Name}}"
                        key="{{checklistItemAirInletLocationsCtrl.house.HvacDesignReport[$index].Key}}"
                        document-handler="document-handler">
                        {{file.name || file.Name}}
                    </button>
            </nav>
        </div>
        <span data-ng-if="::!checklistItemCtrl.hasHVACDesignReport" class="status-message status-warning">No HVAC Design Report associated with this location</span>
    </div>

    <div>
        <checklist-item-comments-review
            data-ng-if="::checklistItemCtrl.isReview"
            comments="checklistItemCtrl.comments"
            item-id="{{checklistItemCtrl.itemId}}"
            on-comment="checklistItemCtrl.postComment(comment)">
        </checklist-item-comments-review>
    </div>
</div>
