<div class="checklist-item">
    <div class="flex-row flex-justify-between">
        <header class="checklist-item-header">
            <button
                aria-label="More Information"
                class="checklist-item-info-toggle btn btn-link btn-no-label"
                ng-class="{'has-footnote' : checklistItemCtrl.hasFootnote}"
                ng-click="checklistItemCtrl.showFootnote()"
                type="button">

                <i class="fa fa-info-circle" aria-hidden="true"></i>
            </button>

            <h4 class="checklist-item-title">{{::checklistItemCtrl.display.Shorthand}}</h4>
        </header>

        <div class="flex-row flex-align-center flex-item-fixed-width">
            <checklist-item-comments
                data-ng-if="!checklistItemCtrl.isReview"
                comments="checklistItemCtrl.comments"
                item-id="{{checklistItemCtrl.itemId}}"
                on-comment="checklistItemCtrl.postComment(comment)">
            </checklist-item-comments>

            <checklist-item-response
                response="checklistItemCtrl.response"
                response-house-id="checklistItemCtrl.responseHouseId"
                data-ng-hide="checklistItemCtrl.showResponseButtons"
                edit-response="checklistItemCtrl.onEditResponse()">
            </checklist-item-response>

            <div class="verification"
                 data-ng-hide="!checklistItemCtrl.showResponseButtons">
                <button-group
                    class="button-group"
                    buttons="checklistItemCtrl.responseButtons"
                    initial-value="checklistItemCtrl.response"
                    on-set-value="checklistItemCtrl.onSetResponse(response)">
                </button-group>
            </div>
        </div>
    </div>

    <p>
        <a class="btn" data-ng-if="checklistItemCtrl.hasHVACDesignReport" ng-href="https://s3.amazonaws.com/{{checklistItemCtrl.s3Bucket}}/{{checklistItemCtrl.house.HvacDesignReport[0].Key}}" key="{{checklistItemCtrl.house.HvacDesignReport[0].Key}}" download="{{checklistItemCtrl.house.HvacDesignReport[0].Name}}" document-handler="document-handler">View HVAC Design Report</a>
        <span data-ng-if="!checklistItemCtrl.hasHVACDesignReport" class="status-message status-warning">No HVAC Design Report associated with this location</span>
    </p>
</div>
