<nav class="nav nav-stacked">
    <a data-ui-sref="support" ui-sref-active="active" class="nav-item">Getting Started with RaterPRO</a>
    <a data-ui-sref="support-user-guide" ui-sref-active="active" class="nav-item">RaterPRO User Guide</a>
    <nav class="nav sub-nav">
        <a data-ui-sref="support-user-guide-desktop" ui-sref-active="active" class="nav-item">RaterPRO Desktop</a>
        <a data-ui-sref="support-user-guide-mobile" ui-sref-active="active" class="nav-item">RaterPRO Mobile App</a>
        <a data-ui-sref="support-user-guide-provider" ui-sref-active="active" class="nav-item">Providers</a>
    </nav>
    <a data-ui-sref="support-faq" ui-sref-active="active" class="nav-item">FAQs</a>
</nav>