.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justified {
    text-align: justify;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-muted {
    color: $text-color-muted;
}

.nowrap {
    white-space: nowrap;
}
