<div class="form-group form-group-mrf-field">
    <label for="{{fieldCtrl.field.Key}}" class="control-label">
        <i class="fa fa-list-alt" aria-hidden="true" data-ng-if="::fieldCtrl.field.IsLibraryAttribute"></i>
        {{::fieldCtrl.field.Name}}
    </label>

    <input
        class="form-control"
        id="{{::fieldCtrl.field.Key}}"
        data-ng-change="fieldCtrl.onChange(fieldCtrl.value)"
        data-ng-blur="fieldCtrl.sanitize()"
        type="text"
        data-ng-model="fieldCtrl.value" />
</div>
