
<div class="checklist-item">
    <header>
        <h4 class="checklist-item-title">{{::checklistItemCtrl.checklistItem.Shorthand}}</h4>
        <button class="btn btn-link btn-no-label text-muted" type="button"><i class="fa fa-info-circle" aria-label="More Information"></i></button>
    </header>

    <!-- TODO: See if Jeff prefers a ngblur (saveRow), ngfocus (instantiate editRow) route.  -->
    <section class="container">

        <div class="row">
            <label for="ReturnSide">
                Return-Side External Static Pressure
            </label>
            <input
                id="ReturnSide"
                name="ReturnSide"
                class="item-static-pressure-input"
                value="{{checklistItemCtrl.homePerformance.StaticPressure[0].ReturnSide}}"
                data-ng-click="checklistItemCtrl.editMrfRow(0, checklistItemCtrl.checklistItem.Sections[0].Key, checklistItemCtrl.checklistItem.Sections[0].Name, checklistItemCtrl.checklistItem.Sections[0].Columns, checklistItemCtrl.homePerformance.StaticPressure[0])"
                />
             <!-- <input
                id="ReturnSide"
                name="ReturnSide"
                class="item-static-pressure-input"
                value="{{checklistItemCtrl.homePerformance.StaticPressure[0].ReturnSide}}"
                ngblur="checklistItemCtrl.onSaveMrfRow(mrfRowData)"
                ngfocus="checklistItemCtrl.editMrfRow(0, checklistItemCtrl.checklistItem.Sections[0].Key, checklistItemCtrl.checklistItem.Sections[0].Name, checklistItemCtrl.checklistItem.Sections[0].Columns, checklistItemCtrl.homePerformance.StaticPressure[0])"
            /> -->
            <span class="item-static-pressure-span">
                IWC
            </span>
        </div>

        <div class="row">
            <label for="SupplySide">
                Supply Side External Static Pressure
            </label>
            <input
                id="SupplySide"
                name="SupplySide"
                class="item-static-pressure-input"
                value="{{checklistItemCtrl.homePerformance.StaticPressure[0].SupplySide}}"
                data-ng-click="checklistItemCtrl.editMrfRow(1, checklistItemCtrl.checklistItem.Sections[0].Key, checklistItemCtrl.checklistItem.Sections[0].Name, checklistItemCtrl.checklistItem.Sections[0].Columns, checklistItemCtrl.homePerformance.StaticPressure[0])"
                />
            <span class="item-static-pressure-span">
                IWC
            </span>
        </div>

    </section>

    <div class="flex-row flex-align-center flex-justify-end">
        <checklist-item-comments
                comments="checklistItemCtrl.comments"
                on-comment="checklistItemCtrl.postComment(comment)">
        </checklist-item-comments>
        <div class="verification">
            <button-group
                class="button-group"
                buttons="checklistItemCtrl.responseButtons"
                initial-value="checklistItemCtrl.response"
                on-set-value="checklistItemCtrl.onSetResponse(response)">
            </button-group>
        </div>
    </div>

    <mrf-edit
        data-ng-repeat="row in checklistItemCtrl.editRow"
        on-save-mrf-row="checklistItemCtrl.onSaveMrfRow(mrfRowData)"
        on-cancel-mrf-row="checklistItemCtrl.onCancelMrfRow()"
        title="{{row.title}}"
        mrf-digest="row.mrfDigest"
        mrf-data="row.mrfData">
    </mrf-edit>
</div> <!-- .checklist-item -->
