<div class="checklist-item">
    <header class="checklist-item-header">
        <button
            aria-label="More Information"
            class="checklist-item-info-toggle btn btn-link btn-no-label"
            ng-class="{'has-footnote' : checklistItemCtrl.hasFootnote}"
            ng-click="checklistItemCtrl.showFootnote()"
            type="button">

            <i class="fa fa-info-circle" aria-hidden="true"></i>
        </button>

        <h4 class="checklist-item-title">{{::checklistItemCtrl.display.Shorthand}}</h4>
    </header>

    <section class="container">
        <div class="form-group form-group-horizontal"
             data-ng-repeat="staticPressure in checklistItemCtrl.mrfTable.Columns track by $index">
            <label for="{{::staticPressure.Key}}" class="control-label">
                {{::staticPressure.Name}}
            </label>

            <input
                id="{{::staticPressure.Key}}"
                name="{{::staticPressure.Key}}"
                class="form-control"
                value="{{checklistItemCtrl.itemData[staticPressure.Key]}}"
                data-ng-click="checklistItemCtrl.editMrfRow(staticPressure.Key)" />

            <abbr class="input-unit" title="{{::staticPressure.Unit.Title}}">
                {{::staticPressure.Unit.Abbr}}
            </abbr>
        </div>

    </section>

    <div class="flex-row flex-align-center flex-justify-end flex-item-fixed-width">
        <checklist-item-comments
            comments="checklistItemCtrl.comments"
            item-id="{{checklistItemCtrl.itemId}}"
            on-comment="checklistItemCtrl.postComment(comment)">
        </checklist-item-comments>

        <checklist-item-response
            response="checklistItemCtrl.response"
            response-house-id="checklistItemCtrl.responseHouseId"
            data-ng-hide="checklistItemCtrl.showResponseButtons"
            edit-response="checklistItemCtrl.onEditResponse()">
        </checklist-item-response>

        <div class="verification"
             data-ng-hide="!checklistItemCtrl.showResponseButtons">
            <button-group
                class="button-group"
                buttons="checklistItemCtrl.responseButtons"
                initial-value="checklistItemCtrl.response"
                on-set-value="checklistItemCtrl.onSetResponse(response)">
            </button-group>
        </div>
    </div>

    <mrf-edit
        data-ng-repeat="row in checklistItemCtrl.editRow"
        on-save-mrf-row="checklistItemCtrl.onSaveMrfRow(mrfRowEditData)"
        on-cancel-mrf-row="checklistItemCtrl.onCancelMrfRow()"
        focus="{{row.focus}}"
        title="{{row.title}}"
        mrf-digest="row.mrfDigest"
        mrf-data="row.mrfData">
    </mrf-edit>
</div> <!-- .checklist-item -->
