<div class="page-container">
    <header class="page-header">
        <h2>User Settings</h2>
    </header>

    <div class="row">
        <section class="col-xs-12">
            <h3>Connected to My ENERGY STAR Account:</h3>

            <section class="col-xs-12">

                <ul class="list-unstyled">
                    <li><strong>Account:</strong> {{userSettingsPageCtrl.userMESAData.Email}}</li>
                    <li><strong>Full Name:</strong> {{userSettingsPageCtrl.userMESAData.FirstName}} {{userSettingsPageCtrl.userMESAData.LastName}}</li>
                    <li><strong>Rater Status:</strong> {{userSettingsPageCtrl.userMESAData.Eligibility}}</li>
                </ul>

                <p><strong>Last updated:</strong> {{userSettingsPageCtrl.userMESAData.LastDateUpdated | date:'medium' }}</p>

                <p>To update your contact information, please make changes in <a href="https://www.energystar.gov/index.cfm?fuseaction=mesa.showlogin">My Energy Star Account</a>.</p>
            </section>
        </section>

        <form
            novalidate
            class="col-xs-12"
            name="userSettingsPageCtrl.userSettings"
            data-ng-submit="userSettingsPageCtrl.userSettings.$valid && userSettingsPageCtrl.onSubmit()">

            <h3>User Settings</h3>

            <div class="col-xs-12">
                <p>To update your RaterPRO login information, use the form below.</p>

                <status-message status="userSettingsPageCtrl.message"></status-message>
            </div>

            <fieldset>
                <legend class="fieldset-legend">User Name</legend>

                <div class="form-group" data-ng-class="{'has-error' : userSettingsPageCtrl.userSettings.userName.$invalid && userSettingsPageCtrl.userSettings.userName.$dirty}">
                    <label for="userName"></label>
                    <input
                        class="form-control"
                        id="userName"
                        name="userName"
                        type="text"
                        data-ng-pattern="userSettingsPageCtrl.userNamePattern"
                        data-ng-minlength="7"
                        placeholder="User Name"
                        data-ng-model="userSettingsPageCtrl.userName" />

                    <p class="form-control-error" role="alert">
                        {{::userSettingsPageCtrl.VALIDATION_MESSAGE.USER_NAME}}
                    </p>
                </div>
            </fieldset>


            <fieldset>
                <legend class="fieldset-legend">Password</legend>

                <div class="form-group" data-ng-class="{'has-error' : userSettingsPageCtrl.userSettings.currentPassword.$invalid && userSettingsPageCtrl.userSettings.currentPassword.$dirty}">
                    <label for="currentPassword"></label>
                    <input
                        class="form-control"
                        type="password"
                        id="currentPassword"
                        name="currentPassword"
                        data-ng-pattern="userSettingsPageCtrl.passwordPattern"
                        placeholder="Current Password"
                        data-ng-model="userSettingsPageCtrl.currentPassword" />

                    <p class="form-control-error" role="alert">
                        {{::userSettingsPageCtrl.VALIDATION_MESSAGE.PASSWORD}}
                    </p>
                </div>

                <div class="form-group" data-ng-class="{'has-error' : userSettingsPageCtrl.userSettings.newPassword.$invalid && userSettingsPageCtrl.userSettings.newPassword.$dirty}">
                    <label for="newPassword"></label>
                    <input
                        class="form-control"
                        type="password"
                        id="newPassword"
                        name="newPassword"
                        data-ng-pattern="userSettingsPageCtrl.passwordPattern"
                        placeholder="New Password"
                        data-ng-model="userSettingsPageCtrl.newPassword" />

                    <p class="form-control-error" role="alert">
                        {{::userSettingsPageCtrl.VALIDATION_MESSAGE.PASSWORD}}
                    </p>
                </div>

                <div class="form-group" data-ng-class="{'has-error' : userSettingsPageCtrl.userSettings.confirmPassword.$invalid && userSettingsPageCtrl.userSettings.confirmPassword.$dirty}">
                    <label for="confirmPassword"></label>
                    <input
                        class="form-control"
                        type="password"
                        id="confirmPassword"
                        name="confirmPassword"
                        data-ng-pattern="userSettingsPageCtrl.passwordPattern"
                        placeholder="Verify New Password"
                        data-ng-model="userSettingsPageCtrl.confirmPassword" />

                    <p class="form-control-error" role="alert">
                        {{::userSettingsPageCtrl.VALIDATION_MESSAGE.CONFIRM_PASSWORD}}
                    </p>
                </div>
            </fieldset>

            <div class="form-actions">
                <button type="submit" ng-disabled="userName.$invalid" class="btn">
                    Save
                </button>
            </button>
        </form>
    </div>
</div>
