<figure class="photo-capture clearfix" data-ng-class="{'photo-capture-collapsed' : photoCaptureCtrl.isCollapsed}">
    <button
        aria-label="expand image"
        can-expand="true"
        class="btn btn-link btn-lightbox"
        lightbox="lightbox"
        type="button">

        <img class="pull-left" data-ng-src="{{photoCaptureCtrl.photoUrl}}" alt="" />
    </button>

    <figcaption class="photo-capture-action" data-ng-if="photoCaptureCtrl.allowAddPhoto">
        <button
            class="btn btn-block btn-photo-capture btn-link"
            data-ng-click="photoCaptureCtrl.addPhoto($event)"
            type="button">

            <i class="fa fa-camera" aria-hidden="true"></i> {{photoCaptureCtrl.photoActionLabel}}
        </button>
    </figcaption>
</figure>
