<section class="page-container">
    <header class="page-header">
        <h2>Users</h2>
    </header>

    <div class="row">
        <div class="col-xs-2">
            <nav class="nav nav-stacked">
                <a data-ui-sref="users" ui-sref-active="active" class="nav-item">Users</a>
                <a data-ui-sref="providers" ui-sref-active="active" class="nav-item">Providers</a>
            </nav>
        </div>

        <section class="col-xs-10">
            <header class="page-header item-list-header clearfix">
                <h2 class="pull-left item-list-title">Providers</h2>
                <button
                    type="button"
                    class="btn pull-right"
                    data-ng-click="providersPageCtrl.showAddProviderDialog()"
                    data-ng-if="false">

                    <i class="fa fa-plus" aria-hidden="true"></i> Add Provider
                </button>
            </header>

            <div class="row">
                <div class="col-xs-12 users">
                    <table class="table-full-width">
                        <thead>
                            <tr>
                                <th>RESNET Provider ID</th>
                                <th>Company Name</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="provider in providersPageCtrl.company.RelatedProviderCompanys track by $index">
                                <td>{{provider.ProviderRESNETId}}</td>
                                <td>{{provider.Name}}</td>
                                <td>{{provider.Status}}</td>
                                <td><button type="button" class="btn btn-sm btn-link" data-ng-click="providersPageCtrl.showRemoveProviderDiaglog(provider.ProviderRESNETId)">Remove</button></td>
                            </tr>
                    </table>
                </div>
            </div>
        </section>
    </div>
</section>

<div class="dialog hidden" dialog="dialog" id="dialog-add-provider-company">
    <div class="dialog-header">
        <h3 class="dialog-title">Add Provider Company</h3>
    </div>
    <div class="dialog-body">
        <div class="form-group">
            <label for="selectedProviderToAdd" class="control-label">Select a provider to add</label>
            <select
                class="form-control"
                data-ng-model="providersPageCtrl.selectedProviderToAdd"
                id="selectedProviderToAdd"
                data-ng-options="provider.Name for provider in providersPageCtrl.providerCompanies track by provider.ProviderRESNETId">
            </select>
        </div>

        <p>You will not be able to submit jobs until providers have approved your association.</p>
    </div>
    <div class="dialog-footer text-right">
        <button class="btn btn-link" type="button" data-ng-click="dismiss(false)">Cancel</button>
        <button class="btn" data-ng-click="dismiss(true)">Add</button>
    </div>
</div>


<div class="dialog hidden" dialog="dialog" id="dialog-remove-provider-company">
    <div class="dialog-header">
        <h3 class="dialog-title">Remove Provider Company</h3>
    </div>
    <div class="dialog-body">
        <p>Any jobs submitted to this provider will be returned to "completed" status.</p>
    </div>
    <div class="dialog-footer text-right">
        <button class="btn btn-link" type="button" data-ng-click="dismiss(false)">Cancel</button>
        <button class="btn" data-ng-click="dismiss(true)">Remove</button>
    </div>
</div>
