<div class="checklist-item">
    <div class="flex-row flex-justify-between">
        <header class="checklist-item-header form-group-horizontal">
            <button class="checklist-item-info-toggle btn btn-link btn-no-label" type="button" aria-label="More Information"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
            <h4 class="checklist-item-title pull-left">Mfr. &amp; model of HVAC equipment matches</h4>
            <select
                class="form-control hvac-equipment-matches"
                data-ng-options="document.name for document in checklistItemHVACCommissioningCtrl.EQUIPMENT_MATCHES_DOCUMENT track by document.key"
                data-ng-model="checklistItemHVACCommissioningCtrl.selectedEquipmentMatches"
                data-ng-change="checklistItemHVACCommissioningCtrl.onEquipmentMatchesChange()">
            </select>
        </header>

        <div class="flex-row flex-align-center">
            <checklist-item-comments
                comments="checklistItemHVACCommissioningCtrl.comments"
                item-id="{{checklistItemHVACCommissioningCtrl.itemId}}"
                on-comment="checklistItemHVACCommissioningCtrl.postComment(comment)">
            </checklist-item-comments>

            <checklist-item-response
                response="checklistItemHVACCommissioningCtrl.response"
                response-house-id="checklistItemHVACCommissioningCtrl.responseHouseId"
                data-ng-hide="checklistItemHVACCommissioningCtrl.showResponseButtons"
                edit-response="checklistItemHVACCommissioningCtrl.onEditResponse()">
            </checklist-item-response>

            <div class="verification"
                 data-ng-hide="!checklistItemHVACCommissioningCtrl.showResponseButtons">
                <button-group
                    class="button-group"
                    buttons="checklistItemHVACCommissioningCtrl.responseButtons"
                    initial-value="checklistItemHVACCommissioningCtrl.response"
                    on-set-value="checklistItemHVACCommissioningCtrl.onSetResponse(response)">
                </button-group>
            </div>
        </div>
    </div>

    <div>
        <!-- <p><button class="btn" data-ng-click="checklistItemHVACCommissioningCtrl.onViewHvacDesignReport()" type="button">View HVAC Design Report</button></p> -->

        <div class="item-list item-list-equipment">
            <hvac-equipment
                class="item-list-item"
                data-ng-repeat="equipment in checklistItemHVACCommissioningCtrl.itemData.Equipment track by $index"
                delete-equipment="checklistItemHVACCommissioningCtrl.deleteEquipment(index)"
                equipment="equipment"
                index="{{$index}}"
                save-equipment="checklistItemHVACCommissioningCtrl.saveEquipment(index, equipment)">
            </hvac-equipment>
        </div>

        <div class="clearfix">
            <button class="btn pull-right" data-ng-click="checklistItemHVACCommissioningCtrl.addEquipment()" type="button"><i class="fa fa-plus" aria-hidden="true"></i> Add Equipment</button>
        </div>
    </div>
</div>
