<div class="item-list">
    <job-admin
        enabled="jobsCtrl.enabled"
        data-ng-if="::jobsCtrl.CONTEXT_IS_ADMIN && (jobsCtrl.currentStateName === jobsCtrl.STATE_NAME.JOBS || jobsCtrl.currentStateName === jobsCtrl.STATE_NAME.JOBS_SEARCH)"
        class="item-list-item item-list-item-job flex-row"
        data-ng-repeat="job in jobsCtrl.jobs track by $index"
        job="job"
        marked="jobsCtrl.markedJobs[$index]"
        on-set-bulk-operation-status="jobsCtrl.setBulkOperationStatus()">
    </job-admin>

    <job-provider
        enabled="jobsCtrl.enabled"
        data-ng-if="::jobsCtrl.currentStateName === jobsCtrl.STATE_NAME.JOBS_PROVIDER || jobsCtrl.currentStateName === jobsCtrl.STATE_NAME.JOBS_PROVIDER_SEARCH"
        class="item-list-item item-list-item-job flex-row"
        data-ng-repeat="job in jobsCtrl.jobs track by $index"
        job="job"
        marked="jobsCtrl.markedJobs[$index]"
        on-set-bulk-operation-status="jobsCtrl.setBulkOperationStatus()">
    </job-provider>

    <job-rater
        data-ng-disabled="jobsCtrl.enabled"
        data-ng-if="::!jobsCtrl.CONTEXT_IS_ADMIN && (jobsCtrl.currentStateName === jobsCtrl.STATE_NAME.JOBS || jobsCtrl.currentStateName === jobsCtrl.STATE_NAME.JOBS_SEARCH)"
        class="item-list-item item-list-item-job flex-row"
        data-ng-repeat="job in jobsCtrl.jobs track by $index"
        job="job"
        marked="jobsCtrl.markedJobs[$index]">
    </job-rater>
</div>
