@import '../../../../scss/variables';

.item-list-head-jobs {
    font-weight: bold;
    margin: $gutter-half 0 $offset-default;
    padding-right: 55px;

    span {
        margin-left: $offset-default;
        text-align: center;
        width: 80px;
    }
}
