<!-- modal: complete job -->

<div class="modal modal-dialog hidden" modal="modal" id="modal-complete-job">
    <div class="modal-header flex-row">
        <span class="modal-title flex-item-grow">Complete Job</span>
    </div>

    <div class="modal-body-wrapper">
        <div class="modal-body">
            <p>The job cannot be completed until the following issues are resolved:</p>
            <ul>
                <li data-ng-if="jobsChecklistPageCtrl.jobCompleteStatus.MustCorrect > 0">There are {{jobsChecklistPageCtrl.jobCompleteStatus.MustCorrect}} items that must be corrected.</li>
                <li data-ng-if="jobsChecklistPageCtrl.jobCompleteStatus.BuilderVerified > 8">There are are {{jobsChecklistPageCtrl.jobCompleteStatus.BuilderVerified}} flagged as builder verified. The maximum is eight.</li>
                <li data-ng-if="jobsChecklistPageCtrl.jobCompleteStatus.Remaining !== 0">There are {{jobsChecklistPageCtrl.jobCompleteStatus.Remaining}} items remaining.</li>
            </ul>
        </div>
    </div>

    <div class="modal-footer clearfix">
        <button class="btn btn-link btn-modal btn-modal-close pull-right" type="button">OK</button>
    </div>
</div>

<!-- modal: download REM XML -->

<div class="modal modal-dialog hidden" modal="modal" id="modal-download-rem-xml">
    <div class="modal-header flex-row">
        <div class="flex-item-static">
            <button class="btn btn-link btn-modal-close" type="button">Close</button>
        </div>

        <span class="modal-title flex-item-grow">Download XML</span>
    </div>

    <div class="modal-body-wrapper">
        <div class="modal-body">
            <p>The following link will expire in 5 minutes:</p>
            <p><a data-ng-href="{{jobsChecklistPageCtrl.downloadUrl}}" class="btn">Download</a></p>
        </div>
    </div>
</div>

<!-- modal: history -->

<div class="modal modal-large modal-scroll-body hidden" modal="modal" id="modal-show-history">
    <div class="modal-header flex-row">
        <div class="flex-item-static">
            <button class="btn btn-link btn-modal-close" type="button">Close</button>
        </div>

        <span class="modal-title flex-item-grow">History</span>
    </div>

    <div class="modal-body-wrapper">
        <div class="modal-body">
            <p data-ng-repeat="history in jobsChecklistPageCtrl.job.History">{{::history.Description}} by: {{::history.User}} on {{::history.DateTime | date:"MM/dd/yyyy"}}</p>
        </div>
    </div>
</div>


<!-- modal: Download HVAC Design Report -->

<div class="modal modal-dialog" data-ng-class="{'hidden' : !jobsChecklistPageCtrl.showHvacDesignReportModal}">
    <div class="modal-header">
        <span class="modal-title">Download HVAC Design Report</span>
        <button class="btn btn-link pull-right" type="button" data-ng-click="jobsChecklistPageCtrl.hideModalHvacDesignReport()" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
    </div>

    <div class="modal-body-wrapper">
        <div class="modal-body" data-ng-class="{'hidden' : jobsChecklistPageCtrl.hvacDesignReport.length === 0}">
            <p>The following link will expire in 5 minutes:</p>
            <p><a data-ng-href="{{jobsChecklistPageCtrl.hvacDesignReport}}" class="btn">Download</a></p>
        </div>

        <div class="modal-body" data-ng-class="{'hidden' : jobsChecklistPageCtrl.hvacDesignReport.length > 0}">
            <p>There is no HVAC Design Report associated with this location.</p>
        </div>
    </div>
</div>
<div
    class="overlay overlay-modal"
    data-ng-class="{'hidden' : !jobsChecklistPageCtrl.showHvacDesignReportModal}"
    data-ng-click="jobsChecklistPageCtrl.hideModalHvacDesignReport()">
</div>

<div
    id="job-checklist-header"
    scroll-affix="scroll-affix"
    affix-order="1"
    affix-offset="-29">

    <div class="job-checklist-header">
        <header class="page-container flex-row flex-align-center">

            <a ng-if="jobsChecklistPageCtrl.role !== 'provider'" class="btn-back" data-ui-sref="jobs-search(jobsChecklistPageCtrl.appendFilterParams())" aria-label="Back to Jobs">
                <i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i>
            </a>

            <a ng-if="jobsChecklistPageCtrl.role === 'provider'" class="btn-back" data-ui-sref="jobs-provider-search(jobsChecklistPageCtrl.appendFilterParams())" aria-label="Back to Jobs">
                <i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i>
            </a>

            <div class="job-checklist-meta ellipsis">
                <span class="label label-rating-type" data-ng-class="jobsChecklistPageCtrl.getRatingTypeClass()">
                    {{::jobsChecklistPageCtrl.RatingTypeLabel}}
                </span>

                <h2 class="job-checklist-title" data-ng-bind-html="jobsChecklistPageCtrl.JobTitle"></h2>

            </div>

            <div class="actions flex-row flex-item-pull-right flex-align-center">
                <div dropdown="dropdown" id="dropdown-job-info">
                    <button
                        type="button"
                        class="btn btn-job-dropdown-toggle"
                        dropdown-toggle="dropdown-toggle">

                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </button>

                    <nav
                        class="drop-down drop-down-left hidden"
                        dropdown-menu="dropdown-menu"
                        role="menu"
                        popover="popover">

                        <button
                            class="drop-down-item"
                            type="button"
                            role="menuitem"
                            data-ng-click="jobsChecklistPageCtrl.showHistory()">

                            View Job History
                        </button>
                        <span
                            class="drop-down-item">

                            ID: {{::jobsChecklistPageCtrl.job._id}}
                        </span>
                    </nav>
                </div>

                <a
                    data-ui-sref="job-edit({id: jobsChecklistPageCtrl.job._id})"
                    data-ng-if="jobsChecklistPageCtrl.role==='admin'"
                    class="btn btn-sm">

                    Edit Profile
                </a>

                <button
                    data-ng-click="jobsChecklistPageCtrl.completeJob()"
                    data-ng-disabled="!jobsChecklistPageCtrl.jobIsActive"
                    data-ng-class="{'btn-disabled' : !jobsChecklistPageCtrl.canCompleteJob()}"
                    data-ng-if="jobsChecklistPageCtrl.role !== 'provider' && jobsChecklistPageCtrl.role !== 'admin'"
                    class="btn btn-sm"
                    type="button">

                    Complete
                </button>

                <button
                    data-ng-if="jobsChecklistPageCtrl.role==='admin'"
                    data-ng-click="jobsChecklistPageCtrl.flagJobForReview()"
                    data-ng-disabled="!jobsChecklistPageCtrl.canFlagForReview"
                    class="btn btn-sm"
                    type="button">

                    Flag for Review
                </button>

                <button
                    data-ng-disabled="!jobsChecklistPageCtrl.canSubmitJob()"
                    data-ng-class="{'btn-disabled' : !jobsChecklistPageCtrl.canSubmitJob()}"
                    class="btn btn-sm"
                    data-ng-click="jobsChecklistPageCtrl.submitToProvider()"
                    data-ng-if="jobsChecklistPageCtrl.role==='admin'"
                    type="button">

                    Submit to Provider
                </button>

                <button
                    data-ng-disabled="!jobsChecklistPageCtrl.canMarkAsRegistered()"
                    data-ng-class="{'btn-disabled' : !jobsChecklistPageCtrl.canMarkAsRegistered()}"
                    class="btn btn-sm btn-no-warp"
                    type="button"
                    data-ng-if="jobsChecklistPageCtrl.role === 'provider' || jobsChecklistPageCtrl.role === 'admin'"
                    data-ng-click="jobsChecklistPageCtrl.markAsRegistered()">

                    Mark as Registered
                </button>

                <button
                    type="button"
                    data-ng-click="jobsChecklistPageCtrl.onDownloadRequest()"
                    class="btn btn-sm">

                    Download XML
                </button>
            </div>
        </header>
    </div>

    <div class="checklist-nav-wrapper">
        <div class="page-container">
            <checklist-nav></checklist-nav>
        </div>
    </div>
</div>

<checklist-house-selection houses="jobsChecklistPageCtrl.houses"></checklist-house-selection>

<div class="page-container">
    <checklist-filter></checklist-filter>

    <div ui-view></div>
</div>

<div class="dialog hidden" dialog="dialog" id="dialog-submit-to-provider">
    <div class="dialog-header">
        <h3 class="dialog-title">Submit Job to Provider</h3>
    </div>
    <div class="dialog-body">
        <div class="form-group" data-ng-if="jobsChecklistPageCtrl.company.RelatedProviderCompanys.length > 1">
            <label for="selectedProviderToAdd" class="control-label">Select Provider</label>
            <select
                class="form-control"
                data-ng-model="jobsChecklistPageCtrl.selectedProviderToAdd"
                id="selectedProviderToAdd"
                data-ng-options="provider.Name for provider in jobsChecklistPageCtrl.company.RelatedProviderCompanys track by provider.ProviderRESNETId">
            </select>
        </div>

        <div class="form-group" data-ng-if="jobsChecklistPageCtrl.company.RelatedProviderCompanys.length === 1">
            <p for="selectedProviderToAdd" class="control-label">This job will be submitted to: {{jobsChecklistPageCtrl.company.RelatedProviderCompanys[0].Name}}</p>
        </div>

        <div data-ng-if="!jobsChecklistPageCtrl.hasRelatedProviderCompanies">
            <p>There are no provider companies associated with {{jobsChecklistPageCtrl.company.Name}}.</p>
        </div>
    </div>
    <div class="dialog-footer text-right">
        <button class="btn btn-link" type="button" data-ng-click="dismiss(false)">Cancel</button>
        <button class="btn" data-ng-click="dismiss(true)" data-ng-disabled="!jobsChecklistPageCtrl.hasRelatedProviderCompanies">Submit</button>
    </div>
</div>
