<!-- modal: complete job -->

<div class="modal modal-dialog" data-ng-class="{'hidden' : !jobsChecklistPageCtrl.showCompleteModal}">
    <div class="modal-header">
        <span class="modal-title">Complete Job</span>
        <button class="btn btn-link pull-right" type="button" data-ng-click="jobsChecklistPageCtrl.hideModal()" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
    </div>

    <div class="modal-body-wrapper">
        <div class="modal-body">
            <p>The job cannot be completed until the following issues are resolved:</p>
            <ul>
                <li data-ng-if="jobsChecklistPageCtrl.jobCompleteStatus.MustCorrect > 0">There are {{jobsChecklistPageCtrl.jobCompleteStatus.MustCorrect}} items that must be corrected.</li>
                <li data-ng-if="jobsChecklistPageCtrl.jobCompleteStatus.BuilderVerified > 8">There are are {{jobsChecklistPageCtrl.jobCompleteStatus.BuilderVerified}} flagged as builder verified. The maximum is eight.</li>
                <li data-ng-if="jobsChecklistPageCtrl.jobCompleteStatus.Remaining !== 0">There are {{jobsChecklistPageCtrl.jobCompleteStatus.Remaining}} items remaining.</li>
            </ul>
        </div>
    </div>

    <div class="modal-footer clearfix">
        <button class="btn pull-right" type="button" data-ng-click="jobsChecklistPageCtrl.hideModal()">Okay</button>
    </div>
</div>

<div
    class="overlay overlay-modal"
    data-ng-class="{'hidden' : !jobsChecklistPageCtrl.showCompleteModal}"
    data-ng-click="jobsChecklistPageCtrl.hideModal()">
</div>

<!-- modal: download REM XML -->

<div class="modal modal-dialog" data-ng-class="{'hidden' : !jobsChecklistPageCtrl.showDownloadModal}">
    <div class="modal-header">
        <span class="modal-title">Download REM XML</span>
        <button class="btn btn-link pull-right" type="button" data-ng-click="jobsChecklistPageCtrl.hideModalDownload()" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
    </div>

    <div class="modal-body-wrapper">
        <div class="modal-body">
            <p>The following link will expire in 5 minutes:</p>
            <p><a data-ng-href="{{jobsChecklistPageCtrl.downloadUrl}}" class="btn">Download</a></p>
        </div>
    </div>
</div>
<div
    class="overlay overlay-modal"
    data-ng-class="{'hidden' : !jobsChecklistPageCtrl.showHvacDesignReportModal}"
    data-ng-click="jobsChecklistPageCtrl.hideModalDownload()">
</div>

<!-- modal: history -->

<div class="modal modal-large modal-scroll-body hidden" modal="modal" id="modal-show-history">
    <div class="modal-header flex-row">
        <div class="flex-item-static">
            <button class="btn btn-link btn-modal-close" type="button">Close</button>
        </div>

        <span class="modal-title flex-item-grow">History</span>
    </div>

    <div class="modal-body-wrapper">
        <div class="modal-body">
            <p data-ng-repeat="history in jobsChecklistPageCtrl.job.History">{{history.Description}} by: {{history.User}} on {{history.DateTime | date:"MM/dd/yyyy"}}</p>
        </div>
    </div>
</div>


<!-- modal: Download HVAC Design Report -->

<div class="modal modal-dialog" data-ng-class="{'hidden' : !jobsChecklistPageCtrl.showHvacDesignReportModal}">
    <div class="modal-header">
        <span class="modal-title">Download HVAC Design Report</span>
        <button class="btn btn-link pull-right" type="button" data-ng-click="jobsChecklistPageCtrl.hideModalHvacDesignReport()" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
    </div>

    <div class="modal-body-wrapper">
        <div class="modal-body" data-ng-class="{'hidden' : jobsChecklistPageCtrl.hvacDesignReport.length === 0}">
            <p>The following link will expire in 5 minutes:</p>
            <p><a data-ng-href="{{jobsChecklistPageCtrl.hvacDesignReport}}" class="btn">Download</a></p>
        </div>

        <div class="modal-body" data-ng-class="{'hidden' : jobsChecklistPageCtrl.hvacDesignReport.length > 0}">
            <p>There is no HVAC Design Report associated with this location.</p>
        </div>
    </div>
</div>
<div
    class="overlay overlay-modal"
    data-ng-class="{'hidden' : !jobsChecklistPageCtrl.showHvacDesignReportModal}"
    data-ng-click="jobsChecklistPageCtrl.hideModalHvacDesignReport()">
</div>

<div class="job-checklist-header">
    <header class="page-container flex-row flex-align-center">
        <a class="btn-back" data-ui-sref="jobs()" aria-label="Back to Jobs">
            <i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i>
        </a>

        <div class="job-checklist-meta">
            <span class="label label-rating-type" data-ng-class="jobsChecklistPageCtrl.getRatingTypeClass()">
                {{jobsChecklistPageCtrl.RatingTypeLabel}}
            </span><br />

            <h2 class="job-checklist-title" data-ng-bind-html="jobsChecklistPageCtrl.JobTitle"></h2>

            <button type="button" class="btn btn-link" data-ng-click="jobsChecklistPageCtrl.toggleDropDown()">
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </button>

            <nav class="drop-down" data-ng-class="{'hidden' : !jobsChecklistPageCtrl.showActionsDropDown}">
                <button
                    class="drop-down-item"
                    type="button"
                    data-ng-click="jobsChecklistPageCtrl.showHistory()">

                    View Job History
                </button>
                <span
                    class="drop-down-item">

                    ID: {{jobsChecklistPageCtrl.job._id}}
                </span>
            </nav>
            <div
                class="overlay drop-down-overlay"
                data-ng-class="{'hidden' : !jobsChecklistPageCtrl.showActionsDropDown}"
                data-ng-click="jobsChecklistPageCtrl.hideDropDown()">
            </div>
        </div>


        <div class="actions">
            <button
                style="width: 125px; text-align: center; margin-right: 5px; float:right"
                type="button"
                data-ng-click="jobsChecklistPageCtrl.onDownloadRequest()"
                class="drop-down-item">

                Download Job
            </button>

            <button
                style="width: 125px; text-align: center; margin-right: 5px; float:right"
                disabled="disabled"
                data-ng-if="jobsChecklistPageCtrl.role==='admin'"
                class="drop-down-item"
                type="button">

                Flag for Review
            </button>

            <button
                style="width: 125px; text-align: center; margin-right: 5px; float:right"
                disabled="disabled"
                class="drop-down-item"
                data-ng-if="jobsChecklistPageCtrl.role==='admin'"
                type="button">

                Submit to Provider
            </button>

            <button
                style="width: 125px; text-align: center; margin-right: 5px; float:right"
                disabled="disabled"
                class="drop-down-item"
                data-ng-if="jobsChecklistPageCtrl.role!=='admin' && jobsChecklistPageCtrl.role!=='provider'"
                type="button">

                Notify Builder
            </button>

            <button
                style="width: 125px; text-align: center; margin-right: 5px; float:right"
                data-ng-click="jobsChecklistPageCtrl.hideDropDown(); jobsChecklistPageCtrl.completeJob()"
                data-ng-disabled="!jobsChecklistPageCtrl.jobIsActive"
                data-ng-class="{'drop-down-item-disabled' : !jobsChecklistPageCtrl.canCompleteJob()}"
                data-ng-if="jobsChecklistPageCtrl.role!=='admin' && jobsChecklistPageCtrl.role!=='provider'"
                class="drop-down-item"
                type="button">

                Complete
            </button>

            <button
                style="width: 125px; text-align: center; margin-right: 5px; float:right"
                data-ng-click="jobsChecklistPageCtrl.hideDropDown(); jobsChecklistPageCtrl.completeJob()"
                data-ng-disabled="!jobsChecklistPageCtrl.jobIsActive"
                data-ng-class="{'drop-down-item-disabled' : !jobsChecklistPageCtrl.canCompleteJob()}"
                class="drop-down-item"
                data-ng-if="jobsChecklistPageCtrl.role==='admin'"
                type="button">

                Delete Job
            </button>

            <a
                style="width: 125px; text-align: center; margin-right: 5px; float:right"
                data-ng-if="false"
                data-ui-sref="job-edit({id: jobsChecklistPageCtrl.job._id})"
                class="drop-down-item">

                Edit Job
            </a>

    </header>
</div>

<checklist-house-selection houses="jobsChecklistPageCtrl.houses"></checklist-house-selection>

<div class="page-container">
    <checklist-nav></checklist-nav>

    <checklist-filter></checklist-filter>

    <div ui-view></div>
</div>
