<!-- modal: complete job -->

<div class="modal modal-dialog" data-ng-class="{'hidden' : !jobsChecklistPageCtrl.showCompleteModal}">
    <div class="modal-header">
        <span class="modal-title">Complete Job</span>
        <button class="btn btn-link pull-right" type="button" data-ng-click="jobsChecklistPageCtrl.hideModal()" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
    </div>

    <div class="modal-body-wrapper">
        <div class="modal-body">
            <p>The job cannot be completed until the following issues are resolved:</p>
            <ul>
                <li data-ng-if="jobsChecklistPageCtrl.mustCorrectItems > 0">There are {{jobsChecklistPageCtrl.mustCorrectItems}} items that must be corrected.</li>
                <li data-ng-if="jobsChecklistPageCtrl.totalRemaining !== 0">There are {{jobsChecklistPageCtrl.totalRemaining}} items remaining.</li>
            </ul>
        </div>
    </div>

    <div class="modal-footer clearfix">
        <button class="btn pull-right" type="button" data-ng-click="jobsChecklistPageCtrl.hideModal()">Okay</button>
    </div>
</div>
<div
    class="overlay overlay-modal"
    data-ng-class="{'hidden' : !jobsChecklistPageCtrl.showCompleteModal}"
    data-ng-click="jobsChecklistPageCtrl.hideModal()">
</div>

<!-- modal: download REM XML -->

<div class="modal modal-dialog" data-ng-class="{'hidden' : !jobsChecklistPageCtrl.showDownloadModal}">
    <div class="modal-header">
        <span class="modal-title">Download REM XML</span>
        <button class="btn btn-link pull-right" type="button" data-ng-click="jobsChecklistPageCtrl.hideModalDownload()" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
    </div>

    <div class="modal-body-wrapper">
        <div class="modal-body">
            <p>The following link will expire in 5 minutes:</p>
            <p><a data-ng-href="{{jobsChecklistPageCtrl.downloadUrl}}" class="btn">Download</a></p>
        </div>
    </div>
</div>
<div
    class="overlay overlay-modal"
    data-ng-class="{'hidden' : !jobsChecklistPageCtrl.showHvacDesignReportModal}"
    data-ng-click="jobsChecklistPageCtrl.hideModalDownload()">
</div>

<!-- modal: Download HVAC Design Report -->

<div class="modal modal-dialog" data-ng-class="{'hidden' : !jobsChecklistPageCtrl.showHvacDesignReportModal}">
    <div class="modal-header">
        <span class="modal-title">Download HVAC Design Report</span>
        <button class="btn btn-link pull-right" type="button" data-ng-click="jobsChecklistPageCtrl.hideModalHvacDesignReport()" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
    </div>

    <div class="modal-body-wrapper">
        <div class="modal-body" data-ng-class="{'hidden' : jobsChecklistPageCtrl.hvacDesignReport.length === 0}">
            <p>The following link will expire in 5 minutes:</p>
            <p><a data-ng-href="{{jobsChecklistPageCtrl.hvacDesignReport}}" class="btn">Download</a></p>
        </div>

        <div class="modal-body" data-ng-class="{'hidden' : jobsChecklistPageCtrl.hvacDesignReport.length > 0}">
            <p>There is no HVAC Design Report associated with this location.</p>
        </div>
    </div>
</div>
<div
    class="overlay overlay-modal"
    data-ng-class="{'hidden' : !jobsChecklistPageCtrl.showHvacDesignReportModal}"
    data-ng-click="jobsChecklistPageCtrl.hideModalHvacDesignReport()">
</div>

<div class="job-checklist-header">
    <header class="page-container flex-row flex-align-center">
        <a class="btn-back" data-ui-sref="jobs()" aria-label="Back to Jobs">
            <i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i>
        </a>

        <div class="job-checklist-meta">
            <span class="label label-rating-type" data-ng-class="jobsChecklistPageCtrl.getRatingTypeClass()">
                {{jobsChecklistPageCtrl.RatingTypeLabel}}
            </span>

            <h2 class="job-checklist-title">
                {{::jobsChecklistPageCtrl.JobTitle}}
            </h2>
        </div>

        <div class="actions">
            <button type="button" class="btn" data-ng-click="jobsChecklistPageCtrl.toggleDropDown()">
                Actions <i class="fa fa-caret-down" aria-hidden="true"></i>
            </button>
            <nav class="drop-down" data-ng-class="{'hidden' : !jobsChecklistPageCtrl.showActionsDropDown}">
                <button
                    data-ng-click="jobsChecklistPageCtrl.hideDropDown(); jobsChecklistPageCtrl.completeJob()"
                    data-ng-disabled="!jobsChecklistPageCtrl.jobIsActive"
                    class="drop-down-item"
                    type="button">
                    Complete
                </button>
                <a
                    data-ui-sref="job-edit({id: jobsChecklistPageCtrl.job._id})"
                    class="drop-down-item">
                    Edit Job
                </a>
                <button
                    type="button"
                    data-ng-click="jobsChecklistPageCtrl.onDownloadRequest()"
                    class="drop-down-item">
                    Download Job
                </button>
                <button
                    disabled="disabled"
                    class="drop-down-item"
                    type="button">
                    Notify Builder
                </button>
                <button
                    disabled="disabled"
                    class="drop-down-item"
                    type="button">
                    View Job History
                </button>
            </nav>
            <div
                class="overlay drop-down-overlay"
                data-ng-class="{'hidden' : !jobsChecklistPageCtrl.showActionsDropDown}"
                data-ng-click="jobsChecklistPageCtrl.hideDropDown()">
            </div>
        </div>
    </header>
</div>

<checklist-house-selection houses="jobsChecklistPageCtrl.houses"></checklist-house-selection>

<div class="page-container">
    <checklist-nav progress="jobsChecklistPageCtrl.jobDataResponse.Progress"></checklist-nav>

    <checklist-filter checklist-items-quantity="{{jobsChecklistPageCtrl.checklistItemsQuantity}}"></checklist-filter>

    <job-checklist
        job="jobsChecklistPageCtrl.job"
        job-display-list="jobsChecklistPageCtrl.jobDisplayList"
        job-data-response="jobsChecklistPageCtrl.jobDataResponse">
    </job-checklist>
</div>
