<!-- new house plan modal -->
<form class="modal modal-large modal-scroll-body" name="housePlanNew" ng-submit="housePlanNewCtrl.onSubmit()">
    <div class="modal-header flex-row">
        <div class="flex-item-static">
            <a class="btn btn-link" data-ui-sref="^">Cancel</a>
        </div>

        <span class="modal-title flex-item-grow">New Template</span>

        <div class="flex-item-static">
            <button class="btn pull-right" type="submit" data-ng-disabled="housePlanNewCtrl.uploadStage != 'select'"><i data-ng-class="{'hidden' : housePlanNewCtrl.uploadStage != 'uploading'}" class="fa fa-circle-o-notch fa-spin fa-fw"></i> Upload</button>
        </div>
    </div>

    <div class="modal-body-wrapper">
        <div class="modal-body" ng-show="housePlanNewCtrl.uploadStage == 'select'">
            <status-message status="housePlanNewCtrl.message" id="house-plan-new-status-message"></status-message>

            <fieldset>
                <legend class="fieldset-legend">Upload Rating File</legend>

                <label class="sr-only" for="housePlanFile">Choose a Rating File to upload</label>
                <input
                    type="file"
                    accept="text/xml"
                    multiple="multiple"
                    name="housePlanFile"
                    id="housePlanFile"
                    data-ng-model="housePlanNewCtrl.housePlanFile" />
            </fieldset>
        </div>

        <div class="modal-body" ng-show="housePlanNewCtrl.uploadStage == 'uploading'">
            <fieldset>
                <legend class="fieldset-legend">uploading... {{housePlanNewCtrl.uploadProgress.progress}} / {{housePlanNewCtrl.uploadProgress.total}}</legend>
                <progress class="progress-linear" value="{{housePlanNewCtrl.uploadProgress.progress}}" max="{{housePlanNewCtrl.uploadProgress.total}}"></progress>
            </fieldset>
        </div>

        <div class="modal-body" ng-show="housePlanNewCtrl.uploadStage == 'report'">
            <fieldset>
                <div ng-show="housePlanNewCtrl.uploadReport.length == 0">
                    <legend class="fieldset-legend">All Rating Files uploaded successfully</legend>
                </div>

                <div ng-show="housePlanNewCtrl.uploadReport.length != 0">
                    <legend class="fieldset-legend">{{housePlanNewCtrl.uploadReport.length}} Rating <ng-pluralize count="housePlanNewCtrl.uploadReport.length" when="{'one' : 'File', 'other' : 'Files'}"></ng-pluralize> did not upload successfully.</legend>
                    <br>
                    <div ng-repeat="failedHousePlan in housePlanNewCtrl.uploadReport track by $index">
                        <li>{{failedHousePlan.fileName}}. {{failedHousePlan.errorReason}}</li>
                    </div>
                </div>

                <button type="button" class="btn pull-right" data-ng-click="housePlanNewCtrl.goToBulkEdit()">Continue</button>
            </fieldset>
        </div>
    </div>
</form>

<div class="overlay overlay-modal"></div>
<!-- end new house plan modal -->
