<!-- new house plan modal -->
<form class="modal modal-large modal-scroll-body" name="housePlanNew" ng-submit="housePlanNewCtrl.onSubmit()">
    <div class="modal-header flex-row">
        <div class="flex-item-static">
            <a class="btn btn-link" data-ui-sref="^">Cancel</a>
        </div>

        <span class="modal-title flex-item-grow">New House Plan</span>

        <div class="flex-item-static">
            <button class="btn pull-right" type="submit" data-ng-disabled="housePlanNewCtrl.isBusy"><i data-ng-class="{'hidden' : !housePlanNewCtrl.isBusy}" class="fa fa-circle-o-notch fa-spin fa-fw"></i> Upload</button>
        </div>
    </div>

    <div class="modal-body-wrapper">
        <div class="modal-body">
            <status-message status="housePlanNewCtrl.message"></status-message>
            <status-message ng-if="housePlanNewCtrl.message" status="housePlanNewCtrl.errorReason"></status-message>

            <fieldset>
                <legend class="fieldset-legend">Upload House Plan</legend>

                <label class="sr-only" for="housePlanFile">Choose a file to upload</label>
                <input type="file" accept="text/xml" name="housePlanFile" id="housePlanFile" data-ng-model="housePlanNewCtrl.housePlanFile" />
            </fieldset>
        </div>
    </div>
</form>

<div class="overlay overlay-modal"></div>
<!-- end new house plan modal -->
