<form class="modal modal-large modal-scroll-body" novalidate name="checklistItemMrfEditCtrl.mrfEditForm" data-ng-class="{'hidden' : !checklistItemMrfEditCtrl.showMrfEditModal}">
    <div class="modal-header flex-row">
        <div class="flex-item-static">
            <button
                class="btn btn-link"
                type="button"
                data-ng-if="::!checklistItemMrfEditCtrl.isReview"
                data-ng-click="checklistItemMrfEditCtrl.cancel()">
                    Cancel
            </button>
        </div>

        <span class="modal-title flex-item-grow"><span data-ng-if="::!checklistItemMrfEditCtrl.isReview">Edit</span> {{::checklistItemMrfEditCtrl.title}}</span>

        <div class="flex-item-static">
            <button
                class="btn pull-right"
                data-ng-if="::!checklistItemMrfEditCtrl.isReview"
                data-ng-click="checklistItemMrfEditCtrl.save()"
                data-ng-disabled="checklistItemMrfEditCtrl.mrfEditForm.$invalid"
                type="submit">

                Save
            </button>
            <button
                class="btn pull-right"
                data-ng-if="::checklistItemMrfEditCtrl.isReview"
                data-ng-click="checklistItemMrfEditCtrl.cancel()"
                type="button">

                Close
            </button>
        </div>
    </div>

    <div class="modal-body-wrapper">
        <div class="modal-body">
            <div class="clearfix">
                <div class="form-group col-xs-6">
                    <mrf-edit-field-integer
                        data-ng-if="::!checklistItemMrfEditCtrl.isReview"
                        data-ng-model="checklistItemMrfEditCtrl.infiltrationValue"
                        field="checklistItemMrfEditCtrl.infiltrationDisplayData"
                        handle-change="checklistItemMrfEditCtrl.calculateInfiltrationValue()"
                        unit="checklistItemMrfEditCtrl.infiltrationDisplayData.Unit"
                        value="checklistItemMrfEditCtrl.infiltrationValue">
                    </mrf-edit-field-integer>

                    <mrf-edit-field-locked
                        data-ng-if="::checklistItemMrfEditCtrl.isReview"
                        field="checklistItemMrfEditCtrl.infiltrationDisplayData"
                        unit="checklistItemMrfEditCtrl.infiltrationDisplayData.Unit"
                        value="checklistItemMrfEditCtrl.infiltrationValue">
                    </mrf-edit-field-locked>
                </div>


                <div class="form-group col-xs-6" data-ng-if="false">
                    <p class="control-label">&nbsp;</p>
                    <button type="button" class="btn">Launch Testing App</button>
                </div>
            </div>

            <div class="clearfix">
                <div class="form-group col-xs-6 form-group-horizontal">
                    <input
                        class="form-control"
                        disabled="disabled"
                        data-ng-model="checklistItemMrfEditCtrl.ACH50"
                        id="ACH50"
                        name="ACH50"
                        type="number" /> <abbr class="input-unit" title="air changes per hour at 50 Pascals of pressure">ACH50</span>
                </div>
            </div>

            <div class="clearfix">
                <div class="form-group col-xs-6">
                    <!-- Shelter Class -->
                    <mrf-edit-field-enum
                        data-ng-if="::!checklistItemMrfEditCtrl.isReview"
                        field="checklistItemMrfEditCtrl.mrfDigest[5]"
                        value="checklistItemMrfEditCtrl.editMrfData['ShelterClass']">
                    </mrf-edit-field-enum>

                    <mrf-edit-field-locked
                        data-ng-if="::checklistItemMrfEditCtrl.isReview"
                        field="checklistItemMrfEditCtrl.mrfDigest[5]"
                        value="checklistItemMrfEditCtrl.editMrfData['ShelterClass']">
                    </mrf-edit-field-locked>
                </div>
            </div>
        </div>
    </div>
</form>

<div
    class="overlay overlay-modal"
    data-ng-class="{'hidden' : !checklistItemMrfEditCtrl.showMrfEditModal}">
</div>
