.label {
    font-weight: normal;
    line-height: $line-height-none;
    padding: $padding-small $padding-large;
}

.label-rating-type {
    display: inline-block;
    font-size: $font-size-small;
    margin-right: $offset-default;
}

.label-energy-star {
    background-color: $label-energy-star;
    color: $text-color-inverse;
    text-transform: uppercase;
}

.label-hers {
    background-color: $label-hers;
}

.label-status-returned {
    background-color: $label-returned;
    color: $text-color-inverse;
    display: inline-block;
    float: left;
    font-size: $font-size-small;
    margin-right: 1px;

    &:last-of-type {
        border-radius: 0 0 $border-radius-default;
    }
}
