div#site-head
    header.page-container.navbar.navbar-inverse.flex-row
        a(class="flex-row" data-ui-sref="jobs()" class="site-home-link")
            h1.site-title <span class="title-partial-energy-star">ENERGY STAR <sup>&reg;</sup></span> <span class="title-partial-rater">Rater</span><span class="title-partial-pro">PRO</span>

        nav.nav.flex-row
            button.btn.btn-link Hi <strong>Jon</strong> <i class="fa fa-caret-down" aria-hidden="true"></i>
