div#site-head
    header.page-container.navbar.flex-container
        a(class="flex-container" data-ui-sref="jobs()" class="site-home-link")
            img(src='/img/es-logo.svg' class="site-logo" alt="Energy Star logo" class="pull-left")
            h1.site-title <span>Energy Star</span> Rater Pro

        nav.nav.flex-container
            button.btn.btn-link Hi <strong>Jon</strong> <i class="fa fa-caret-down" aria-hidden="true"></i>
