@mixin font-face(
    $family,
    $path,
    $localspace,
    $localdash,
    $filename,
    $weight,
    $style) {

    @font-face {
        font-family: $family;
        src: url('#{$path}#{$filename}.eot');
        src: url('#{$path}#{$filename}.eot?#iefix') format('embedded-opentype'),
             url('#{$path}#{$filename}.woff') format('woff'),
             url('#{$path}#{$filename}.ttf') format('truetype');
        font-weight: $weight;
        font-style: $style;
    }
}
