<!-- edit house plan modal -->
<form name="housePlanEdit" class="modal modal-large modal-scroll-body" data-ng-submit="housePlanEditCtrl.onSubmit()">
    <div class="modal-header flex-row">
        <div class="flex-item-static">
            <a class="btn btn-link" data-ui-sref="^">Cancel</a>
        </div>

        <span class="modal-title flex-item-grow">Edit {{housePlanEditCtrl.housePlan.Name}}</span>
    </div>

    <div class="modal-body-wrapper">
        <div class="modal-body">
            <status-message status="housePlanEditCtrl.message"></status-message>

            <h3>{{::housePlanEditCtrl.housePlan.FileName}}</h3>

            <fieldset class="row">
                <legend class="sr-only">Edit Template Details</legend>

                <div class="row">
                    <div class="form-group col-xs-6">
                        <label class="control-label" for="Name">Template Name</label>
                        <input class="form-control" type="text" name="Name" id="Name" data-ng-model="housePlanEditCtrl.housePlan.Name" ng-required=true>
                    </div>

                    <div class="form-group col-xs-6">
                        <label class="control-label" for="SubplanName">Sub-plan Name (optional)</label>
                        <input class="form-control" type="text" name="SubplanName" id="SubplanName" data-ng-model="housePlanEditCtrl.housePlan.SubplanName">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-6">
                        <label class="control-label" for="BuilderName">Builder</label>
                        <input class="form-control" type="text" name="BuilderName" id="BuilderName" data-ng-model="housePlanEditCtrl.housePlan.BuilderName" ng-required=true>
                    </div>

                    <div class="form-group col-xs-6">
                        <label class="control-label" for="CommunityName">Community Name</label>
                        <input class="form-control" type="text" name="CommunityName" id="CommunityName" data-ng-model="housePlanEditCtrl.housePlan.CommunityName">
                    </div>
                </div>
            </fieldset>

            <fieldset class="row">

                <legend class="fieldset-legend">HVAC Design Report (PDF)</legend>

                <file-manager
                    accept="application/pdf"
                    files="housePlanEditCtrl.housePlan.HvacDesignReport"
                    input-id="HvacDesignReport"
                    label="HVAC Design Report"
                    show-details="housePlanEditCtrl.showFileDetails"
                    upload-only="true">
                </file-manager>
            </fieldset>

            <fieldset class="row">
                <legend class="fieldset-legend">Rater Design Review Checklist (PDF)</legend>

                <file-manager
                    accept="application/pdf"
                    files="housePlanEditCtrl.housePlan.RaterDesignReviewChecklist"
                    input-id="RaterDesignReviewChecklist"
                    label="Rater Design Review Checklist"
                    show-details="housePlanEditCtrl.showFileDetails"
                    upload-only="true">
                </file-manager>
            </fieldset>

            <fieldset class="row">
                <div class="flex-item-static">
                    <button class="btn pull-left" type="submit" data-ng-disabled="housePlanEditCtrl.isBusy"><i data-ng-class="{'hidden' : !housePlanEditCtrl.isBusy}" class="fa fa-circle-o-notch fa-spin fa-fw"></i> Save</button>
                </div>
                <a class="btn btn-link" ng-click="housePlanEditCtrl.deleteHousePlan()">Delete This Template</a>
            </fieldset>
        </div>
    </div>
</form>

<div class="overlay overlay-modal"></div>
<!-- end edit house plan modal -->
