<div class="checklist-item">
    <div class="flex-row flex-justify-between">
        <header class="checklist-item-header form-group-horizontal">
            <button
                aria-label="More Information"
                class="checklist-item-info-toggle btn btn-link btn-no-label"
                ng-class="{'has-footnote' : checklistItemAirInletLocationsCtrl.hasFootnote}"
                ng-click="checklistItemAirInletLocationsCtrl.showFootnote()"
                type="button">

                <i class="fa fa-info-circle" aria-hidden="true"></i>
            </button>

            <h4 class="checklist-item-title pull-left">{{::checklistItemAirInletLocationsCtrl.display.Shorthand}}</h4>
            <select
                class="form-control specified-in-hvac-report"
                data-ng-options="document.Text for document in checklistItemAirInletLocationsCtrl.display.Options"
                data-ng-model="checklistItemAirInletLocationsCtrl.selectedOption"
                data-ng-change="checklistItemAirInletLocationsCtrl.onSelectOption(true)">
            </select>
        </header>
    </div>

    <!-- <div>
        <p><button class="btn" data-ng-click="checklistItemAirInletLocationsCtrl.onViewHvacDesignReport()" type="button">View HVAC Design Report</button></p>
    </div> -->
</div>
