.btn {
    background-color: $button-background-color-default;
    border: $border-size-default solid $button-border-color-default;
    border-radius: $border-radius-small;
    cursor: pointer;
    display: inline-block;
    line-height: $line-height-small;
    outline: 0;
    padding: $padding-default ($padding-default * 2);
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: box-shadow $transition-slow, color $transition-default, border-color $transition-default, background $transition-default;

    &:hover,
    &:focus {
        background-color: $button-background-color-hover;
        border-color: $button-border-color-hover;
        box-shadow: $shadow-hover;
    }

    &:active {
        box-shadow: $shadow-active;
    }

    &.active {
        background-color: $button-background-color-active;
        color: $button-color-active;
    }
}

.btn-link {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: $link-color;

    &:hover,
    &:focus {
        background-color: $button-background-color-default;
        color: $link-color-hover;
    }
}

%btn-inverse {
    background-color: $button-background-color-inverse;
    border-color: $button-border-color-inverse;
    color: $text-color-inverse;

    &:hover,
    &:focus {
        background-color: $button-background-color-hover-inverse;
        border-color: $button-border-color-inverse;
        color: $text-color-inverse;
    }

    &.active {
        background-color: $button-background-color-inverse-active;
    }
}

.btn-inverse {
    @extend %btn-inverse;
}

.btn-sm {
    border-radius: $border-radius-small;
}

.btn-lg {
    border-radius: $border-radius-large;
}

.btn-block {
    display: block;
    width: 100%;
}

$btn-no-label-size: 30px;

.btn-no-label {
    border-radius: ($btn-no-label-size / 2);
    height: $btn-no-label-size;
    width: $btn-no-label-size;
}

.btn-comments {
    border-radius: ($btn-no-label-size / 2);
    height: $btn-no-label-size;
    margin-right: $offset-default;
    text-align: center;

    &.has-comments {
        background-color: $link-color;
        color: $text-color-inverse;

        &:hover,
        &:focus {
            background-color: darken($link-color, 10%);
        }
    }
}

.btn-error.active {
    background-color: $status-error;
}
