.form-actions,
fieldset {
    border: 0;
    border-bottom: $border-default;
    padding: $gutter-half;
    position: relative;
}

.form-actions {
    border-bottom: 0;
}

.fieldset-legend {
    font-weight: bold;
}

.inline-legend legend {
    font-size: $font-size-h4;
    left: 0;
    position: absolute;
    top: $gutter-half;
}

.control-label {
    display: block;
    font-weight: bold;
    margin: 0 0 2px $offset-small;
}

.form-control {
    border: $border-default;
    font-size: $font-size-large;
    max-width: 100%;
    padding: $padding-default;
    transition: box-shadow $transition-slow, border-color $transition-default;
    width: 100%;

    &:focus {
        border-color: $brand-secondary;
        box-shadow: $shadow-active;
        outline: 0;
    }

    &.ng-valid.ng-touched {
        border-color: $status-correct;

        &:focus {
            box-shadow: $shadow-correct;
        }
    }

    &.ng-invalid.ng-touched {
        border-color: $status-error;

        &:focus {
            box-shadow: $shadow-error;
        }
    }
}

.has-feedback .form-control {
    padding-right: 30px;
}

.input-unit {
    color: $text-color-muted;
    vertical-align: middle;
}

.ng-submitted .form-control.ng-invalid {
    border-color: $status-error;

    &:focus {
        box-shadow: $shadow-error;
    }
}

.form-group {
    margin-bottom: $offset-default;
    position: relative;
}

.row-form-groups {
    margin: 0 (-$offset-small);

    .form-group {
        padding: 0 $offset-small;
    }
}

.popover-panel-search .form-group {
    margin-bottom: 0;
}

.form-group-horizontal {
    .control-label,
    .form-control {
        display: inline-block;
        margin: 0 $offset-small 0 0;
        vertical-align: middle;
        width: auto;
    }
}

.form-control-feedback {
    bottom: 1px;
    color: $text-color-muted;
    font-size: $font-size-large;
    line-height: 1em;
    padding: $padding-default;
    position: absolute;
    right: 1px;
}
