.label {
    font-weight: normal;
    line-height: $line-height-none;
    padding: $padding-small $padding-large;
}

.label-default {
    background-color: lighten($brand-auxillary, 3%);
    border-radius: $label-border-radius;
}

.label-rating-type,
.label-sample-set {
    // display: inline-block;
    font-size: $font-size-small;
    margin-right: 1px;
    display: block;
}

.label-sample-set {
    background-color: $label-sample-set;
    border-radius: $label-border-radius;
    line-height: $line-height-small;
}

.label-energy-star {
    color: $label-energy-star;
    text-transform: uppercase;
}

.label-hers-rating {
    color: $text-color-muted;
}

.label-primary {
    background-color: $status-correct;
}

.label-status-returned {
    background-color: $label-returned;
    color: $text-color-inverse;
    display: inline-block;
    float: left;
    font-size: $font-size-small;
    margin-right: 1px;

    &:first-of-type {
        padding-left: $gutter-half;
    }

    &:last-of-type {
        border-radius: 0 0 $border-radius-default;
    }
}

.label-response {
    background-color: $label-response;
    color: $text-color-inverse;
}

.label-error {
    background-color: $label-error;
    color: $text-color-inverse;
}
