.overlay {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: $zindex-overlay;
}

.overlay-dialog,
.overlay-modal,
.overlay-lightbox {
    background-color: $overlay-modal-bg;
}

.overlay-lightbox {
    z-index: $zindex-lightbox-overlay;
}
