table {
    border-collapse: collapse;
    margin-bottom: $gutter-full;

    &.table-full-width {
        width: 100%;
    }
}

th,
td {
    padding: $padding-default $padding-large;
}

.table-caption {
    font-size: $font-size-h5;
    font-weight: normal;
    margin-bottom: $offset-small;
    text-align: left;
}

th {
    background-color: $table-header-color;
    border-left: $border-size-default solid lighten($table-header-color, 33%);
    text-align: left;
    vertical-align: bottom;
    white-space: nowrap;

    &:first-of-type {
        border-left-color: $table-header-color;
    }

    &:last-of-type {
        border-right: $border-size-default solid $table-header-color;
    }

    &[colspan] {
        border-bottom: $border-size-default solid lighten($table-header-color, 33%);
    }
}

td {
    vertical-align: top;
    white-space: nowrap;
}

tbody {
    > tr > td {
        border-left: $border-size-default solid $border-color-dark;

        &:last-of-type {
            border-right: $border-size-default solid $border-color-dark;
        }
    }

    > tr:nth-child(odd) > td {
        background-color: lighten($table-header-color, 33%);
    }

    > tr:last-of-type td {
        border-bottom: $border-size-default solid $border-color-dark;
    }

    > tr:nth-child(odd) .td-edited,
    > tr:nth-child(even) .td-edited {
        background-color: desaturate($status-warning, 10%);
    }
}

.table-responsive {
    -webkit-overflow-scrolling: touch;  // sass-lint:disable-line no-vendor-prefixes, no-misspelled-properties
    display: block;
    margin-bottom: $gutter-full;
    overflow-x: auto;
    width: 100%;

    table {
        margin-bottom: 0;
    }
}

.empty-table-text {
    margin-bottom: $gutter-full;
}
