
<fieldset class="row">
    <legend class="col-xs-3">House Plan</legend>
    <div class="offset-xs-3 col-xs-9">
        <file-manager
            enabled="jobDetailLocationCtrl.selectHousePlanEnabled"
            upload-only="false"
            label="House Plan"
            library="jobDetailLocationCtrl.housePlans.housePlan"
            files="jobDetailLocationCtrl.location.HousePlan"
            selected-callback="jobDetailLocationCtrl.housePlanOnSelect()">
        </file-manager>
    </div>
</fieldset>

<fieldset class="row">
    <legend class="col-xs-3">Builder</legend>
    <div class="offset-xs-3 col-xs-9">
        <div class="field">
            <label for="Builder" class="sr-only">Builder</label>
            <input id="Builder" placeholder="Builder" class="form-control" type="text" data-ng-model="jobDetailLocationCtrl.location.Builder" />
        </div>
    </div>
</fieldset>

<fieldset class="row">
    <legend class="col-xs-3">Location</legend>
    <div class="offset-xs-3 col-xs-9">
        <p class="sr-only">Enter address</p>

        <div class="row">
            <div class="form-group col-xs-12">
                <label for="StreetAddress" class="sr-only">Street Address</label>
                <input id="StreetAddress" placeholder="Street Address" class="form-control" type="text" data-ng-model="jobDetailLocationCtrl.location.AddressInformation.Address1" />
            </div>
        </div>

        <div class="row row-form-groups">
            <div class="form-group col-xs-8">
                <label for="CityMunicipality" class="sr-only">City</label>
                <input id="CityMunicipality" name="CityMunicipality" placeholder="City" class="form-control" type="text" data-ng-model="jobDetailLocationCtrl.location.AddressInformation.CityMunicipality" />
            </div>
            <div class="form-group col-xs-2">
                <label for="StateCode" class="sr-only">State</label>
                <input id="StateCode" name="StateCode" placeholder="State" class="form-control" type="text" data-ng-model="jobDetailLocationCtrl.location.AddressInformation.StateCode" />
            </div>
            <div class="form-group col-xs-2">
                <label for="ZipCode" class="sr-only">Zip Code</label>
                <input id="ZipCode" name="ZipCode" placeholder="Zip Code" class="form-control" type="text" data-ng-model="jobDetailLocationCtrl.location.AddressInformation.ZipCode" />
            </div>
        </div>

        <p class="address-information-separator"><span class="address-information-separator-title">Or</span> <span class="sr-only">Enter Community Name and Lot Number</span></p>

        <div class="row row-form-groups">
            <div class="form-group col-xs-10">
                <label for="CommunityName" class="sr-only">Community Name</label>
                <input id="CommunityName" name="CommunityName" placeholder="Community Name" class="form-control" type="text" data-ng-model="jobDetailLocationCtrl.location.AddressInformation.CommunityName" />
            </div>
            <div class="form-group col-xs-2">
                <label for="LotNo" class="sr-only">Lot #</label>
                <input id="LotNo" id="LotNo" placeholder="Lot #" class="form-control" type="text" data-ng-model="jobDetailLocationCtrl.location.AddressInformation.LotNo" />
            </div>
        </div>

        <p class="address-information-separator"><span class="address-information-separator-title">Or</span> <span class="sr-only">Enter Manual Identifier</span></p>

        <div class="row">
            <div class="form-group col-xs-12">
                <label for="ManualId" class="sr-only">Manual Identifier</label>
                <input id="ManualId" name="ManualId" placeholder="Manual Identifier" class="form-control" type="text" data-ng-model="jobDetailLocationCtrl.location.AddressInformation.ManualId" />
            </div>
        </div>
    </div>
</fieldset>

<fieldset class="row">
    <legend class="col-xs-3">Export Filename</legend>
    <div class="offset-xs-3 col-xs-9">
        <div class="field">
            <label for="ExportFilename" class="sr-only">Export Filename</label>
            <input id="ExportFilename" placeholder="Export Filename" class="form-control" type="text" data-ng-model="jobDetailLocationCtrl.location.ExportFilename" />
        </div>
    </div>
</fieldset>

<fieldset class="row">
    <legend class="col-xs-3">HVAC Design Report</legend>
    <div class="offset-xs-3 col-xs-9">
        <file-manager
            upload-only="true"
            accept="application/pdf"
            label="HVAC Design Report"
            input-id="HvacDesignReport"
            files="jobDetailLocationCtrl.location.HvacDesignReport">
        </file-manager>
    </div>
</fieldset>

<fieldset class="row">
    <legend class="col-xs-3">Rater Design Review Checklist</legend>
    <div class="offset-xs-3 col-xs-9">
        <file-manager
            upload-only="true"
            accept="application/pdf"
            label="Rater Design Review Checklist"
            input-id="RaterDesignReviewChecklist"
            files="jobDetailLocationCtrl.location.RaterDesignReviewChecklist">
        </file-manager>
    </div>
</fieldset>
