<div class="filters flex-row flex-justify-center">
    <div class="quick-filter ">
        <div
            class="button-group"
            buttons="listFilterCtrl.buttons"
            allow-multiple="false"
            initial-value="listFilterCtrl.initialSelected"
            on-set-value="listFilterCtrl.switchPage(response)">

            <a
                class="btn"
                ng-class="{'active' : (listFilterCtrl.currentFilter === button.Key)}"
                ng-repeat="button in listFilterCtrl.buttons"
                ui-sref="jobs-search(button.params)"
                ui-sref-opts="{inherit: false}">

                {{::button.Name}}
            </a>
        </div>
    </div>
</div>
