<div class="filters flex-row flex-justify-center">
    <div class="button-group">
        <a
            class="btn"
            ng-class="{'active' : (listFilterCtrl.currentFilter === button.Key)}"
            ng-repeat="button in listFilterCtrl.buttons"
            ui-sref="jobs-search(button.params)"
            ui-sref-opts="{inherit: false}">

            {{::button.Name}}
        </a>
    </div>

    <div class="button-group">
        <a class="btn"
           ng-class="{'active' : (listFilterCtrl.currentFilter === button.Key)}"
           ui-sref="jobs-search({'availableOffline' : 'true'})">

           Offline Jobs
        </a>
    </div>
</div>
