<div class="form-group form-group-mrf-field">
    <span class="control-label">
        <i class="fa fa-list-alt" aria-hidden="true" data-ng-if="::fieldCtrl.field.IsLibraryAttribute"></i>
        {{::fieldCtrl.field.Name}}
    </span>

    <p class="form-control-static">
        {{::fieldCtrl.value}}

        <abbr
            class="input-unit"
            data-ng-if="::fieldCtrl.field.Unit"
            title="{{::fieldCtrl.field.Unit.Title}}">

            {{::fieldCtrl.field.Unit.Abbr}}
        </abbr>
    </p>
</div>
