<header class="job-checklist-header flex-container flex-align-center">
    <a data-ui-sref="jobs()" aria-label="Back to Jobs"><i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i></a>

    <div class="job-checklist-meta">
        <span class="label label-rating-type" data-ng-class="jobChecklistCtrl.getRatingTypeClass()">{{jobChecklistCtrl.job.RatingType}}</span>
        <h2 class="job-checklist-title">{{jobChecklistCtrl.job.JobType}} ID: {{jobChecklistCtrl.job._id}}</h2>
    </div>

    <div class="actions">
        <button type="button" class="btn">Actions <i class="fa fa-caret-down" aria-hidden="true"></i></button>
    </div>
</header>

<nav class="nav nav-checklist-sections flex-container">
    <a href="#" class="nav-checklist-item">
        <linear-progress
            verified="23"
            total="65"
            must-correct="2">
            </linear-progress>

        <div class="nav-checklist-item-description">
            <img src="/img/icon-exterior-walls.svg" alt="" />
            <span>Exterior Walls</span>
        </div>

        <linear-progress
            verified="30"
            total="65"
            must-correct="0">
            </linear-progress>
    </a>
    <a href="#" class="nav-checklist-item">
        <linear-progress
            verified="23"
            total="65"
            must-correct="2">
            </linear-progress>

        <div class="nav-checklist-item-description">
            <img src="/img/icon-ceilings-roof.svg" alt="" />
            <span>Ceilings/Roof</span>
        </div>

        <linear-progress
            verified="0"
            total="65"
            must-correct="3">
            </linear-progress>
    </a>
    <a href="#" class="nav-checklist-item">
        <linear-progress
            verified="23"
            total="35"
            must-correct="2">
            </linear-progress>

        <div class="nav-checklist-item-description">
            <img src="/img/icon-floors.svg" alt="" />
            <span>Floors</span>
        </div>

        <linear-progress
            verified="35"
            total="35"
            must-correct="0">
            </linear-progress>
    </a>
    <a href="#" class="nav-checklist-item">
        <linear-progress
            verified="23"
            total="45"
            must-correct="2">
            </linear-progress>

        <div class="nav-checklist-item-description">
            <img src="/img/icon-interior-walls.svg" alt="" />
            <span>Interior Walls</span>
        </div>

        <linear-progress
            verified="0"
            total="45"
            must-correct="0">
            </linear-progress>
    </a>
    <a href="#" class="nav-checklist-item">
        <linear-progress
            verified="23"
            total="105"
            must-correct="2">
            </linear-progress>

        <div class="nav-checklist-item-description">
            <img src="/img/icon-hvac.svg" alt="" />
            <span>HVAC</span>
        </div>

        <linear-progress
            verified="20"
            total="105"
            must-correct="0">
            </linear-progress>
    </a>
    <a href="#" class="nav-checklist-item">
        <linear-progress
            verified="23"
            total="50"
            must-correct="2">
            </linear-progress>

        <div class="nav-checklist-item-description">
            <img src="/img/icon-diagnostics.svg" alt="" />
            <span>Diagnostic Tests</span>
        </div>

        <linear-progress
            verified="0"
            total="50"
            must-correct="0">
            </linear-progress>
    </a>
</nav>

<div class="filter-summary ellipsis">
    <span class="filter-results-quantity">65</span>
    <span class="filter-criteria">checklist items for pre-drywall and final, any status</span>
    <button class="btn btn-link btn-sort pull-right" type="button">
        <i class="fa fa-sliders fa-lg" aria-hidden="true"></i> Filter
    </button>
</div>

<section id="exterior-walls">
    <h2 class="sr-only">Exterior Walls</h2>

    <section class="checklist-section" aria-labelledby="exeterior-walls-pre-drywall">
        <h3 class="checklist-section-title" id="exeterior-walls-pre-drywall">Exterior Walls - Pre-Drywall</h3>

        <checklist-item
            data-ng-repeat="checklistItem in jobChecklistCtrl.checklist"
            checklist-item="checklistItem">
        </checklist-item>

    </section>

    <section class="checklist-section" aria-labelledby="exeterior-walls-final">
        <h3 class="checklist-section-title" id="exeterior-walls-final">Exterior Walls - Final</h3>

        <checklist-item
            data-ng-repeat="checklistItem in jobChecklistCtrl.checklist"
            checklist-item="checklistItem">
        </checklist-item>

    </section>
</section>

<div class="" style="display: none;">
    <button type="button">Less <i class="fa fa-caret-down" aria-hidden="true"></i></button>

    <nav>
        <h3>5 Addresses for this sample set</h3>

        <ul>
            <li>
                <a href="#">
                    <figure>
                        <figcaption>
                            <span>Primary</span>
                            <button type="button">Edit Photo</button>
                        </figcaption>
                    </figure>

                    <div>
                        <h4>103 Score Bay Pl. Fairfax, VA 22031</h4>

                        <p>Builder: The House Designers</p>

                        <p>House Plan: 446-1</p>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</div>
