<nav>
    <a href="#">
        <span>Exterior Walls</span>
    </a>
    <a href="#">
        <span>Ceilings/Roof</span>
    </a>
    <a href="#">
        <span>Floors</span>
    </a>
    <a href="#">
        <span>Interior Walls</span>
    </a>
    <a href="#">
        <span>HVAC</span>
    </a>
    <a href="#">
        <span>Diagnostic Tests</span>
    </a>
</nav>

<div>
    <div>
        <h2>Exterior Walls</h2>

        <section>
            <h3>Exterior Walls - Pre-Drywall</h3>

            <div class="checklist-item">
                <header>
                    <h4>Floor/Foundation Assemblies Match Proposed Design</h4>
                    <button type="button">More info</button>
                </header>

                <table>
                    <caption>Slabs</caption>
                    <thead>
                        <tr>
                            <th>Foundation Type</th>
                            <th>Thermal Boundary Loc.</th>
                            <th>Crawl Space Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Slab</td>
                            <td>Floor</td>
                            <td>Unvented</td>
                        </tr>
                        <tr>
                            <td>Open crawl space/raised floor</td>
                            <td>Foundation Wall</td>
                            <td>Vented</td>
                        </tr>
                    </tbody>
                </table>

                <div>
                    <div class="comments">
                        <button type="button">
                            Leave a Comment

                            3 comments
                        </button>
                    </div>

                    <div class="verification">
                        <div class="button-group">
                            <button class="btn" type="button">Rater Verified</button>
                            <button class="btn" type="button">Must Correct</button>
                            <button class="btn" type="button">Builder Verified</button>
                            <button class="btn" type="button">N/A</button>
                        </div>
                    </div>
                </div>
            </div> <!-- .checklist-item -->
        </section>
    </div>
</div>

<div>
    <button type="button">Less</button>

    <nav>
        <h3>5 Addresses for this sample set</h3>

        <ul>
            <li>
                <a href="#">
                    <figure>
                        <figcaption>
                            <span>Primary</span>
                            <button type="button">Edit Photo</button>
                        </figcaption>
                    </figure>

                    <div>
                        <h4>103 Score Bay Pl. Fairfax, VA 22031</h4>

                        <p>Builder: The House Designers</p>

                        <p>House Plan: 446-1</p>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</div>
