<div class="item-list-item house-plan">
    <div class="flex-row">
        <div class="flex-item-static">
            <a data-ui-sref="" ng-click="housePlanCtrl.onDownloadRequest()">
                <h3 class="list-item-title house-plan-title">{{housePlanCtrl.housePlanTitle}}</h3>
            </a>
        </div>

        <span class="flex-item-grow"></span>

        <div class="flex-item-static">
            <a data-ui-sref="house-library.edit({id: housePlanCtrl.housePlan._id})">
                <span class="pull-right"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</span>
            </a>
        </div>
    </div>

    <div class="house-plan-meta row">
        <dl class="house-plan-info col-xs-6">
            <dt>Builder:</dt> <dd>{{housePlanCtrl.housePlan.BuilderName}}</dd>
            <dt>Community:</dt> <dd>{{housePlanCtrl.housePlan.CommunityName}}</dd>
        </dl>

        <div class="house-plan-associated-files col-xs-6">
            <dl>
                <dt>HVAC Design Report:</dt>
                    <dd data-ng-repeat="hvacDesignReport in housePlanCtrl.housePlan.HvacDesignReport">
                        <a ng-href="https://s3.amazonaws.com/{{housePlanCtrl.s3Bucket}}/{{hvacDesignReport.Key}}" key="{{hvacDesignReport.Key}}" download="{{hvacDesignReport.Name}}" document-handler="document-handler">{{hvacDesignReport.Name}}</a>
                    </dd>
            </dl>
            <dl>
                <dt>Rater Design Review Checklist:</dt>
                    <dd data-ng-repeat="reviewChecklist in housePlanCtrl.housePlan.RaterDesignReviewChecklist">
                        <a ng-href="https://s3.amazonaws.com/{{housePlanCtrl.s3Bucket}}/{{reviewChecklist.Key}}" key="{{reviewChecklist.Key}}" download="{{reviewChecklist.Name}}" document-handler="document-handler">{{reviewChecklist.Name}}</a>
                    </dd>
            </dl>
        </div>
    </div>
</div>

<div class="modal modal-dialog" data-ng-class="{'hidden' : !housePlanCtrl.showDownloadModal}">
    <div class="modal-header">
        <span class="modal-title">Download REM XML</span>
        <button class="btn btn-link pull-right" type="button" data-ng-click="housePlanCtrl.hideModalDownload()" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
    </div>

    <div class="modal-body-wrapper">
        <div class="modal-body">
            <p>The following link will expire in 5 minutes:</p>
            <p><a data-ng-href="{{housePlanCtrl.downloadUrl}}" class="btn">Download</a></p>
        </div>
    </div>
</div>
