<section class="history-wrapper">
    <h2>Job History</h2>

    <div
        class="history-group"
        ng-if="jobHistoryCtrl.historyType === undefined">

        <p>Parsing history. Please wait.</p>
    </div>

    <div ng-if="jobHistoryCtrl.historyType === jobHistoryCtrl.HISTORY_TYPES.NEW">
        <div
            class="history-group flex-row"
            data-ng-repeat="historyGroup in ::jobHistoryCtrl.history track by $index">

            <div class="history-group-details">
                <h3 class="history-group-title h4">{{::historyGroup.title}}</h3>
                <p class="history-group-meta" ng-if="historyGroup.data"><strong>{{::historyGroup.data}}</strong></p>
                <p class="history-group-meta">{{historyGroup.date | date:'medium' }} by {{::historyGroup.user}}</p>
                <p class="history-group-address" ng-if="jobHistoryCtrl.jobIsSample && historyGroup.sample" ng-bind-html="jobHistoryCtrl.getHouseTitle(historyGroup.sample)"></p>

                <ul ng-if="historyGroup.details">
                    <li ng-repeat="detail in historyGroup.details track by $index">{{::detail}}</li>
                </ul>
            </div>

            <div
                class="history-group-map flex-item-grow"
                data-ng-if="historyGroup.map.showMap">

                <job-history-map
                    map="historyGroup.map">
                </job-history-map>
            </div>
        </div>
    </div>

    <div
        class="history-group"
        ng-if="jobHistoryCtrl.historyType === jobHistoryCtrl.HISTORY_TYPES.OLD">

        <p>The history data for this job is in an old format and cannot be displayed until updated to a new format. Please note that updating will not provide a complete history as previous job activity did not capture as much history data.</p>

        <button
            type="button"
            class="btn btn-default"
            ng-disabled="jobHistoryCtrl.isHistoryUpdateProcessing"
            ng-click="jobHistoryCtrl.updateHistoryFormat()">

            <i data-ng-class="{'hidden' : !jobHistoryCtrl.isHistoryUpdateProcessing}" class="fa fa-circle-o-notch fa-spin fa-fw"></i> Update History Data Format
        </button>
    </div>
</section>
