@import '../../../../../scss/variables';

.checklist-nav-wrapper {
    background-color: $body-bg;
    transition: box-shadow $transition-default ease-out;
}

.nav-checklist-sections {
    margin: ($gutter-half / 2);
}

.nav-checklist-item {
    border-color: $body-bg;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 ($gutter-half / 2);
    padding: ($linear-progress-thickness) 0;
    position: relative;

    img {
        opacity: .5;
        transform-origin: top center;
        transition: opacity $transition-default ease-out width $transition-default ease-out;
    }

    &:hover,
    &:focus {
        .nav-checklist-item-description {
            background-color: lighten($border-color-default, 3%);
        }

        img {
            opacity: .75;
        }
    }

    &.active,
    &:active {
        .nav-checklist-item-description {
            background-color: $border-color-default;
            border-color: $status-active;
        }

        img {
            opacity: 1;
        }
    }

    .linear-progress {
        flex: 0;
        position: absolute;
    }

    .linear-progress,
    .nav-checklist-item-description span {
        transform-origin: top center;
        transition: transform $transition-fast ease-out;
    }

    .linear-progress-pre-drywall {
        top: 0;
    }

    .linear-progress-final {
        bottom: 0;
    }
}

.nav-checklist-item-description {
    border: $border-default;
    flex: 1;
    margin: $offset-small 0;
    padding: $padding-default;
    text-align: center;
    transition: background-color $transition-default border-color $transition-default;

    span {
        display: block;
        line-height: $line-height-small;
    }
}

$affixed-shadow-color: rgba(0, 0, 0, 0.5);

.affix .checklist-nav-wrapper {
    box-shadow: 0 0 10px $affixed-shadow-color;
}

.affix .nav-checklist-sections {
    margin: 0 ($gutter-half / 2);
}

.affix .nav-checklist-item {
    border-bottom: 5px solid $body-bg;
    padding: 0;
    transition: border-color $transition-default;

    .linear-progress,
    .nav-checklist-item-description span {
        position: absolute;
        transform: scaleY(0);
    }

    img {
        opacity: 1;
        width: 40px;
    }

    .nav-checklist-item-description {
        background-color: $body-bg;
        border-color: $body-bg;
        padding-bottom: 0;
    }

    &:hover,
    &:focus {
        border-bottom-color: $border-color-default;
    }

    &.active {
        border-bottom-color: $status-active;
    }
}
