.page-container {
    margin: 0 auto;
    max-width: $screen-lg;
    position: relative;
}

.page-header {
    margin-top: $gutter-full;
}

.flex-row {
    display: flex;

    &.hidden {
        @extend %hidden;
    }
}

.flex-justify-end {
    justify-content: flex-end;
}

.flex-justify-between {
    justify-content: space-between;
}

.flex-justify-center {
    justify-content: center;
}

.flex-align-center {
    align-items: center;
}

.flex-align-end {
    align-items: flex-end;
}

.flex-item-static {
    flex-grow: 0;
}

.flex-item-grow {
    flex-grow: 1;
}

.flex-item-fixed-width {
    flex-shrink: 0;
}

.flex-item-pull-right {
    margin-left: auto;
}

.container {
    @include make-container();
    @include make-container-max-widths();
}

.row {
    @include make-row();
}

.section-padded {
    border-bottom: $border-default;
    padding: $padding-large $gutter-half;
}

.row-condensed {
    margin-left: -$offset-small;
    margin-right: -$offset-small;

    .col-xs-1,
    .col-xs-2,
    .col-xs-3,
    .col-xs-4,
    .col-xs-5,
    .col-xs-6,
    .col-xs-7,
    .col-xs-8,
    .col-xs-9,
    .col-xs-10,
    .col-xs-11,
    .col-xs-12 {
        padding-left: $offset-small;
        padding-right: $offset-small;
    }
}

@include make-grid-columns();

@media (max-width: $screen-lg) {
    .page-container {
        padding-left: $gutter-half;
        padding-right: $gutter-half;
    }
}

.offset-top {
    margin-top: $offset-large;
}

.offset-right {
    margin-right: $offset-default;
}
