.page-container {
    margin: 0 auto;
    max-width: $screen-lg;
    position: relative;
}

.page-header {
    margin-top: $gutter-full;
}

.flex-row {
    display: flex;

    &.hidden {
        @extend %hidden;
    }
}

.flex-justify-end {
    justify-content: flex-end;
}

.flex-justify-between {
    justify-content: space-between;
}

.flex-align-center {
    align-items: center;
}

.flex-item-static {
    flex-grow: 0;
}

.flex-item-grow {
    flex-grow: 1;
}

.flex-item-pull-right {
    margin-left: auto;
}

.container {
    @include make-container();
    @include make-container-max-widths();
}

.row {
    @include make-row();
}

@include make-grid-columns();
