// Credit: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: $body-bg;
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;

    &.overlay-open {
        overflow: hidden;
    }
}

.view-epahomeratingapp {
    margin-bottom: $gutter-half;
}

html,
body {
    -webkit-overflow-scrolling: touch; // sass-lint:disable-line no-vendor-prefixes, no-misspelled-properties
    height: 100%;
    overflow: auto;
}
