h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $heading-font-weight;
    margin: 0 0 $offset-large;
}

h1 {
    font-size: $font-size-h1;
}

h2 {
    font-size: $font-size-h2;
}

h3 {
    font-size: $font-size-h3;
    font-weight: bold;
}

h4 {
    font-size: $font-size-h4;
    font-weight: normal;
}

h5 {
    font-size: $font-size-h5;
    font-weight: bold;
}

h6 {
    font-size: $font-size-h6;
    font-weight: bold;
}

p,
ul {
    margin: 0 0 $offset-default;
}

.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
        color: inherit;
    }
}
