<label data-ng-class="{'job-select-marked' : jobProviderCtrl.marked}" class="job-select flex-item-static flex-row flex-align-center" aria-labelledby="job-{{jobProviderCtrl.job._id}}">
    <i class="fa fa-check" aria-hidden="true"></i>
    <span class="sr-only">Mark job for bulk operations.</span>
    <input class="form-control-check" type="checkbox" ng-model="jobProviderCtrl.marked" ng-click="jobProviderCtrl.setBulkOperationStatus()" />
</label>

<div class="flex-item-grow">
    <a aria-labelledby="job-{{jobProviderCtrl.job._id}}"
       class="job job-provider flex-row flex-align-center"
       data-ng-class="{'job-returned': jobProviderCtrl.hasStatusLabel()}"
       data-ui-sref="job-checklist-review.category({id: jobProviderCtrl.job._id, houseId: jobProviderCtrl.job.Primary.HouseId, categoryId: 'walls', role: 'provider'})">

        <div class="job-info flex-item-grow">
            <div class="job-meta flex-row">
                <span class="label-rating-type" data-ng-class="jobProviderCtrl.RatingTypeClass">{{::jobProviderCtrl.RatingType}}</span>
                <span class="label label-sample-set" data-ng-if="jobProviderCtrl.isSample">Sample Set: {{::jobProviderCtrl.sampleQuantity}} <i class="fa fa-map-marker" aria-hidden="true"></i></span>
                <span class="last-update small"><strong>{{::jobProviderCtrl.lastUpdateType}}:</strong> {{::jobProviderCtrl.lastUpdateTime}}</span>
            </div>

            <h3 class="list-item-title job-title" id="job-{{jobProviderCtrl.job._id}}" data-ng-bind-html="jobProviderCtrl.JobTitle"></h3>

            <span class="job-builder">{{::jobProviderCtrl.job.Primary.Builder}}</span>
        </div>

        <i class="list-item-activate fa fa-chevron-right fa-lg flex-item-pull-right" aria-hidden="true"></i>
    </a>
</div>
