.checklist-item {
    border-top: $border-size-medium solid $border-color-default;
    padding: $gutter-half $gutter-half $gutter-half $gutter-full;
    position: relative;
}

.checklist-item-header {
    padding-right: $gutter-full;
    position: relative;
}

.checklist-item-info-toggle {
    color: $status-offline;
    font-size: $icon-font-size;
    left: -$gutter-full;
    position: absolute;

    &.has-footnote {
        color: $link-color;
    }
}

.comments-quantity {
    background-color: $body-bg;
    border-radius: ceil($font-size-base / 2);
    color: $status-correct;
    position: absolute;
    right: 8px;
    top: 2px;
}

.checklist-item-not-applicable .checklist-item-title {
    color: $text-color-muted;
}

.checklist-sub-item {
    margin-left: $gutter-full;
}

.checklist-item-response {
    width: 200px;

    .house-title {
        display: block;
    }
}

.checklist-item-review-response {
    position: absolute;
    right: $gutter-half;
    top: 0;
    width: auto;
}

.checklist-item-response-edit {
    border-left: $border-default;
    margin-left: $gutter-half;
    padding: $offset-default 0 $offset-default $gutter-half;
}
