$checklist-item-padding: 25px;

.checklist-item {
    border-top: $border-size-medium solid $border-color-default;
    padding: $checklist-item-padding $gutter-half $checklist-item-padding $gutter-full;
    position: relative;
}

.checklist-item-header-wrapper {
    margin-bottom: $offset-large;
}

.checklist-item-title {
    margin-bottom: 0;
}

.checklist-item-header {
    padding-right: $gutter-full;
    position: relative;

    .form-control {
        margin-left: $offset-large;
    }
}

.checklist-item-info-toggle {
    display: none;
    font-size: $icon-font-size;
    left: -$gutter-full;
    position: absolute;

    &.has-footnote {
        display: block;
    }
}

.comments-quantity {
    background-color: $body-bg;
    border-radius: ceil($font-size-base / 2);
    color: $status-correct;
    position: absolute;
    right: 8px;
    top: 2px;
}

.checklist-item-not-applicable .checklist-item-title {
    color: $text-color-muted;
}

.checklist-sub-item {
    margin-left: $gutter-full;
}

.checklist-item-response {
    width: 200px;

    .house-title {
        display: block;
    }
}

.checklist-item-review-response {
    .label-response,
    .label-error {
        position: absolute;
        right: $gutter-half;
        top: 0;
        width: auto;
    }

    .house-title {
        margin-bottom: $gutter-half;
    }
}

.checklist-item-response-edit {
    border-left: $border-default;
    margin-left: $gutter-half;
    padding: $offset-default 0 $offset-default $gutter-half;
}
