.checklist-item {
    border-top: $border-size-medium solid $border-color-default;
    padding: $gutter-half $gutter-half $gutter-half $gutter-full;
}

.checklist-item-header {
    padding-right: $gutter-full;
    position: relative;
}

.checklist-item-info-toggle {
    font-size: $icon-font-size;
    left: -$gutter-full;
    position: absolute;
}

.comments-quantity {
    background-color: $body-bg;
    border-radius: ceil($font-size-base / 2);
    color: $status-correct;
    position: absolute;
    right: 8px;
    top: 2px;
}

.checklist-item-not-applicable .checklist-item-title {
    color: $text-color-muted;
}
