.drop-down {
    background-color: $body-bg;
    border: $border-default;
    border-radius: $border-radius-small;
    box-shadow: $shadow-default;
    margin-top: 2px;
    padding: $border-radius-small 0;
    position: absolute;
    right: 0;
    z-index: $zindex-drop-down;
}

.drop-down-item {
    background-color: $body-bg;
    border: 0;
    color: $text-color;
    display: block;
    padding: $padding-default $padding-large;
    text-align: left;
    transition: background-color $transition-default;
    white-space: nowrap;
    width: 100%;

    &:hover,
    &:focus {
        background-color: $button-background-color-hover;
    }

    &[disabled] {
        background-color: $body-bg;
        color: $text-color-disabled;
        cursor: not-allowed;
    }
}
