#site-footer {
    background-color: $brand-alternate;
    height: 45px;
    margin-top: -45px;
    padding: 10px 0px;
    a {
		color: $text-color-inverse;
		text-decoration: underline;
		margin-right: 10px;
    }
}
