.item-list-header {
    margin-bottom: $offset-default;
    padding: 0 $gutter-half;
}

.item-list-title {
    margin-bottom: 0;
}

.item-list {
    border-bottom: $border-default;
}

.list-item-activate {
    transition: transform $transition-default ease-out;
}

.item-list-item {
    border-top: $border-default;
    display: block;
    padding: $gutter-half;

    &.flex-row {
        display: flex;
    }

    &.drop-down-item {
        padding: $padding-large;
    }
}
