.navbar {
    color: $text-color-inverse;
    padding: $gutter-half 0;

    .btn {
        @extend %btn-inverse;
    }

    &.flex-row,
    .flex-row {
        align-items: center;
    }

    .nav {
        margin-left: auto;
    }
}

.site-title {
    margin: 0;
    white-space: nowrap;

    .title-partial-energy-star {
        display: block;
        font-size: $font-size-small;
    }

    .title-partial-rater {
        font-weight: normal;
    }

    .title-partial-pro {
        font-weight: 300;
    }
}

.site-logo {
    box-shadow: 0 2px 5px $shadow-color-default;
    margin-right: $offset-default;
    transition: transform $transition-default ease-in;
    vertical-align: middle;
}

.site-home-link {
    &:hover .site-title,
    &:focus .site-title {
        text-decoration: underline;
    }

    &:hover .site-logo,
    &:focus .site-logo {
        transform: scale(1.1, 1.1);
    }
}

.user-menu {
    margin-right: $offset-default;
}

// variants
#site-head {
    @include gradient-vertical($brand-secondary, darken($brand-secondary, 5%));
}
