.photo-capture {
    height: $photo-capture-default;
    margin: 0 $gutter-half 0 0;
    overflow: hidden;
    position: relative;
    width: $photo-capture-default;

    img {
        float: left;
        width: 100%;
    }

    .btn-photo-capture {
        background-color: rgba($brand-secondary, .6);
        color: $text-color-inverse;
        font-size: $font-size-small;
        padding: $padding-default $padding-small;

        &:hover,
        &:focus {
            background-color: rgba($brand-secondary, 1);
            color: $text-color-inverse;
        }
    }
}

.btn-lightbox {
    padding: 0;
}

.photo-capture-action {
    bottom: 0;
    display: block;
    position: absolute;
    width: 100%;
}
