.popover {
    background-color: $body-bg;
    border: $border-default;
    border-radius: $border-radius-default;
    box-shadow: $shadow-default;
    position: absolute;
    z-index: $zindex-popover;

    &::before {
        @include arrow-up($arrow-large);

        bottom: 100%;
        content: '';
        left: 25px;
        position: absolute;
    }
}

.popover-small {
    height: $popover-height-small;
    width: $popover-width-small;
}

.popover-medium {
    height: $popover-height-default;
    margin: $offset-large 0 150px;
    width: $popover-width-default;
}

.popover-panel-header,
.popover-panel-body,
.popover-panel-search {
    padding: $padding-large;
}

.popover-panel-header {
    background-color: $brand-auxillary;
    height: 45px;
    overflow: hidden;
}

.popover-panel-body {
    -webkit-overflow-scrolling: touch; // sass-lint:disable-line no-vendor-prefixes, no-misspelled-properties
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    position: absolute;
    top: 45px;
    width: 100%;
}

.popover-panel-subtext {
    float: left;
    overflow: hidden;
    padding-top: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50%;
}

.popover-has-search .popover-panel-body {
    top: 90px;
}

.popover-panel-title {
    font-size: $font-size-h6;
    margin: 0;
    text-align: center;
}
