.popover {
    background-color: $body-bg;
    border: $border-size-default solid $border-color-default;
    border-radius: $border-radius-default;
    box-shadow: $shadow-default;
    position: absolute;
    z-index: $zindex-popover;

    &::before {
        @include arrow-up($arrow-large);

        bottom: 100%;
        content: '';
        left: 25px;
        position: absolute;
    }
}

.popover-panel-header,
.popover-panel-body {
    padding: $padding-large;
}

.popover-panel-header {
    background-color: $brand-auxillary;
    height: 45px;
    overflow: hidden;
}

.popover-panel-body {
    bottom: 0;
    left: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    position: absolute;
    top: 45px;
    width: 100%;
}

.popover-panel-title {
    font-size: $font-size-h6;
    margin: 0;
    text-align: center;
}
