<checklist-item-default
    data-ng-if="checklistItemStubCtrl.checklistItem.Type === 'Default'"
    item-id="{{::checklistItemStubCtrl.itemId}}"
    item-category="{{::checklistItemStubCtrl.itemCategory}}"
    item-category-progress="{{::checklistItemStubCtrl.itemCategoryProgress}}"
    checklist-item="checklistItemStubCtrl.checklistItem"
    response="checklistItemStubCtrl.response"
    comments="checklistItemStubCtrl.comments">
</checklist-item-default>

<checklist-item-mrf
    data-ng-if="checklistItemStubCtrl.checklistItem.Type === 'MRF'"
    item-id="{{::checklistItemStubCtrl.itemId}}"
    item-category="{{::checklistItemStubCtrl.itemCategory}}"
    item-category-progress="{{::checklistItemStubCtrl.itemCategoryProgress}}"
    checklist-item="checklistItemStubCtrl.checklistItem"
    response="checklistItemStubCtrl.response"
    comments="checklistItemStubCtrl.comments"
    home-performance="checklistItemStubCtrl.homePerformance">
</checklist-item-mrf>
