<div class="file-manager flex-row">
    <div class="file-manager-actions flex-item-static">
        <button
            class="btn"
            data-ng-if="fileManagerCtrl.uploadOnly==='true'"
            type="button">

            Upload
        </button>

        <!--
        <div dropdown="dropdown" data-ng-if="fileManagerCtrl.uploadOnly==='false'">
            <button
                type="button"
                class="btn"
                dropdown-toggle="dropdown-toggle">

                Add <i class="fa fa-caret-down" aria-hidden="true"></i>
            </button>

            <nav
                class="drop-down drop-down-left hidden"
                dropdown-menu="dropdown-menu"
                role="menu">

                <button
                    class="drop-down-item"
                    type="button"
                    role="menuitem">

                    From Computer
                </button>

                <button
                    class="drop-down-item"
                    type="button"
                    role="menuitem">

                    From {{fileManagerCtrl.label}} Library
                </button>
            </nav>
        </div>
        -->

        <div popover="popover" data-ng-if="fileManagerCtrl.uploadOnly==='false'">
            <button
                type="button"
                popover-toggle="popover-toggle"
                class="btn">
                <i class="fa fa-plus" aria-hidden="true"></i> Add
            </button>

            <div class="popover popover-medium hidden" popover-body="popover-body">
                <div class="popover-panel-wrapper">
                    <section class="popover-panel">
                        <header class="popover-panel-header flex-row flex-align-center">
                            <div class="flex-item-static">
                                <button type="button" class="btn btn-link popover-close">
                                    <i class="fa fa-close" aria-hidden="true"></i> Close
                                </button>
                            </div>

                            <h5 class="flex-item-grow popover-panel-title">Add House Plan</h5>
                        </header>

                        <div class="popover-panel-body">
                            <button
                                type="button"
                                data-ng-click="fileManagerCtrl.addItem(item)"
                                data-ng-repeat="item in fileManagerCtrl.library"
                                class="drop-down-item popover-close">

                                {{item.Name}}
                            </button>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <div class="file-manager-list flex-item-grow">
        <ul class="list-unstyled">
            <li class="file-manager-file clearfix"
                data-ng-repeat="file in fileManagerCtrl.files track by file">
                {{::file}}
                <button
                    class="btn btn-no-label btn-link btn-remove pull-right"
                    type="button"
                    aria-label="Remove {{::file}}"
                    data-ng-click="fileManagerCtrl.removeFile(file)">

                    <i class="fa fa-remove" aria-hidden="true"></i>
                </button>
            </li>
        </ul>
    </div>
</div>
