<div class="file-manager">

    <status-message status="fileManagerCtrl.message"></status-message>

    <div class="flex-row">
        <div class="file-manager-actions flex-item-static" data-ng-if="fileManagerCtrl.enabled !== false">
            <div data-ng-if="fileManagerCtrl.uploadOnly==='true'">
                <label class="btn nowrap" for="{{::fileManagerCtrl.inputId}}">Upload {{::fileManagerCtrl.label}}</label>
                <input
                    accept="{{::fileManagerCtrl.accept}}"
                    class="hidden"
                    id="{{::fileManagerCtrl.inputId}}"
                    multiple="multiple"
                    name="{{::fileManagerCtrl.inputId}}"
                    ng-click="fileManagerCtrl.handleInputFileClick($event)"
                    type="file" />
            </div>

            <div dropdown="dropdown" data-ng-if="fileManagerCtrl.uploadOnly==='false'">
                <button
                    type="button"
                    class="btn"
                    dropdown-toggle="dropdown-toggle">

                    Add <i class="fa fa-caret-down" aria-hidden="true"></i>
                </button>

                <nav
                    class="drop-down drop-down-left hidden"
                    dropdown-menu="dropdown-menu"
                    role="menu"
                    popover="popover"
                    close-on-click="false">

                    <input
                        accept="{{::fileManagerCtrl.accept}}"
                        class="hidden"
                        id="fileInput-{{::fileManagerCtrl.inputId}}"
                        multiple="multiple"
                        name="fileInput-{{::fileManagerCtrl.inputId}}"
                        ng-click="fileManagerCtrl.handleInputFileClick($event)"
                        type="file" />

                    <div data-ng-if="fileManagerCtrl.CONTEXT_IS_ADMIN">
                        <button
                            class="drop-down-item"
                            type="button"
                            role="menuitem"
                            ng-click="fileManagerCtrl.triggerInput('fileInput-' + fileManagerCtrl.inputId)">

                            From Computer
                        </button>
                    </div>

                    <button
                        class="drop-down-item"
                        type="button"
                        role="menuitem"
                        popover-toggle="popover-toggle">

                        From {{fileManagerCtrl.label}}
                    </button>

                    <div class="popover popover-has-search popover-medium hidden" popover-body="popover-body">
                        <div class="popover-panel-wrapper">
                            <section class="popover-panel">
                                <header class="popover-panel-header flex-row flex-align-center">
                                    <div class="flex-item-static">
                                        <button type="button" class="btn btn-link popover-close">
                                            <i class="fa fa-close" aria-hidden="true"></i> Close
                                        </button>
                                    </div>

                                    <h5 class="flex-item-grow popover-panel-title">Add {{::(fileManagerCtrl.label === 'Template Library') ? 'Rating File' : fileManagerCtrl.label}}</h5>
                                </header>

                                <div class="popover-panel-search">
                                    <div class="form-group has-feedback">
                                        <label for="search_{{::fileManagerCtrl.inputId}}" class="sr-only">Search {{::fileManagerCtrl.label}}</label>

                                        <input
                                            data-ng-model="fileManagerCtrl.search"
                                            ng-model-options="{debounce: 200}"
                                            placeholder="Search"
                                            class="form-control"
                                            type="text"
                                            id="search_{{::fileManagerCtrl.inputId}}"
                                            name="search_{{::fileManagerCtrl.inputId}}" />

                                        <span class="form-control-feedback"><i class="fa fa-search" aria-hidden="true"></i></span>
                                    </div>
                                </div>

                                <div class="popover-panel-body">
                                    <div class="item-list">
                                        <button
                                            type="button"
                                            data-ng-click="fileManagerCtrl.addFileFromLibrary(item)"
                                            data-ng-repeat="item in fileManagerCtrl.library | filter:fileManagerCtrl.search"
                                            class="drop-down-item popover-close item-list-item">
                                            <div class="ellipsis" ng-if="fileManagerCtrl.showDetails === 'HousePlanLibrary'">
                                                <strong>{{item.Name}} - subplan {{item.SubplanName}}</strong>
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <div class="ellipsis">Builder: {{item.BuilderName}}</div>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <div class="ellipsis">Community: {{item.CommunityName}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ellipsis" ng-if="fileManagerCtrl.showDetails === 'File'">
                                                {{item.Name}}
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <div class="file-manager-list flex-item-grow">
            <ul class="list-unstyled">
                <li class="file-manager-file clearfix"
                    data-ng-repeat="file in fileManagerCtrl.files track by $index">
                    <!-- <a data-ng-href="{{'https://s3.amazonaws.com/' + $parent.fileManagerCtrl.s3Bucket + '/' + file.Key}}" data-ng-if="$parent.fileManagerCtrl.downloadable === 'true' && file.Key">{{file.name || file.Name}}</a> -->
                    <a
                        class="clickable-link"
                        data-ng-if="$parent.fileManagerCtrl.downloadable === 'true' && file.Key"
                        ng-click="$parent.fileManagerCtrl.downloadFile($event)"
                        download="{{file.Name}}"
                        data-url="{{$parent.fileManagerCtrl.getHvacUrl(file)}}">
                        {{file.name || file.Name}}
                    </a>
                    <span data-ng-if="$parent.fileManagerCtrl.downloadable !== 'true' || !file.Key">{{file.name || file.Name}}</span>
                    <button
                        class="btn btn-no-label btn-link btn-remove pull-right"
                        type="button"
                        aria-label="Remove {{::file.Name}}"
                        data-ng-click="fileManagerCtrl.removeFile(file)"
                        data-ng-if="fileManagerCtrl.enabled !== false">

                        <i class="fa fa-remove" aria-hidden="true"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>
