<div class="file-manager flex-row">
    <div class="file-manager-actions flex-item-static">

        <div data-ng-if="fileManagerCtrl.uploadOnly==='true'">
            <label class="btn nowrap" for="{{::fileManagerCtrl.inputId}}">Upload {{::fileManagerCtrl.label}}</label>
            <input class="hidden" accept="{{::fileManagerCtrl.accept}}" type="file" name="{{::fileManagerCtrl.inputId}}" id="{{::fileManagerCtrl.inputId}}" />
        </div>

        <div dropdown="dropdown" data-ng-if="fileManagerCtrl.uploadOnly==='false'">
            <button
                type="button"
                class="btn"
                dropdown-toggle="dropdown-toggle">

                Add <i class="fa fa-caret-down" aria-hidden="true"></i>
            </button>

            <nav
                class="drop-down drop-down-left hidden"
                dropdown-menu="dropdown-menu"
                role="menu"
                popover="popover"
                >

                <input id="fileInput" type="file"
                    accept="text/xml"
                    select-local-file="LocalFiles"
                    style="display:none;"
                    multiple />

                <div data-ng-if="fileManagerCtrl.CONTEXT_IS_ADMIN">
                    <button
                        class="drop-down-item"
                        type="button"
                        role="menuitem"
                        accept="text/xml"
                        onclick="document.getElementById('fileInput').click()">

                        From Computer
                    </button>
                </div>

                <button
                    class="drop-down-item"
                    type="button"
                    role="menuitem"
                    popover-toggle="popover-toggle">

                    From {{fileManagerCtrl.label}} Library
                </button>

                <div class="popover popover-has-search popover-medium hidden" popover-body="popover-body">
                    <div class="popover-panel-wrapper">
                        <section class="popover-panel">
                            <header class="popover-panel-header flex-row flex-align-center">
                                <div class="flex-item-static">
                                    <button type="button" class="btn btn-link popover-close">
                                        <i class="fa fa-close" aria-hidden="true"></i> Close
                                    </button>
                                </div>

                                <h5 class="flex-item-grow popover-panel-title">Add {{::fileManagerCtrl.label}}</h5>
                            </header>

                            <div class="popover-panel-search">
                                <div class="form-group has-feedback">
                                    <label for="search_{{::fileManagerCtrl.inputId}}" class="sr-only">Search {{::fileManagerCtrl.label}}</label>

                                    <input
                                        data-ng-model="fileManagerCtrl.search"
                                        ng-model-options="{debounce: 200}"
                                        placeholder="Search"
                                        class="form-control"
                                        type="text"
                                        id="search_{{::fileManagerCtrl.inputId}}"
                                        name="search_{{::fileManagerCtrl.inputId}}" />

                                    <span class="form-control-feedback"><i class="fa fa-search" aria-hidden="true"></i></span>
                                </div>
                            </div>

                            <div class="popover-panel-body">
                                <div>
                                    <button
                                        type="button"
                                        data-ng-click="fileManagerCtrl.addFile(item)"
                                        data-ng-repeat="item in fileManagerCtrl.library | filter:fileManagerCtrl.search"
                                        class="drop-down-item popover-close">
                                        <div ng-if="fileManagerCtrl.showDetails === 'HousePlanLibrary'">
                                            {{item.Name}} - subplan {{item.SubplanName}}
                                            <br>
                                            <span>
                                                <div class="popover-panel-subtext">Builder: {{item.BuilderName}}</div><div class="popover-panel-subtext">Community: {{item.CommunityName}}</div>
                                            </span>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="file-manager-list flex-item-grow">
        <ul class="list-unstyled">
            <li class="file-manager-file clearfix"
                data-ng-repeat="file in fileManagerCtrl.files track by $index">
                {{file.name}}
                {{file.Name}}

                <button
                    class="btn btn-no-label btn-link btn-remove pull-right"
                    type="button"
                    aria-label="Remove {{::file.Name}}"
                    data-ng-click="fileManagerCtrl.removeFile(file._id)">

                    <i class="fa fa-remove" aria-hidden="true"></i>
                </button>
            </li>
        </ul>
    </div>
</div>
