.flex-container {
    display: flex;
}

.flex-justify-end {
    justify-content: flex-end;
}

.flex-justify-between {
    justify-content: space-between;
}

.flex-align-center {
    align-items: center;
}

.flex-item-static {
    flex-grow: 0;
}

.flex-item-grow {
    flex-grow: 1;
}

.fluid-container {
    @extend %clearfix;
}

.col {
    padding: $gutter-half;
}
