@import '../../../../scss/variables';
@import '../../../../scss/mixins';
@import '../../../../scss/utilities';

.linear-progress {
    background-color: $brand-auxillary;
    height: $linear-progress-thickness;
    overflow: hidden;
    width: 100%;

    &.not-applicable {
        background-image: repeating-linear-gradient(45deg, transparent, transparent ($linear-progress-thickness / 2), $body-bg ($linear-progress-thickness / 2), $body-bg $linear-progress-thickness);
    }
}

.linear-must-correct,
.linear-verified {
    float: left;
    height: $linear-progress-thickness;
    transition: width $transition-slow ease-out;
}

.linear-must-correct {
    background-color: $status-error;
}

.linear-verified {
    background-color: $status-correct;
}
