<section aria-labelledby="category-header-{{::key}}" data-ng-repeat="(key, value) in jobChecklistStageCtrl.CATEGORIES">
     <h2 aria-labelledby="category-header-{{::key}}" class="checklist-stage-title">
        <img data-ng-src="img/icon-{{::key}}.svg" alt="" />
        <span class="">{{::value.Name}}</span>
    </h2>

    <checklist-item
        data-ng-repeat="checklistItem in jobChecklistStageCtrl.jobDisplayList[value.Key][jobChecklistStageCtrl.stageKey] track by $index"
        item-id="{{::checklistItem.checklistItemRef}}"
        item-category="{{::value.Key}}"
        item-category-progress="{{::jobChecklistStageCtrl.stageKey}}">
    </checklist-item>
</section>
