<div class="form-group form-group-mrf-field"
    data-ng-class="{'has-error' : fieldIntegerCtrl.invalid, 'form-group-horizontal' : fieldIntegerCtrl.field.Unit}">

    <label for="{{::fieldIntegerCtrl.field.Key}}" class="control-label">
        <i class="fa fa-list-alt" aria-hidden="true" data-ng-if="::fieldIntegerCtrl.field.IsLibraryAttribute"></i>
        {{::fieldIntegerCtrl.field.Name}}
    </label>

    <input
        id="{{::fieldIntegerCtrl.field.Key}}"
        name="{{::fieldIntegerCtrl.field.Key}}"
        class="form-control"
        type="number"
        data-ng-blur="fieldIntegerCtrl.validate()"
        data-ng-keypress="fieldIntegerCtrl.handleKeypress($event)"
        data-ng-model="fieldIntegerCtrl.value" />

    <abbr
        class="input-unit"
        data-ng-if="::fieldIntegerCtrl.field.Unit"
        title="{{::fieldIntegerCtrl.field.Unit.Title}}">

        {{::fieldIntegerCtrl.field.Unit.Abbr}}
    </abbr>

    <p class="form-control-error" role="alert" data-ng-class="{'has-error' : fieldIntegerCtrl.invalid}">
        {{fieldIntegerCtrl.errorMessage}}
    </p>
</div>
