<div class="form-group" data-ng-class="{'has-error' : fieldIntegerCtrl.invalid}">
    <label for="{{::fieldIntegerCtrl.field.Key}}" class="control-label">
        <i class="fa fa-list-alt" aria-hidden="true" data-ng-if="fieldIntegerCtrl.field.IsLibraryAttribute"></i>
        {{::fieldIntegerCtrl.field.Name}}
    </label>

    <input
        id="{{::fieldIntegerCtrl.field.Key}}"
        name="{{::fieldIntegerCtrl.field.Key}}"
        class="form-control"
        type="number"
        data-ng-blur="fieldIntegerCtrl.validate()"
        data-ng-model="fieldIntegerCtrl.value" />


    <p class="form-control-error" role="alert" data-ng-class="{'has-error' : fieldIntegerCtrl.invalid}">
        {{fieldIntegerCtrl.errorMessage}}
    </p>
</div>
