<div class="flex-row">
    <div class="equipment-type flex-col flex-item-grow">
        <div class="form-group">
            <label for="equipment-type-{{::hvacEquipmentCtrl.equipment.id}}" class="sr-only">Equipment Type</label>
            <select
                class="form-control"
                data-ng-options="type.name for type in hvacEquipmentCtrl.EQUIPMENT_TYPE track by type.key"
                data-ng-model="hvacEquipmentCtrl.selectedEquipmentType"
                data-ng-change="hvacEquipmentCtrl.onEquipmentTypeChange()"
                id="equipment-type-{{::hvacEquipmentCtrl.equipment.id}}">
            </select>
        </div>
    </div>

    <div class="equipment-actions flex-col flex-item-static flex-item-pull-right">
        <button
            aria-label="Delete"
            class="btn btn-link btn-no-label"
            type="button"
            data-ng-click="hvacEquipmentCtrl.onDeleteEquipment()">

            <i class="fa fa-remove" aria-hidden="true"></i>
        </button>
    </div>
</div>

<div class="flex-row">
    <div class="equipment-details flex-col flex-item-grow">
        <div class="row row-condensed" data-ng-class="{'hidden' : hvacEquipmentCtrl.equipment.Type !== hvacEquipmentCtrl.EQUIPMENT_TYPE[0].key}">
            <div class="form-group col-xs-4 furnace-equipment-manufacturer">

                <label for="furnace-equipment-manufacturer-{{::hvacEquipmentCtrl.equipment.id}}" class="sr-only">Equipment Manufacturer</label>

                <div
                    class="type-ahead"
                    type-ahead="type-ahead"
                    type-ahead-delay="125"
                    type-ahead-min-input-lenght="0"
                    type-ahead-max-results="5">

                    <input
                        class="form-control"
                        data-ng-model="hvacEquipmentCtrl.equipment.Furnace.Manufacturer"
                        data-ng-model-options="{debounce: 125}"
                        data-ng-change="hvacEquipmentCtrl.updatedFilteredEquipment('HVAC', hvacEquipmentCtrl.equipment.Furnace.Manufacturer)"
                        id="furnace-equipment-manufacturer-{{::hvacEquipmentCtrl.equipment.id}}"
                        name="Furnace"
                        placeholder="Manufacturer"
                        type="text"
                        type-ahead-input="type-ahead-input" />

                    <div
                        class="type-ahead-results"
                        type-ahead-result-data="hvacEquipmentCtrl.filteredManufacturers.HVAC"
                        type-ahead-results="type-ahead-results">
                            <button
                                class="btn btn-link btn-block type-ahead-result"
                                data-ng-click="hvacEquipmentCtrl.setEquipmentManfacturer('Furnace', manufacturer.name)"
                                data-ng-repeat="manufacturer in hvacEquipmentCtrl.filteredManufacturers.HVAC track by manufacturer.name"
                                type="button">
                                {{manufacturer.name}}
                            </button>
                    </div>
                </div>
            </div>

            <div class="form-group col-xs-4">
                <label for="furnace-equipment-model-{{::hvacEquipmentCtrl.equipment.id}}" class="sr-only">Equipment Model</label>
                <input
                    class="form-control"
                    data-ng-model="hvacEquipmentCtrl.equipment.Furnace.Model"
                    id="furnace-equipment-model-{{::hvacEquipmentCtrl.equipment.id}}"
                    placeholder="Equipment Model"
                    type="text" />
            </div>

            <div class="form-group col-xs-4">
                <label for="furnace-equipment-serial-number-{{::hvacEquipmentCtrl.equipment.id}}" class="sr-only">Serial Number</label>

                <div class="input-group">
                    <input
                        class="form-control"
                        data-ng-model="hvacEquipmentCtrl.equipment.Furnace.SerialNumber"
                        id="furnace-equipment-serial-number-{{::hvacEquipmentCtrl.equipment.id}}"
                        placeholder="Serial Number"
                        type="text" />

                    <!-- <button
                        aria-label="Scan Barcode"
                        class="btn input-add-on"
                        data-ng-click="hvacEquipmentCtrl.onScanBarcode('Furnace')"
                        type="button">

                        <i class="fa fa-barcode" aria-hidden="true"></i>
                    </button> -->
                </div>
            </div>
        </div>

        <div class="row row-condensed" data-ng-class="{'hidden' : hvacEquipmentCtrl.equipment.Type === hvacEquipmentCtrl.EQUIPMENT_TYPE[0].key}">
            <h5 class="col-xs-2">Condenser</h5>

            <div class="form-group col-xs-4">
                <label for="condenser-equipment-manufacturer-{{::hvacEquipmentCtrl.equipment.id}}" class="sr-only">Equipment Manufacturer</label>

                <div
                    class="type-ahead"
                    type-ahead="type-ahead"
                    type-ahead-delay="125"
                    type-ahead-min-input-lenght="0"
                    type-ahead-max-results="5">

                    <input
                        class="form-control"
                        data-ng-model="hvacEquipmentCtrl.equipment.Condenser.Manufacturer"
                        data-ng-model-options="{debounce: 125}"
                        data-ng-change="hvacEquipmentCtrl.updatedFilteredEquipment('HVAC', hvacEquipmentCtrl.equipment.Condenser.Manufacturer)"
                        id="condenser-equipment-manufacturer-{{::hvacEquipmentCtrl.equipment.id}}"
                        name="Condenser"
                        placeholder="Manufacturer"
                        type="text"
                        type-ahead-input="type-ahead-input" />

                    <div
                        class="type-ahead-results"
                        type-ahead-result-data="hvacEquipmentCtrl.filteredManufacturers.HVAC"
                        type-ahead-results="type-ahead-results">
                            <button
                                class="btn btn-link btn-block type-ahead-result"
                                data-ng-click="hvacEquipmentCtrl.setEquipmentManfacturer('Condenser', manufacturer.name)"
                                data-ng-repeat="manufacturer in hvacEquipmentCtrl.filteredManufacturers.HVAC track by manufacturer.name"
                                type="button">
                                {{manufacturer.name}}
                            </button>
                    </div>
                </div>
            </div>

            <div class="form-group col-xs-3">
                <label for="condenser-equipment-model-{{::hvacEquipmentCtrl.equipment.id}}" class="sr-only">Equipment Model</label>
                <input
                    class="form-control"
                    data-ng-model="hvacEquipmentCtrl.equipment.Condenser.Model"
                    id="condenser-equipment-model-{{::hvacEquipmentCtrl.equipment.id}}"
                    placeholder="Equipment Model"
                    type="text" />
            </div>

            <div class="form-group col-xs-3">
                <label for="condenser-equipment-serial-number-{{::hvacEquipmentCtrl.equipment.id}}" class="sr-only">Serial Number</label>

                <div class="input-group">
                    <input
                        type="text"
                        class="form-control"
                        data-ng-model="hvacEquipmentCtrl.equipment.Condenser.SerialNumber"
                        id="condenser-equipment-serial-number-{{::hvacEquipmentCtrl.equipment.id}}"
                        placeholder="Serial Number" />

                    <!-- <button
                        aria-label="Scan Barcode"
                        class="btn input-add-on"
                        data-ng-click="hvacEquipmentCtrl.onScanBarcode('Condenser')"
                        type="button">

                        <i class="fa fa-barcode" aria-hidden="true"></i>
                    </button> -->
                </div>
            </div>
        </div>

        <div class="row row-condensed" data-ng-class="{'hidden' : hvacEquipmentCtrl.equipment.Type === hvacEquipmentCtrl.EQUIPMENT_TYPE[0].key}">
            <h5 class="col-xs-2">Evaporator</h5>

            <div class="form-group col-xs-4">
                <label for="evaporator-equipment-manufacturer-{{::hvacEquipmentCtrl.equipment.id}}" class="sr-only">Equipment Manufacturer</label>

                <div
                    class="type-ahead"
                    type-ahead="type-ahead"
                    type-ahead-delay="125"
                    type-ahead-min-input-lenght="0"
                    type-ahead-max-results="5">

                    <input
                        class="form-control"
                        data-ng-model="hvacEquipmentCtrl.equipment.Evaporator.Manufacturer"
                        data-ng-model-options="{debounce: 125}"
                        data-ng-change="hvacEquipmentCtrl.updatedFilteredEquipment('HVAC', hvacEquipmentCtrl.equipment.Evaporator.Manufacturer)"
                        id="evaporator-equipment-manufacturer-{{::hvacEquipmentCtrl.equipment.id}}"
                        name="Evaporator"
                        placeholder="Manufacturer"
                        type="text"
                        type-ahead-input="type-ahead-input" />

                    <div
                        class="type-ahead-results"
                        type-ahead-result-data="hvacEquipmentCtrl.filteredManufacturers.HVAC"
                        type-ahead-results="type-ahead-results">
                            <button
                                class="btn btn-link btn-block type-ahead-result"
                                data-ng-click="hvacEquipmentCtrl.setEquipmentManfacturer('Evaporator', manufacturer.name)"
                                data-ng-repeat="manufacturer in hvacEquipmentCtrl.filteredManufacturers.HVAC track by manufacturer.name"
                                type="button">
                                {{manufacturer.name}}
                            </button>
                    </div>
                </div>


            </div>

            <div class="form-group col-xs-3">
                <label for="evaporator-equipment-model-{{::hvacEquipmentCtrl.equipment.id}}" class="sr-only">Equipment Model</label>

                <input
                    class="form-control"
                    data-ng-model="hvacEquipmentCtrl.equipment.Evaporator.Model"
                    id="evaporator-equipment-model-{{::hvacEquipmentCtrl.equipment.id}}"
                    placeholder="Equipment Model"
                    type="text" />
            </div>

            <div class="form-group col-xs-3">
                <label for="evaporator-equipment-serial-number-{{::hvacEquipmentCtrl.equipment.id}}" class="sr-only">Serial Number</label>

                <div class="input-group">
                    <input
                        class="form-control"
                        data-ng-model="hvacEquipmentCtrl.equipment.Evaporator.SerialNumber"
                        id="evaporator-equipment-serial-number-{{::hvacEquipmentCtrl.equipment.id}}"
                        placeholder="Serial Number"
                        type="text" />

                    <!-- <button
                        aria-label="Scan Barcode"
                        class="btn input-add-on"
                        data-ng-click="hvacEquipmentCtrl.onScanBarcode('Evaporator')"
                        type="button">

                        <i class="fa fa-barcode" aria-hidden="true"></i>
                    </button> -->
                </div>
            </div>
        </div>
    </div>
</div>
