<div class="checklist-item flex-row flex-justify-between checklist-item-not-applicable">
    <header class="checklist-item-header">
        <h4 class="checklist-item-title">{{::checklistItemCtrl.display.Shorthand}}</h4>
    </header>

    <div data-ng-if="checklistItemCtrl.applicableHouses.length === 1" class="nowrap">
        Applicable to <a class="btn btn-link applicable-sample-item ellipsis" data-ui-sref=".({houseId: checklistItemCtrl.applicableHouses[0].HouseId})" data-ng-bind-html="checklistItemCtrl.applicableHouses[0].title"></a>
    </div>

    <div data-ng-if="checklistItemCtrl.applicableHouses.length > 1" dropdown="dropdown">
        Applicable to
        <button
            type="button"
            class="btn btn-link ellipsis"
            dropdown-toggle="dropdown-toggle">

            {{::checklistItemCtrl.applicableHouses.length}} Other Houses
        </button>

        <nav
            class="list-unstyled drop-down hidden"
            dropdown-menu="dropdown-menu">
            <a data-ui-sref="{houseId: house.HouseId}" class="drop-down-item applicable-sample-item ellipsis" data-ng-repeat="house in checklistItemCtrl.applicableHouses" data-ng-bind-html="house.title"></a>
        </nav>
    </div>
</nav>

</div>
