<div class="login-container flip-container">
        <form
            class="reset-password-panel flip-front flip-panel"
            name="userResetPasswordPageCtrl.userSettings"
            data-ng-submit="userResetPasswordPageCtrl.onSubmit()"
            novalidate>
            <h2>Reset Password</h2>
            <status-message status="userResetPasswordPageCtrl.message"></status-message>
            <div class="form-group">
                <label for="confirmCode" class="control-label">Confirmation Code</label>
                <input
                    name="confirmCode"
                    data-ng-model="userResetPasswordPageCtrl.confirmCode"
                    required="required"
                    type="text"
                    class="form-control"
                    id="confirmCode" />
                <p class="note">Please enter the confirmation code that you recieved via email.</p>
            </div>

            <div class="form-group" data-ng-class="{'has-error' : userResetPasswordPageCtrl.userSettings.userId.$invalid && userResetPasswordPageCtrl.userSettings.userId.$dirty}">
                <label for="userId" class="control-label">Username</label>
                <input
                    name="userId"
                    data-ng-model="userResetPasswordPageCtrl.userId"
                    data-ng-pattern="userResetPasswordPageCtrl.userNamePattern"
                    data-ng-minlength="7"
                    type="text"
                    class="form-control"
                    id="userId" />

                    <p class="form-control-error">{{::userResetPasswordPageCtrl.VALIDATION_MESSAGE.USER_NAME}}</p>
            </div>

            <div class="form-group" data-ng-class="{'has-error' : userResetPasswordPageCtrl.userSettings.newPassword.$invalid && userResetPasswordPageCtrl.userSettings.newPassword.$dirty}">
                <label for="newPassword" class="control-label">New Password</label>
                <input
                    autocomplete="new-password"
                    name="newPassword"
                    data-ng-model="userResetPasswordPageCtrl.newPassword"
                    required="required"
                    type="password"
                    data-ng-minlength="8"
                    class="form-control"
                    data-ng-pattern="userResetPasswordPageCtrl.passwordPattern"
                    id="newPassword" />

                <p class="note">{{::userResetPasswordPageCtrl.VALIDATION_MESSAGE.PASSWORD}}</p>
            </div>

            <div class="form-group" data-ng-class="{'has-error' : userResetPasswordPageCtrl.userSettings.confirmPassword.$invalid && userResetPasswordPageCtrl.userSettings.confirmPassword.$dirty}">
                <label for="confirmPassword" class="control-label">Confirm Password</label>
                <input
                    autocomplete="new-password"
                    name="confirmPassword"
                    data-ng-model="userResetPasswordPageCtrl.confirmPassword"
                    required="required"
                    type="password"
                    data-ng-minlength="8"
                    class="form-control"
                    data-ng-pattern="userResetPasswordPageCtrl.passwordPattern"
                    id="confirmPassword" />

                    <p class="form-control-error">{{::userResetPasswordPageCtrl.VALIDATION_MESSAGE.CONFIRM_PASSWORD}}</p>
                </div>

            <div class="form-actions">
                <button type="submit" class="btn" data-ng-disabled="userResetPasswordPageCtrl.isBusy"><i data-ng-class="{'hidden' : !userResetPasswordPageCtrl.isBusy}" class="fa fa-circle-o-notch fa-spin fa-fw"></i> Log In</button>
            </div>
        </form>
</div>
