<div class="login-container flip-container">
        <form class="reset-password-panel flip-front flip-panel" name="resetPassword" data-ng-submit="userResetPasswordPageCtrl.onSubmit()" novalidate>
            <h2>Reset Password</h2>
            <status-message status="userResetPasswordPageCtrl.message"></status-message>
            <div class="form-group">
                <label for="resetPasswordConfirmationCode" class="control-label">Confirmation Code</label>
                <input
                    name="userId"
                    data-ng-model="userResetPasswordPageCtrl.confirmationCode"
                    required="required"
                    type="text"
                    class="form-control"
                    id="resetPasswordConfirmationCode" />
            </div>

            <div class="form-group">
                <label for="resetPasswordUserId" class="control-label">Username</label>
                <input
                    name="userId"
                    data-ng-model="userResetPasswordPageCtrl.user.userId"
                    type="text"
                    class="form-control"
                    id="resetPasswordUserId" />
            </div>

            <div class="form-group">
                <label for="resetPasswordPassword" class="control-label">Password</label>
                <input
                    name="password"
                    data-ng-model="userResetPasswordPageCtrl.user.password"
                    required="required"
                    type="password"
                    data-ng-minlength="8"
                    class="form-control"
                    data-ng-pattern="userRegisterPageCtrl.passwordPattern"
                    id="resetPasswordPassword" />

                <p class="note">Password must be at least 8 characters long, contain an upper and lower case letter, one digit and one special character (@$!%*#?&amp;)</p>
            </div>

            <div class="form-group">
                <label for="resetPasswordConfirmPassword" class="control-label">Confirm Password</label>
                <input
                    name="password"
                    data-ng-model="userResetPasswordPageCtrl.user.confirmPassword"
                    required="required"
                    type="password"
                    data-ng-minlength="8"
                    class="form-control"
                    data-ng-pattern="userRegisterPageCtrl.passwordPattern"
                    id="resetPasswordConfirmPassword" />
            </div>

            <div class="form-actions">
                <button type="submit" class="btn" data-ng-disabled="userResetPasswordPageCtrl.isBusy"><i data-ng-class="{'hidden' : !userResetPasswordPageCtrl.isBusy}" class="fa fa-circle-o-notch fa-spin fa-fw"></i> Log In</button>
            </div>
        </form>
</div>
