@import '../../../../../epahomeratingapp-ui/common-ui/scss/variables';

.reset-password-panel,
.register-user-panel {
    .note {
        font-size: $font-size-small;
    }

    .has-error .form-control-error {
        position: static;
    }
}
