<div class="checklist-item">
    <header>
        <h4 class="checklist-item-title">{{::checklistItemCtrl.checklistItem.Shorthand}}</h4>
        <button class="btn btn-link text-muted" type="button"><i class="fa fa-info-circle" aria-label="More Information"></i></button>
    </header>

    <section data-ng-repeat="mrfTable in checklistItemCtrl.checklistItem.Sections">
        <h5 class="table-caption">{{::mrfTable.Name}}</h5>
        <div class="table-responsive">
            <table>
                <thead>
                    <tr>
                        <th data-ng-repeat="columnHeader in mrfTable.Columns">{{::columnHeader.Name}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="dataRow in checklistItemCtrl.homePerformance[mrfTable.Key]">
                        <td data-ng-repeat="(key, value) in dataRow">{{value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <div class="flex-container flex-justify-end">
        <checklist-item-comments></checklist-item-comments>

        <div class="verification">
            <button-group
                class="button-group"
                buttons="checklistItemCtrl.responseButtons"
                initial-value="checklistItemCtrl.response"
                on-set-value="checklistItemCtrl.onSetResponse(response)">
            </button-group>
        </div>
    </div>
</div> <!-- .checklist-item -->
