<div class="checklist-item">
    <header class="checklist-item-header">
        <button class="checklist-item-info-toggle btn btn-link btn-no-label" type="button"><i class="fa fa-info-circle" aria-label="More Information"></i></button>
        <h4 class="checklist-item-title">{{::checklistItemCtrl.display.Shorthand}}</h4>
    </header>

    <section data-ng-repeat="mrfTable in checklistItemCtrl.display.Sections track by $index">
        <h5 class="table-caption">{{mrfTable.Name}}</h5>
        <div class="table-responsive"  data-ng-if="checklistItemCtrl.hasRows(checklistItemCtrl.homePerformance[mrfTable.Key])">
            <table>
                <thead>
                    <tr>
                        <th data-ng-repeat="columnHeader in mrfTable.Columns track by $index">{{::columnHeader.Name}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        data-ng-repeat="dataRow in checklistItemCtrl.homePerformance[mrfTable.Key] track by $index"
                        data-ng-click="checklistItemCtrl.editMrfRow($index, mrfTable.Key, mrfTable.Name, mrfTable.Columns, checklistItemCtrl.homePerformance[mrfTable.Key][$index])">

                        <td data-ng-repeat="(key, value) in dataRow track by $index" ng-if="key !== 'Id'" data-ng-class="{'td-edited' : checklistItemCtrl.attributeIsEdited(mrfTable.Key, $parent.$parent.$index, key)}">{{value}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <p class="empty-table-text" data-ng-if="!checklistItemCtrl.hasRows(checklistItemCtrl.homePerformance[mrfTable.Key])">{{mrfTable.EmptyTableText}}</p>
    </section>

    <div class="flex-row flex-align-center flex-justify-end">
        <checklist-item-comments
            comments="checklistItemCtrl.comments"
            item-id="{{checklistItemCtrl.itemId}}"
            on-comment="checklistItemCtrl.postComment(comment)">
        </checklist-item-comments>

        <checklist-item-response
            response="checklistItemCtrl.response"
            response-house-id="checklistItemCtrl.responseHouseId"
            data-ng-hide="checklistItemCtrl.showResponseButtons"
            edit-response="checklistItemCtrl.onEditResponse()">
        </checklist-item-response>

        <div class="verification"
             data-ng-hide="!checklistItemCtrl.showResponseButtons">
            <button-group
                class="button-group"
                buttons="checklistItemCtrl.responseButtons"
                initial-value="checklistItemCtrl.response"
                on-set-value="checklistItemCtrl.onSetResponse(response)">
            </button-group>
        </div>
    </div>

    <mrf-edit
        data-ng-repeat="row in checklistItemCtrl.editRow"
        on-save-mrf-row="checklistItemCtrl.onSaveMrfRow(mrfRowEditData)"
        on-cancel-mrf-row="checklistItemCtrl.onCancelMrfRow()"
        title="{{row.title}}"
        mrf-digest="row.mrfDigest"
        mrf-data="row.mrfData"
        library-type-name-key="{{row.LibraryTypeNameKey}}">
    </mrf-edit>

    <mrf-edit-duct-system
        data-ng-repeat="row in checklistItemCtrl.editDuctSystemRow"
        on-save-mrf-row="checklistItemCtrl.onSaveDuctSystemMrfRow(mrfRowEditData)"
        on-cancel-mrf-row="checklistItemCtrl.onCancelDuctSystemMrfRow()"
        title="{{row.title}}"
        mrf-digest="row.mrfDigest"
        mrf-data="row.mrfData"
        library-type-name-key="{{row.LibraryTypeNameKey}}">
    </mrf-edit-duct-system>

    <mrf-edit-infiltration
        data-ng-repeat="row in checklistItemCtrl.editInfiltrationRow"
        on-save-mrf-row="checklistItemCtrl.onSaveInfiltrationMrfRow(mrfRowEditData)"
        on-cancel-mrf-row="checklistItemCtrl.onCancelInfiltrationMrfRow()"
        title="{{row.title}}"
        mrf-digest="row.mrfDigest"
        mrf-data="row.mrfData"
        library-type-name-key="{{row.LibraryTypeNameKey}}">
    </mrf-edit-infiltration>
</div> <!-- .checklist-item -->
