<div class="job-select flex-item-static flex-row flex-align-center">
    <div data-ng-if="jobCtrl.CONTEXT_IS_APP">
        <toggle
            handle-change="jobCtrl.handleAvailableOfflineChange(isOn)"
            toggle-class="jobCtrl.toggleStatusClass"
            toggle-confirmation-dialog="{{jobCtrl.DIALOG}}"
            toggle-id="{{jobCtrl.job._id}}"
            toggle-value="jobCtrl.job.offlineAvailable">Make Job Available offline: <span data-ng-bind-html="jobCtrl.JobTitle"></span></span>
        </toggle>
    </div>
</div>

<a aria-labelledby="job-{{jobCtrl.job._id}}"
   class="job flex-row flex-align-center flex-item-grow"
   data-ng-class="{'job-returned': jobCtrl.hasStatusLabel()}"
   data-ui-sref="job-checklist.category({id: jobCtrl.job._id, houseId: jobCtrl.job.Primary.HouseId, categoryId: 'walls'})">

    <div class="job-info">
        <div class="job-meta">
            <span class="label label-rating-type" data-ng-class="jobCtrl.RatingTypeClass">{{::jobCtrl.RatingType}}</span>
            <span class="label label-sample-set" data-ng-if="jobCtrl.isSample">Sample Set: {{::jobCtrl.sampleQuantity}} <i class="fa fa-map-marker" aria-hidden="true"></i></span>
        </div>

        <h3 class="list-item-title job-title" id="job-{{jobCtrl.job._id}}" data-ng-bind-html="jobCtrl.JobTitle"></h3>

        <div class="job-history">
            <span class="last-update small"><strong>{{::jobCtrl.lastUpdateType}}:</strong> {{::jobCtrl.lastUpdateTime}}</span>
        </div>

    </div>

    <div class="job-status">
        <span class="label label-job-status label-status-returned" data-ng-if="jobCtrl.job.ReturnedFromInternal">Returned from QA</span>
        <span class="label label-job-status label-status-returned" data-ng-if="jobCtrl.job.ReturnedFromProvider">Returned from Provider</span>
    </div>

    <div class="job-progress">
        <div class="radial-progress"><radial-progress title="Pre-drywall" progress="jobCtrl.job.Progress.PreDrywall" /></radial-progress></div>
        <div class="radial-progress"><radial-progress title="Final" progress="jobCtrl.job.Progress.Final" /></radial-progress></div>
    </div>

    <i class="list-item-activate fa fa-chevron-right fa-lg" aria-hidden="true"></i>
</a>
