@import '../../../../scss/variables';
@import '../../../../scss/mixins';
@import '../../../../scss/utilities';

$job-photo-width:   115px;
$job-photo-height:  115px;

.job {
    cursor: pointer;
    padding: $gutter-half;
    position: relative;

    &.job-returned {
        padding-top: $gutter-half + $offset-default;
    }

    .fa-chevron-right {
        color: $link-color;
    }
}

.job-photos {
    align-self: flex-start;
    height: $job-photo-height;
    margin: 0 $gutter-half 0 0;
    min-width: $job-photo-width;
    width: $job-photo-width;
}

.job-info {
    align-self: flex-start;
}

.job-id {
    color: $text-color-muted;
    font-size: $font-size-small;
}

.job-title {
    margin: 0 0 $offset-small;
}

.job-history {
    color: $text-color-muted;
    line-height: $line-height-small;
}

.job-status {
    left: 0;
    position: absolute;
    top: 0;
}

.last-update {
    display: block;
}

.data-sync-status {
    font-weight: bold;
}

.job-house-quantity {
    margin: 0 $gutter-full 0 auto;

    .fa {
        margin-right: $offset-small;
    }
}

.job-progress {
    flex-shrink: 0;
    width: 200px;

    .radial-progress {
        float: left;
    }
}
