<form class="jobs-search flex-row">
    <p class="search-meta">
        <strong>{{::jobsSearchCtrl.quantity}} <ng-pluralize count="jobsSearchCtrl.quantity" when="{'one' : 'Job', 'other' : 'Jobs'}"></ng-pluralize></strong> <span data-ng-bind-html="::jobsSearchCtrl.filterTextString"></span>
    </p>

    <div class="flex-item-static">
        <button data-ng-if="jobsSearchCtrl.hasFilters" class="btn-link-inline nowrap" type="button" data-ng-click="jobsSearchCtrl.clear()"> Clear All Filters</button>
    </div>

    <div
        class="job-search-popover-wrapper popover-wrapper flex-item-pull-right flex-item-static flex-item-fixed-width"
        id="job-search-popover"
        popover="popover" >

        <button
            popover-toggle="popover-toggle"
            class="btn btn-link btn-search"
            type="button">

            <i class="fa fa-filter fa-lg" aria-hidden="true"></i> Filter
        </button>

        <div class="popover popover-small popover-jobs-search checklist-filter-popover hidden" popover-body="popover-body">
            <div class="popover-panel-wrapper">
                <section class="popover-panel">
                    <header class="popover-panel-header flex-row">
                        <button
                            class="btn btn-link flex-item-static"
                            ng-click="jobsSearchCtrl.reset()"
                            type="button">
                            Clear
                        </button>

                        <h5 class="popover-panel-title flex-item-grow">Filter</h5>

                        <button
                            class="btn btn-link popover-close flex-item-static"
                            data-ng-click="jobsSearchCtrl.search()"
                            type="button">

                            Filter
                        </button>
                    </header>

                    <div class="popover-panel-body item-list" data-ng-class="{'popover-subpanel-active' : jobsSearchCtrl.subPanelActive}">
                        <search-filter-keywords
                            class="item-list-item"
                            register-filter="jobsSearchCtrl.registerFilter(filter)">
                        </search-filter-keywords>

                        <search-filter-house-plan
                            class="item-list-item"
                            register-filter="jobsSearchCtrl.registerFilter(filter)"
                            on-show-sub-panel="jobsSearchCtrl.showSubPanel(show)">
                        </search-filter-house-plan>

                        <search-filter-builder
                            class="item-list-item"
                            register-filter="jobsSearchCtrl.registerFilter(filter)">
                        </search-filter-builder>

                        <search-filter-job-type
                            class="item-list-item"
                            register-filter="jobsSearchCtrl.registerFilter(filter)">
                        </search-filter-job-type>

                        <search-filter-rating-type
                            class="item-list-item"
                            register-filter="jobsSearchCtrl.registerFilter(filter)">
                        </search-filter-rating-type>

                        <search-filter-must-correct
                            class="item-list-item"
                            register-filter="jobsSearchCtrl.registerFilter(filter)">
                        </search-filter-must-correct>
                    </div>
                </section>
            </div>
        </div>
    </div>
</form>
