<form class="modal modal-large modal-scroll-body" novalidate name="checklistItemMrfEditCtrl.mrfEditForm" data-ng-class="{'hidden' : !checklistItemMrfEditCtrl.showMrfEditModal}">
    <div class="modal-header flex-row">
        <div class="flex-item-static">
            <button
                class="btn btn-link"
                type="button"
                data-ng-if="::!checklistItemMrfEditCtrl.isReview"
                data-ng-click="checklistItemMrfEditCtrl.cancel()">
                    Cancel
            </button>
        </div>

        <span class="modal-title flex-item-grow"><span data-ng-if="::!checklistItemMrfEditCtrl.isReview">Edit</span> {{::checklistItemMrfEditCtrl.title}}</span>

        <div class="flex-item-static">
            <button
                class="btn pull-right"
                data-ng-if="::!checklistItemMrfEditCtrl.isReview"
                data-ng-click="checklistItemMrfEditCtrl.save()"
                data-ng-disabled="checklistItemMrfEditCtrl.mrfEditForm.$invalid"
                type="submit">

                Save
            </button>
            <button
                class="btn pull-right"
                data-ng-if="::checklistItemMrfEditCtrl.isReview"
                data-ng-click="checklistItemMrfEditCtrl.cancel()"
                type="button">

                Close
            </button>
        </div>
    </div>

    <div class="modal-body-wrapper">
        <div class="modal-body">
            <div class="form-group col-xs-6"
                 data-ng-repeat="field in ::checklistItemMrfEditCtrl.mrfDigest track by $index"
                 data-ng-if="::field.Order !== '0' && checklistItemMrfEditCtrl.showField(field, checklistItemMrfEditCtrl.editMrfData[field.Key])">

                <mrf-edit-field-locked
                    data-ng-if="::field.Locked || checklistItemMrfEditCtrl.isReview"
                    field="field"
                    value="checklistItemMrfEditCtrl.editMrfData[field.Key]">
                </mrf-edit-field-locked>

                <div data-ng-if="::!field.Locked && !checklistItemMrfEditCtrl.isReview"
                     data-ng-switch on="field.DataType.Type">

                     <div ng-switch-when="Boolean">
                        <mrf-edit-field-boolean
                            field="field"
                            value="checklistItemMrfEditCtrl.editMrfData[field.Key]">
                        </mrf-edit-field-boolean>
                    </div>

                     <div ng-switch-when="ENUM">
                        <mrf-edit-field-enum
                            field="field"
                            value="checklistItemMrfEditCtrl.editMrfData[field.Key]">
                        </mrf-edit-field-enum>
                    </div>

                     <div ng-switch-when="Decimal">
                        <mrf-edit-field-decimal
                            field="field"
                            focus="{{checklistItemMrfEditCtrl.focus === field.Key}}"
                            ng-model="checklistItemMrfEditCtrl.mrfEditForm[field.Key]"
                            value="checklistItemMrfEditCtrl.editMrfData[field.Key]"
                            custom-error-message="field.ErrorMessage">
                        </mrf-edit-field-decimal>
                    </div>

                     <div ng-switch-when="Integer">
                        <mrf-edit-field-integer
                            field="field"
                            ng-model="checklistItemMrfEditCtrl.mrfEditForm[field.Key]"
                            value="checklistItemMrfEditCtrl.editMrfData[field.Key]">
                        </mrf-edit-field-integer>
                    </div>

                     <div ng-switch-when="String">
                        <mrf-edit-field-string
                            field="field"
                            value="checklistItemMrfEditCtrl.editMrfData[field.Key]">
                        </mrf-edit-field-string>
                    </div>

                     <div ng-switch-default>
                        <mrf-edit-field-default
                            field="field"
                            value="checklistItemMrfEditCtrl.editMrfData[field.Key]">
                        </mrf-edit-field-default>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div
    class="overlay overlay-modal"
    data-ng-class="{'hidden' : !checklistItemMrfEditCtrl.showMrfEditModal}">
</div>
