<label data-ng-class="{'job-select-marked' : jobAdminCtrl.marked}" class="job-select flex-item-static flex-row flex-align-center" aria-labelledby="job-{{jobAdminCtrl.job._id}}">
    <i class="fa fa-check" aria-hidden="true"></i>
    <span class="sr-only">Mark job for bulk operations.</span>
    <input class="form-control-check" type="checkbox" ng-model="jobAdminCtrl.marked" ng-click="jobAdminCtrl.setBulkOperationStatus()" />
</label>

<div class="flex-item-grow">
    <a aria-labelledby="job-{{jobAdminCtrl.job._id}}"
       class="job job-admin flex-row flex-align-center"
       data-ui-sref="job-checklist-review.category({id: jobAdminCtrl.job._id, houseId: jobAdminCtrl.job.Primary.HouseId, categoryId: 'walls', role: 'admin'})">

        <div class="job-info flex-item-grow">
            <div class="job-meta flex-row">
                <span class="label-rating-type" data-ng-class="::jobAdminCtrl.RatingTypeClass">{{::jobAdminCtrl.RatingType}}</span>
                <span class="label label-sample-set" data-ng-if="::jobAdminCtrl.isSample">Sample Set: {{::jobAdminCtrl.sampleQuantity}} <i class="fa fa-map-marker" aria-hidden="true"></i></span>
                <span class="last-update small"><strong>{{::jobAdminCtrl.lastUpdateType}}:</strong> {{::jobAdminCtrl.lastUpdateTime}}</span>
            </div>

            <h3 class="list-item-title job-title" id="job-{{jobAdminCtrl.job._id}}" data-ng-bind-html="jobAdminCtrl.JobTitle"></h3>

            <span class="job-builder">{{::jobAdminCtrl.job.Primary.Builder}}</span>
        </div>

        <div class="job-progress">
            <div class="radial-progress"><radial-progress title="Pre-drywall" progress="jobAdminCtrl.job.Progress.PreDrywall" /></radial-progress></div>
            <div class="radial-progress"><radial-progress title="Final" progress="jobAdminCtrl.job.Progress.Final" /></radial-progress></div>
        </div>

        <i class="list-item-activate fa fa-chevron-right fa-lg" aria-hidden="true"></i>
    </a>
</div>
