<nav class="nav" dropdown="dropdown" id="user-menu">
    <button
        data-ng-if="userMenuCtrl.menuIsVisible()"
        data-ng-click="userMenuCtrl.toggleDropDown()"
        class="btn btn-link"
        dropdown-toggle="dropdown-toggle">

        Hi <strong>{{userMenuCtrl.user.firstName}} {{userMenuCtrl.user.lastName}}</strong> <i class="fa fa-caret-down" aria-hidden="true"></i>
    </button>

    <nav
        class="drop-down hidden"
        dropdown-menu="dropdown-menu"
        role="menu">

        <button
            data-ng-click="userMenuCtrl.onLogout()"
            class="drop-down-item"
            type="button"
            role="menuitem">

            Logout
        </button>

        <button
            data-ng-if="userMenuCtrl.CONTEXT_IS_APP"
            data-ng-click="userMenuCtrl.onDiagnostics()"
            class="drop-down-item"
            type="button"
            role="menuitem">

            Diagnostics &amp; Feedback
        </button>
    </nav>
</nav>
