<div class="house-selection" data-ng-class="{'show-job-comments-button' : checklistHouseSelectionCtrl.isProviderRole}">
    <div class="page-container house-selection-toggle">
        <button
            type="button"
            class="btn btn-link btn-inverse btn-house-selection-toggle"
            data-ng-click="checklistHouseSelectionCtrl.onHouseSelectionToggle()">
                {{checklistHouseSelectionCtrl.toggleText}} <i class="fa fa-caret-down" data-ng-class="{'fa-rotate-180' : !checklistHouseSelectionCtrl.showNavbar}" aria-hidden="true"></i>
        </button>
    </div>

    <section class="page-container flex-row flex-align-center house-selection-selected" data-ng-class="{'collapse-height' : checklistHouseSelectionCtrl.showNavbar}">
        <button
            class="btn btn-job-comments"
            data-ng-if="checklistHouseSelectionCtrl.isProviderRole"
            data-ng-click="checklistHouseSelectionCtrl.showComments()">

            Job Comments
        </button>

        <h3 class="house-selection-title">You Are Rating:</h3>

        <figure class="house-photo">
            <img data-ng-src="{{checklistHouseSelectionCtrl.getSelectedHousePhoto()}}" />
        </figure>

        <div class="house-info flex-item-grow">
            <h4 class="house-title" data-ng-bind-html="checklistHouseSelectionCtrl.selectedHouseTitle"></h4>
            <span class="house-builder">Builder: {{checklistHouseSelectionCtrl.selectedHouse.Builder}}</span>
            <span class="house-plan">Rating File: {{checklistHouseSelectionCtrl.selectedHouse.HousePlan[0].Name}}</span>
        </div>
    </section>

    <nav class="navbar-house-selection page-container" data-ng-class="{'collapse-height' : !checklistHouseSelectionCtrl.showNavbar}">
        <h3 class="house-selection-title">{{::checklistHouseSelectionCtrl.sampleSize}} Addresses For This Sample Set</h3>

        <div class="house-selection-list flex-row">
            <house-selection-item
                house="checklistHouseSelectionCtrl.houses.Primary"
                is-primary="true"
                on-update-house-photo="checklistHouseSelectionCtrl.onUpdateHousePhoto(HouseId, photo, key)">
            </house-selection-item>

            <house-selection-item
                data-ng-repeat="house in checklistHouseSelectionCtrl.houses.Secondary"
                house="house"
                is-primary="false"
                on-update-house-photo="checklistHouseSelectionCtrl.onUpdateHousePhoto(HouseId, photo, key)">
            </house-selection-item>
        </div>
    </nav>
</div>

<!-- modal: history -->

<form class="modal modal-large modal-scroll-body hidden" modal="modal" id="modal-provider-job-comments" data-ng-submit="checklistHouseSelectionCtrl.saveProviderComment()">
    <div class="modal-header flex-row">
        <div class="flex-item-static">
            <button class="btn btn-link btn-modal-close" type="button">Close</button>
        </div>

        <span class="modal-title flex-item-grow">Comments</span>

        <div class="flex-item-static">
            <button class="btn btn-link btn-modal btn-modal-close" type="submit">Save</button>
        </div>
    </div>

    <div class="modal-body-wrapper">
        <div class="modal-body">
            <div class="form-group">
                <label for="providerComment" class="sr-only">Job Comments</label>
                <textarea
                    data-ng-model="checklistHouseSelectionCtrl.providerComment"
                    id="providerComment"
                    class="form-control job-comments-textarea">
                </textarea>
            </div>
        </div>
    </div>
</form>
