@import '../../../../../scss/variables';

.house-selection-toggle {
    padding: 0;
}

.house-selection-selected {
    color: $text-color-inverse;
    height: 100px;
    padding: $gutter-half;

    .house-photo {
        height: auto;
        margin: 0 $offset-large;
        width: 50px;
    }

    .house-plan {
        border-top: 0;
    }
}

.house-selection {
    background-color: $brand-tertiary;
    bottom: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: $zindex-fixed-footer;

    .btn-house-selection-toggle {
        background-color: $button-background-color-hover-inverse;
        border-radius: 0 0 $border-radius-default $border-radius-default;
        padding: $padding-large $gutter-half;
        position: absolute;
        right: $gutter-half;
        top: 0;
        z-index: $zindex-absolute;
    }

    .fa-caret-down {
        margin-left: $offset-small;
        transition: transform $transition-slow;
    }

    .house-selection-title {
        color: $text-color-inverse;
        font-size: $font-size-h6;
        font-weight: bold;
        margin: 0;
    }


    .btn-job-comments {
        position: absolute;
        top: $padding-large;
    }
}

.show-job-comments-button {
    .house-selection-selected {
        height: 150px;
        padding-top: 50px;

        &.collapse-height {
            height: 0;
            padding-bottom: 0;
            padding-top: 0;
        }
    }
}

.navbar-house-selection {
    height: 250px;
    padding: $gutter-half;

    .house-selection-title {
        margin-bottom: $offset-default;
    }
}

.house-selection-list {
    background-color: $body-bg;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: $gutter-half;

    .photo-capture {
        margin-right: 0;
    }

    .btn-lightbox {
        width: 100%;
    }
}

.house-selection-selected,
.navbar-house-selection {
    overflow-x: scroll;
    overflow-y: hidden;
    transition: height $transition-default, padding $transition-default;
}
.navbar-house-selection {
    position: relative;
}

.form-control.job-comments-textarea {
    height: 400px;
}
