<section class="page-container">
    <header class="page-header item-list-header clearfix">
        <h2 class="pull-left item-list-title">Provider Jobs</h2>
    </header>

    <div class="row">
        <div class="col-xs-3">
            <nav class="nav nav-stacked ">
                <a data-ui-sref="jobs-provider-search({status : 'Submitted to Provider'})" ui-sref-opts="{inherit: false}" class="nav-item">Submitted to Provider</a>
                <a data-ui-sref="jobs-provider-search({status : 'Registered'})" ui-sref-opts="{inherit: false}" class="nav-item">Registered</a>
            </nav>

            <!--
            <nav class="nav nav-stacked">
                <a href="#" class="nav-item nav-item-link">Archived</a>
                <a href="#" class="nav-item nav-item-link">Deleted</a>
            </nav>
            -->
        </div>

        <div class="col-xs-9 jobs">
            <div>
                <div class="form-group">
                    <label for="selectedRater" class="control-label">Select Rating Company</label>
                    <select
                        class="form-control"
                        data-ng-model="jobsProviderPageCtrl.selectedRater"
                        id="selectedRater"
                        data-ng-change="jobsProviderPageCtrl.handleRatingCompanyChange()"
                        data-ng-options="rater.Name for rater in jobsProviderPageCtrl.company.RelatedRaterCompanys track by rater.ProviderRESNETId">
                    </select>
                </div>
            </div>

            <jobs-search
                quantity="jobsProviderPageCtrl.jobs.length">
            </jobs-search>

            <div class="bulk-operation-bar">
                <label><input type="checkbox" ng-model="jobsProviderPageCtrl.checkAll" data-ng-change="jobsProviderPageCtrl.toggleAllJobs()"> Select All</label>

                <button class="btn" type="button" data-ng-click="jobsProviderPageCtrl.markAsRegistered()" data-ng-disabled="!jobsProviderPageCtrl.bulkOperationsAreEnabled">Mark as Registered</button>

                <button class="btn" type="button" data-ng-click="jobsProviderPageCtrl.bulkDownload()" data-ng-disabled="!jobsProviderPageCtrl.bulkOperationsAreEnabled">
                    <i ng-show="jobsProviderPageCtrl.downloadingRem" class="fa fa-circle-o-notch fa-spin fa-fw"></i>Download REM XML
                </button>

                <!--
                <button class="btn" type="button" data-ng-click="jobsProviderPageCtrl.flagForReview()" data-ng-disabled="!jobsProviderPageCtrl.bulkOperationsAreEnabled">
                    Archive
                </button>
                -->
            </div>

            <jobs
                jobs="jobsProviderPageCtrl.jobs"
                register-handlers="jobsProviderPageCtrl.registerHandlers(toggleAllJobs, getSelectedJobs)"
                on-mark-job-as-registered="jobsProviderPageCtrl.markJobRegistered(jobId)"
                on-download-xml="jobsProviderPageCtrl.downloadXml(jobId)"
                on-set-bulk-operation-status="jobsProviderPageCtrl.setBulkOperationStatus(status)">
            </jobs>
        </div>
    </div>
</section>
